---
- include_tasks: "{{ sf_tasks_dir }}/create_user.yml"
  vars:
    user_name: opensearch-dashboards

- name: Get opensearch-dashboards uid
  command: id -u opensearch-dashboards
  register: _opensearch_dashboards_id

- name: Expose opensearch-dashboards uid
  set_fact:
    opensearch_dashboards_uid: "{{ _opensearch_dashboards_id.stdout }}"

- name: Check container image version
  include_role:
    name: sf-container
    tasks_from: check_version.yaml
  loop: "{{ opensearch_dashboards_components }}"

- name: Create cert dir
  file:
    path: "{{ elk_config_dir }}/certs"
    owner: "{{ owner }}"
    group: "{{ group }}"
    state: directory

- name: Copy certs
  copy:
    src: "/etc/pki/ca-trust/source/anchors/localCA.pem"
    dest: "{{ elk_config_dir }}/certs/localCA.pem"
    mode: "0644"
    owner: "{{ owner }}"
    group: "{{ group }}"

- name: Generate Opensearch dashboards welcome page text - internal host
  set_fact:
    kibana_loginscreen_text: "Readonly user: {{ elasticsearch_readonly_user }} password: {{ elasticsearch_readonly_password }}"

- name: Generate Opensearch dashboards welcome page text - external host
  set_fact:
    kibana_loginscreen_text: "Readonly user: {{ external_elasticsearch_readonly_username }} password: {{ external_elasticsearch_readonly_password }}"
  when: external_elasticsearch_readonly_username != '' and external_elasticsearch_readonly_password != ''

- name: Configure Kibana
  template:
    src: opensearch-dashboards.yml.j2
    dest: /etc/opensearch/opensearch_dashboards.yml
    owner: "{{ owner }}"
    group: "{{ group }}"
  notify:
    - restart opensearch dashboards
    - ensure started opensearch dashboards
    - wait for Opensearch dashboards service

- name: Create container - Opensearch dashboards
  include_role:
    name: sf-container
    tasks_from: setup.yaml
  loop: "{{ opensearch_dashboards_components }}"

- name: Send backup and restore script
  copy:
    src: kibana-backup.py
    dest: /usr/local/bin/kibana-backup.py
    mode: '0755'

# NOTE(dpawlik) Remove that when sf-config will have a feature, that
# restore backup will be done after starting the service.
- name: Restore Kibana objects that was available before moving to Opendistro
  block:
    - name: Set backup src var
      set_fact:
        backup_src: "/var/lib/software-factory/backup/kibana"

    - name: Check if Kibana service is alive
      wait_for:
        host: "{{ kibana_host }}"
        port: 5601
        timeout: 300
        delay: 20

    - name: Check it there is a backup.ndjson file
      stat:
        path: "{{ backup_src }}/backup.ndjson"
      register: kibana_backup_file

    - name: Restore backup, when file exists
      block:
        - name: Restore objects from backup
          command: |
            /usr/local/bin/kibana-backup.py --kibana-url "{{ kibana_internal_url }}" --restore-file {{ backup_src }}/backup.ndjson restore
        - name: Rename backup.ndjson to other name
          command: |
            mv {{ backup_src }}/backup.ndjson {{ backup_src }}/backup.ndjson-restored
      when: kibana_backup_file.stat.exists

  when: sf_previous_version < 3.6
