---
- name: Create temporary defconf directory
  tempfile:
    state: directory
  register: defconf

- name: Dump current architecture for config-check test
  copy:
    dest: "{{ defconf.path }}/arch.yaml"
    content: '{{ {"roles": roles}| to_yaml }}'

- name: Setup _nodepool.yaml for config-check test
  template:
    src: /usr/share/sf-config/ansible/roles/sf-nodepool/templates/_nodepool.yaml.j2
    dest: "{{ defconf.path }}/defconf-nodepool.yaml"
  when: "'nodepool-launcher' in roles"

- name: Setup zuul.conf for config-check test
  template:
    src: fake_zuul.conf.j2
    dest: "{{ defconf.path }}/defconf-zuul.conf"
  when: "'zuul-scheduler' in roles"

- name: Setup repoxplorer config.py
  copy:
    content: "db_path = 'repoxplorer/'"
    dest: "{{ defconf.path }}/defconf-repoxplorer.py"
  when: "'repoxplorer' in roles"

- name: Expose default config archive in gateway
  command: tar -czf /var/www/_defconf.tgz .
  args:
    chdir: "{{ defconf.path }}"
