---
- name: Install requirements
  yum:
    name:
      - sf-web-assets
      - sf-docs
      - managesf-doc
      - httpd
      - mod_ssl
      - mod_wsgi
      - mod_auth_pubtkt
      - zuul-jobs-doc
      - zuul-doc
      - nodepool-doc
      - zuul-webui
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"

- name: Install keycloak-related dependencies
  yum:
    name:
      - mod_auth_openidc
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"
  when: "'keycloak' in roles"
