---
- name: Install requirements
  yum:
    name:
      - java-1.8.0-openjdk
      - elasticsearch-curator
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"

- include_tasks: configure_mirror.yml

- name: Gather the rpm package facts
  package_facts:
    manager: auto

- name: Remove old Elasticsearch version
  yum:
    name: elasticsearch
    state: absent
  when:
    - "'elasticsearch' in packages"
    - "{{ packages['elasticsearch'][0].version is version('7.8.0', '<') }}"

- name: Install Elasticsearch package
  yum:
    name: "elasticsearch-{{ elk_stack_version }}.{{ elk_sub_version }}.0-1"
    state: present
    disablerepo: "*"
    enablerepo: "{{ elastic_repo_name }}"
    allow_downgrade: true
