---
- name: Install requirements
  yum:
    name:
      - "{{ openjdk_release }}"
      - wget
      - unzip
      - elasticsearch-curator
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"

- include_tasks: configure_mirror.yml

# NOTE: If logstash was configured before Opendistro Elasticsearch,
# the official package will be in conflict with Opendistro.
# Let's remove it before Opendistro.
- name: Remove official Elasticsearch if it was earlier installed
  yum:
    name: elasticsearch
    state: absent
  register: _official_es_package

- name: Remove official Elasticsearch artifacts after package remove
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/lib/elasticsearch
    - /usr/share/elasticsearch
  when: _official_es_package.changed

- name: Install Opendistro Elasticsearch package
  yum:
    name: "opendistroforelasticsearch-{{ opendistro_version }}"
    state: present
    disablerepo: "*"
    enablerepo: "{{ opendistro_repos_name }}"
