---
- name: Stop the service
  service:
    name: elasticsearch
    state: stopped

- name: Check if new config file exists
  stat:
    path: /etc/elasticsearch/elasticsearch.yml.rpmnew
  register: elasticsearch_config_file

- name: Install new config file
  block:
    - name: Copy new config file
      copy:
        src: /etc/elasticsearch/elasticsearch.yml.rpmnew
        dest: /etc/elasticsearch/elasticsearch.yml
        remote_src: yes

    - name: Remove unused config file
      file:
        path: /etc/elasticsearch/elasticsearch.yml.rpmnew
        state: absent
  when:
    - elasticsearch_config_file.stat.isreg is defined
    - elasticsearch_config_file.stat.isreg

- name: Check if new jvm file exists
  stat:
    path: /etc/elasticsearch/jvm.options.rpmnew
  register: elasticsearch_jvm_config_file

- name: Install new jvm config file
  block:
    - name: Copy new config file
      copy:
        src: /etc/elasticsearch/jvm.options.rpmnew
        dest: /etc/elasticsearch/jvm.options
        remote_src: yes

    - name: Remove unused config file
      file:
        path: /etc/elasticsearch/jvm.options.rpmnew
        state: absent
  when:
    - elasticsearch_jvm_config_file.stat.isreg is defined
    - elasticsearch_jvm_config_file.stat.isreg

- name: Check if new sysconfig file exists
  stat:
    path: /etc/sysconfig/elasticsearch.rpmnew
  register: elasticsearch_sysconfig_file

- name: Install new sysconfig file
  block:
    - name: Copy new sysconfig file
      copy:
        src: /etc/sysconfig/elasticsearch.rpmnew
        dest: /etc/sysconfig/elasticsearch
        remote_src: yes

    - name: Remove unused sysconfig file
      file:
        path: /etc/sysconfig/elasticsearch.rpmnew
        state: absent
  when:
    - elasticsearch_sysconfig_file.stat.isreg is defined
    - elasticsearch_sysconfig_file.stat.isreg

# NOTE: on performing upgrade from 5.6 to 7.8, Elasticsearch is
# failing during the node state. This directory should be removed.
# If you don't want to upgrade step by step with manual:
# https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-upgrade.html
- name: Remove old Elasticsearch version on upgrade Software Factory
  block:
    - name: Gather the rpm package facts
      package_facts:
        manager: auto

    - name: Remove old Elasticsearch version
      yum:
        name: elasticsearch
        state: absent
      when:
        - "'elasticsearch' in packages"
        - "{{ packages['elasticsearch'][0].version is version('7.8.0', '<') }}"

    - name: Remove old node directory on installing new main release
      file:
        path: /var/lib/elasticsearch/nodes
        state: absent

  when: sf_previous_version < 3.5
