---
- name: Get available service facts
  service_facts:

- name: Stop Elasticsearch service
  service:
    name: elasticsearch
    state: stopped
  when: "'elasticsearch' in services"

- name: Stop Opensearch service
  systemd:
    name: opensearch
    state: stopped
  when: "'opensearch' in services"

- name: Remove old node directory when moving to Opensearch
  file:
    path: "{{ elk_data_dir }}"
    state: absent
  when:
    - sf_previous_version < 3.7

- name: Remove old Elasticsearch config dir
  file:
    path: "{{ old_elk_config_dir }}"
    state: absent
