---
- name: Stop the service
  service:
    name: elasticsearch
    state: stopped

- name: Cleanup config file
  copy:
    content: '# THIS FILE WAS CLEANED ON UPGRADE SF.IO'
    dest: /etc/elasticsearch/elasticsearch.yml

- name: Check if new jvm file exists
  stat:
    path: /etc/elasticsearch/jvm.options.rpmnew
  register: elasticsearch_jvm_config_file

- name: Install new jvm config file
  block:
    - name: Copy new config file
      copy:
        src: /etc/elasticsearch/jvm.options.rpmnew
        dest: /etc/elasticsearch/jvm.options
        remote_src: yes

    - name: Remove unused config file
      file:
        path: /etc/elasticsearch/jvm.options.rpmnew
        state: absent
  when:
    - elasticsearch_jvm_config_file.stat.isreg is defined
    - elasticsearch_jvm_config_file.stat.isreg

- name: Check if new sysconfig file exists
  stat:
    path: /etc/sysconfig/elasticsearch.rpmnew
  register: elasticsearch_sysconfig_file

- name: Install new sysconfig file
  block:
    - name: Copy new sysconfig file
      copy:
        src: /etc/sysconfig/elasticsearch.rpmnew
        dest: /etc/sysconfig/elasticsearch
        remote_src: yes

    - name: Remove unused sysconfig file
      file:
        path: /etc/sysconfig/elasticsearch.rpmnew
        state: absent
  when:
    - elasticsearch_sysconfig_file.stat.isreg is defined
    - elasticsearch_sysconfig_file.stat.isreg

- name: Check if 2.x dataset directory exists
  stat:
    path: /var/lib/elasticsearch/elasticsearch/nodes
  register: elasticsearch_old_data_dir

- name: Move data in the right dir
  command: mv /var/lib/elasticsearch/elasticsearch/nodes /var/lib/elasticsearch/
  when:
    - elasticsearch_old_data_dir.stat.isdir is defined
    - elasticsearch_old_data_dir.stat.isdir

- name: Remove unused directory
  file:
    path: /var/lib/elasticsearch/elasticsearch
    state: absent
