---
- include_tasks: configure_mirror.yml

- name: Install requirements
  yum:
    name: java-1.8.0-openjdk
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"

- name: Install logstash package
  yum:
    name: logstash
    state: present
    disablerepo: "*"
    enablerepo: "{{ elastic_repo_name }}"
    install_weak_deps: no
