---
- name: Make sure that curator package is removed
  yum:
    name: elasticsearch-curator
    state: absent

- name: Remove official Logstash if it was earlier installed
  yum:
    name: logstash-oss
    state: absent
  register: _official_logstash_package

- name: Remove official Logstash artifacts after package remove
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/lib/logstash
    - /usr/share/logstash
    - /etc/logstash
  when: _official_logstash_package.changed

- include_tasks: "{{ sf_tasks_dir }}/create_user.yml"
  vars:
    user_name: opensearch

- name: Pull image - logstash
  include_role:
    name: sf-container
    tasks_from: install.yaml
  loop: "{{ logstash_components }}"
