---
- include_tasks: configure_mirror.yml

- name: Install requirements
  yum:
    name: java-1.8.0-openjdk
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"

- name: Install logstash package
  yum:
    name: "logstash-{{ elk_stack_version }}.{{ elk_sub_version }}.0-1"
    state: present
    disablerepo: "*"
    enablerepo: "{{ elastic_repo_name }}"
    allow_downgrade: true
