---
- include_tasks: "{{ sf_tasks_dir }}/create_user.yml user_name=logstash"

- name: Install logstash configuration
  template:
    src: templates/indexer.conf.erb
    dest: /etc/logstash/conf.d/indexer.conf
  register: config

- stat:
    path: /var/log/logstash/logstash.log
  register: logfile

- name: Create logstash.log
  file:
    path: /var/log/logstash/logstash.log
    owner: logstash
    group: logstash
  when: logfile.stat.exists

- name: Install configuration files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/logstash/{{ item }}"
  with_items:
    - curator.yml
    - delete_old_indices.yml

- name: Enable logstash
  service:
    name: logstash
    enabled: "yes"
    state: started

- name: Restart logstash if needed
  service:
    name: logstash
    state: restarted
  when: config is changed

- name: Setup delete old logstash indexes CRON
  cron:
    name: "Delete old logstash indexes"
    minute: 0
    hour: 0
    day: '*'
    job: "/bin/curator --config /etc/logstash/curator.yml /etc/logstash/delete_old_indices.yml"
