---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"
- include_tasks: "{{ sf_tasks_dir }}/create_user.yml"
  vars:
    user_name: logstash

- stat:
    path: /var/log/logstash/logstash.log
  register: logfile

- name: Create logstash.log
  file:
    path: /var/log/logstash/logstash.log
    owner: logstash
    group: logstash
  when: logfile.stat.exists

- name: Install configuration files
  template:
    src: "{{ item.name }}.j2"
    dest: "{{ item.path | default('/etc/logstash') }}/{{ item.name }}"
  register: logstash_templates
  loop:
    - {name: 'curator.yml'}
    - {name: 'delete_old_indices.yml'}
    - {name: 'indexer.conf', path: '/etc/logstash/conf.d'}

- name: Configure jvm
  lineinfile:
    dest: /etc/logstash/jvm.options
    regexp: '^#?{{ item.regexp }}.*'
    line: '{{ item.line }}'
  loop:
    - regexp: '-Xms'
      line: '-Xms{{ logstash_minimum_heap_size }}'
    - regexp: '-Xmx'
      line: '-Xmx{{ logstash_maximum_heap_size }}'
  register: logstash_jvm_config

  ## FIXME: set the password for user logstash
  #- name: Configure logstash conf
  #  lineinfile:
  #    dest: /etc/logstash/logstash.yml
  #    regexp: '^#?{{ item.regexp }}.*'
  #    line: '{{ item.line }}'
  #  loop:
  #    - regexp: 'xpack.management.elasticsearch.username'
  #      line: 'xpack.management.elasticsearch.username: logstash'
  #    - regexp: 'xpack.management.elasticsearch.password'
  #      line: 'xpack.management.elasticsearch.password: logstash'
  #    - regexp: 'xpack.management.elasticsearch.hosts: '
  #      line: 'xpack.management.elasticsearch.hosts: ["{{ elasticsearch_host }}"]'
  #  no_log: show_hidden_logs == False
  #  register: logstash_config

- name: Restart logstash if needed
  service:
    name: logstash
    state: restarted
  when: logstash_jvm_config.changed or logstash_templates.changed or logstash_config.changed

- name: Enable logstash
  service:
    name: logstash
    enabled: "yes"
    state: started

- name: Setup delete old logstash indexes CRON
  cron:
    name: "Delete old logstash indexes"
    minute: 0
    hour: 0
    day: '*'
    job: "/bin/curator --config /etc/logstash/curator.yml /etc/logstash/delete_old_indices.yml"
