---
#- name: "Install new release repo"
#  yum:
#    name: "https://softwarefactory-project.io/repos/sf-release-{{ sf_version }}.rpm"
#    state: present
#    validate_certs: no
#  when:
#    - sf_version != "master"
#    - sf_version != sf_previous_version

- name: Add openstack repo package
  yum:
    name: '{{ rdo_release_url }}'
    state: present
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'

# TODO: check if this is still needed
- name: "Fix yum contentdir vars"
  copy:
    content: "centos"
    dest: /etc/yum/vars/contentdir

- name: "Update packages"
  yum:
    name: "*"
    update_cache: "yes"
    state: latest
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'
