---
- name: "Install new release repo"
  yum:
    name: "https://softwarefactory-project.io/repos/sf-release-{{ sf_version }}.rpm"
    state: present
  when: sf_version != "master"

- name: "Update packages"
  yum:
    name: "*"
    update_cache: "yes"
    state: latest
    exclude:
      - ansible
      - jenkins
      - sf-release
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'
