---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"
- name: Execute upgrade tasks
  command: /bin/true
  notify: restart gerritbot
  when: _version is changed
- include_tasks: "{{ sf_tasks_dir }}/write_version.yml"

# TODO(tristan): create a gerritbot dedicated key and user on gerrit
- include_tasks: "{{ sf_tasks_dir }}/create_user.yml user_name=gerritbot ssh_key=zuul_rsa"

- name: "Setup gerritbot.conf"
  template:
    src: gerritbot.conf.j2
    dest: /etc/gerritbot/gerritbot.conf
  notify: restart gerritbot

- name: Start service
  service:
    name: gerritbot
    state: started
    enabled: "yes"
