---
- hosts: localhost
  roles:
    - role: add-fileserver
      fileserver: "{{'{{'}} site_sflogs {{'}}'}}"
    - emit-ara-html

- hosts: "{{'{{'}} site_sflogs.fqdn {{'}}'}}"
  roles:
    - role: upload-logs
      zuul_log_url: "https://{{ fqdn }}/logs"
      zuul_logserver_root: /var/www/logs
    - role: buildset-artifacts-location
      zuul_log_url: "https://{{ fqdn }}/logs"

- hosts: all
  roles:
    - role: add-authorized-keys
      public_keys: []
      # Override per project or tenant
      # - public_key: XXXXX
      when: not zuul_success | bool

{% if 'job-logs-gearman-client' in roles %}
- hosts: localhost
  ignore_errors: yes
  roles:
    - role: submit-logstash-jobs
      logstash_gearman_server: "job-logs-gearman-client.{{ fqdn }}"
      logstash_gearman_server_port: 4731
{% endif %}
