---
- hosts: localhost
  roles:
    - role: publish-status-mqtt
      mqtt_server: "{{ firehose_host }}"
      mqtt_username: "{{ sf_service_user.username }}"
      mqtt_password: "{{ sf_service_user.password }}"
      ignore_errors: yes
    - role: add-fileserver
      fileserver: "{{'{{'}} site_sflogs {{'}}'}}"
    - emit-ara-html

- hosts: "{{'{{'}} site_sflogs.fqdn {{'}}'}}"
  tasks:
    # Use a block because play vars doesn't take precedence on roles vars
    - block:
        - import_role: name=upload-logs
        - import_role: name=emit-job-report
        - import_role: name=buildset-artifacts-location
      vars:
        zuul_log_url: "https://{{ fqdn }}/logs"
        zuul_logserver_root: /var/www/logs

{% if 'job-logs-gearman-client' in roles %}
- hosts: localhost
  ignore_errors: yes
  roles:
    - role: submit-logstash-jobs
      logstash_gearman_server: "job-logs-gearman-client.{{ fqdn }}"
      logstash_gearman_server_port: 4731
{% endif %}

- hosts: all
  roles:
    - role: add-authorized-keys
      # Override per project or tenant
      # public_keys: []
      # - public_key: XXXXX
      when: not zuul_success | bool
