---
- hosts: localhost
  roles:
    - role: add-fileserver
      fileserver: "{{'{{'}} site_sflogs {{'}}'}}"
    - role: ara-report
      # This depends-on https://review.openstack.org/577675
      ara_report_run: failure
      ara_report_type: database
      ara_report_path: ara-report
{% if 'log-classify' in roles %}
    - role: log-classify
      logclassify_model_store_url: https://{{ fqdn }}/logs/classifiers
      logclassify_zuul_web: {{ tenant_zuul_api }}
      logclassify_model_dir: /var/lib/log-classify
      logclassify_local_dir: "{{'{{'}} zuul.executor.log_root {{'}}'}}"
{% endif %}

- hosts: "{{'{{'}} site_sflogs.fqdn {{'}}'}}"
  gather_facts: false
  tasks:
    # Use a block because play vars doesn't take precedence on roles vars
    - block:
{% if 'log-classify' in roles %}
        - import_role: name=upload-log-classify-model
{% endif %}
        - import_role: name=upload-logs
        - import_role: name=emit-job-report
        - import_role: name=buildset-artifacts-location
      vars:
        zuul_log_url: "https://{{ fqdn }}/logs"
        zuul_logserver_root: /var/www/logs

{% if 'job-logs-gearman-client' in roles %}
- hosts: localhost
  ignore_errors: yes
  roles:
    - role: submit-logstash-jobs
      logstash_gearman_server: "{{ job_logs_gearman_client_hostname }}"
      logstash_gearman_server_port: 4731
{% endif %}
