# Managed by Ansible

# This virtualhost is password protected by apache and it's used for service api access (jjb, managesf)
<VirtualHost *:{{ jenkins_api_port }}>
    ProxyVia On
    ProxyRequests Off

    ProxyPass /jenkins/ http://127.0.0.1:{{ jenkins_port }}/jenkins/ nocanon retry=1 acquire=3000 timeout=600 Keepalive=On
    ProxyPassReverse /jenkins/ http://127.0.0.1:{{ jenkins_port }}/jenkins/

    ProxyPreserveHost On
    AllowEncodedSlashes NoDecode
    <Proxy *>
        Options FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Proxy>

    <LocationMatch "/jenkins/">
        AuthType basic
        AuthBasicProvider file
        AuthUserFile /etc/httpd/htpasswd
        AuthName "Jenkins"
        Require valid-user
        RewriteEngine On
        RewriteCond %{LA-U:REMOTE_USER} (.+)
        RewriteRule .* - [E=RU:%1,NS]
        RequestHeader set X-Forwarded-User %{RU}e
    </LocationMatch>
</VirtualHost>

# This virtualhost is exposed through gateway proxy
<VirtualHost *:{{ jenkins_http_port }}>
    ProxyVia On
    ProxyRequests Off

    ProxyPass /jenkins/ http://127.0.0.1:{{ jenkins_port }}/jenkins/ nocanon retry=1 acquire=3000 timeout=600 Keepalive=On
    ProxyPassReverse /jenkins/ http://127.0.0.1:{{ jenkins_port }}/jenkins/

    ProxyPreserveHost On
    AllowEncodedSlashes NoDecode
    <Proxy *>
        Options FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Proxy>

    # Disable un-used jenkins cli and api
    <Location "/jenkins/cli">
        Order deny,allow
        Deny from all
    </Location>
    <Location "/jenkins/api">
        Order deny,allow
        Deny from all
    </Location>

    <LocationMatch "/jenkins/">
        RequestHeader unset X-Forwarded-User
        <If "%{HTTP_COOKIE} =~ /auth_pubtkt=.*/">
            AuthType mod_auth_pubtkt
            TKTAuthLoginURL /auth/login
            TKTAuthFakeBasicAuth on
            TKTAuthDebug 1
            AuthName "Jenkins"
            require valid-user
            # Only admin user get to be logged on jenkins
            RequestHeader set X-Forwarded-User admin "expr=%{REMOTE_USER}=='admin'"
        </If>
    </LocationMatch>
</VirtualHost>
