---
role_actions:
  - install
  - setup
  - backup
  - restore
  - configure_mirror
  - postconf
  - disable

role_package: kibana

opendistro_version: 1.11.0
opendistro_repos_name: elasticsearch-7.x,opendistroforelasticsearch-artifacts
opendistro_repos:
  - name: elasticsearch-7.x
    desc: Elasticsearch repository for 7.x packages
    url: https://artifacts.elastic.co/packages/oss-7.x/yum
    gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    gpgcheck: 1
    enabled: 0
  - name: opendistroforelasticsearch-artifacts
    desc: Release RPM artifacts of OpenDistroForElasticsearch
    url: https://d3g5vo6xdbdb9a.cloudfront.net/yum/noarch/
    gpgkey: https://d3g5vo6xdbdb9a.cloudfront.net/GPG-KEY-opendistroforelasticsearch
    gpgcheck: 1

elasticsearch_http_port: 9200
elasticsearch_host: elasticsearch.example.com
elasticsearch_internal_url: "https://{{ elasticsearch_host }}:{{ elasticsearch_http_port }}"
elasticsearch_readonly_user: kibana
elasticsearch_readonly_password: "CHANGE_ME"

kibana_http_port: 5601
kibana_host: kibana.example.com
kibana_internal_url: "http://{{ kibana_host }}:{{ kibana_http_port }}"

kibana_bundle_js_patch: "Readonly user: {{ elasticsearch_readonly_user }} password: {{ elasticsearch_readonly_password }}"
