---
role_actions:
  - install
  - setup
  - postconf
  - disable

role_package: kibana

elk_stack_version: 5

elasticsearch_repo_name: elasticsearch
elasticsearch_repo_desc: Elasticsearch repository
elasticsearch_repo_url: 'https://artifacts.elastic.co/packages/{{ elk_stack_version }}.x/yum'
elasticsearch_repo_gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
elasticsearch_repo_gpgcheck: 1

kibana_bundle_js_patch: |
  function load_menu() { loadTopmenu(); }
  newScript = document.createElement('script');
  newScript.type = 'text/javascript';
  newScript.src = '/static/js/topmenu.js';
  newScript.onload = load_menu;
  document.getElementsByTagName('head')[0].appendChild(newScript);
kibana_style_css_patch: |
  /* sf loadTopmenu */
  div.content {
  position: absolute;
  top: 51px;
  }
  body > div > .global-nav {
    position: absolute;
    top: 0px;
  }
