---
role_actions:
  - install
  - setup
  - configure_mirror
  - postconf
  - disable

role_package: kibana

elk_stack_version: 7

elastic_repo_name: elastic
elastic_repo_desc: Elastic repository
elastic_repo_url: 'https://artifacts.elastic.co/packages/{{ elk_stack_version }}.x/yum'
elastic_repo_gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
elastic_repo_gpgcheck: 1

elasticsearch_http_port: 9200
elasticsearch_host: elasticsearch.example.com
elasticsearch_internal_url: "http://{{ elasticsearch_host }}:{{ elasticsearch_http_port }}"

kibana_http_port: 5601
kibana_host: kibana.example.com
kibana_internal_url: "http://{{ kibana_host }}:{{ kibana_http_port }}"

kibana_bundle_js_patch: |
  function isReady() {
    return (document.getElementsByClassName("euiHeader").length > 0);
  }
  function injectTopMenu() {
  console.log("Injecting now!");
  if (!isReady()) {
    console.log("not ready yet...");
    setTimeout(injectTopMenu, 500);
  }
  newScript = document.createElement('script');
  newScript.type = 'text/javascript';
  newScript.src = '/static/js/topmenu.js';
  newScript.onload = function() {
    loadTopmenu();
  };
  document.getElementsByTagName('head')[0].appendChild(newScript);
  }
  injectTopMenu()
kibana_style_css_patch: |
  /* sf loadTopmenu */
  body .euiHeader {
    position: absolute;
    margin-top: 50px;
  }
  .euiBody--headerIsFixed {
    all: unset;
  }
  .euiPage {
    margin-top: 100px;
  }
  iframe{
    height:50px;
    position:absolute;
    z-index: 99999;
  }
