---
role_actions:
  - disable
  - install
  - setup
  - postconf
  - update

grafana_repo_name: grafana
grafana_repo_desc: Grafana repository
grafana_repo_url: https://packagecloud.io/grafana/stable/el/7/x86_64
grafana_repo_gpgkey: https://grafanarel.s3.amazonaws.com/RPM-GPG-KEY-grafana
grafana_repo_gpgcheck: 1

grafana_database_type: mysql
grafana_mysql_host: mysql.example.com
grafana_mysql_port: 3306
grafana_mysql_db: grafana
grafana_mysql_user: grafana
grafana_mysql_password: CHANGE_ME

grafana_http_port: 3000
grafana_host: grafana.example.com
grafana_internal_url: "http://{{ grafana_host }}:{{ grafana_http_port }}"
grafana_internal_datasource_url: '{{ grafana_internal_url }}/api/datasources'
grafana_internal_apikey_url: '{{ grafana_internal_url }}/api/auth/keys'
grafana_server_root_url: "{{ gateway_url }}/grafana/"
grafana_users_allow_sign_up: false
grafana_auth_anonymous_enabled: true
grafana_auth_anonymous_org_role: Viewer
grafana_auth_basic_enabled: true
grafana_auth_proxy_enabled: true
grafana_auth_proxy_header_name: X-Forwarded-User
grafana_auth_proxy_header_property: username
grafana_auth_proxy_auto_sign_up: true
grafana_admin_password: CHANGE_ME

influxdb_host: influxdb.example.com
telegraf_influxdb_user: telegraf
telegraf_influxdb_password: CHANGE_ME

service_name: grafana
service_real_name: grafana-server

grafana_data_source:
  isDefault: true
  database: telegraf
  name: influxdb
  type: influxdb
  user: '{{ telegraf_influxdb_user }}'
  password: '{{ telegraf_influxdb_password }}'
  url: 'https://{{ influxdb_host }}:8086'
  access: proxy
  basicAuth: false

grafyaml_apikey_data:
  name: 'grafyaml'
  role: 'Admin'
