---
- name: Disable services
  service:
    name: "{{ item }}"
    state: stopped
    enabled: "no"
  with_items: "{{ zuul3_services }}"
  ignore_errors: "yes"

- block:
    - name: Remove files
      file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /etc/httpd/conf.d/zuul3.conf
        - "{{ zuul3_conf_dir }}"
        - "{{ zuul3_lib_dir }}"
        - "{{ zuul3_log_dir }}"

    - name: Remove packages
      yum:
        name: "{{ item }}"
        state: absent
      with_items: "{{ zuul3_scheduler_packages }} + {{ zuul3_merger_packages }} + {{ zuul3_executor_packages }} + {{ zuul3_web_packages }}"
  when: erase == True
