---
# Use 0751 to let apache access {{ zuul3_lib_dir }}/git
# Use /bin/sh shell to allow zuul to connect to localhost for config-update jobs
- include: "{{ sf_tasks_dir }}/create_user.yml user_name=zuul ssh_key=zuul_rsa home_dir={{ zuul3_lib_dir }} home_dir_mode=0751 shell=/bin/sh update_user=no"

- name: Apply selinux port labelling
  seport:
    ports: "{{ zuul3_port }}"
    proto: tcp
    setype: http_port_t
    state: present
  when: "ansible_selinux.status == 'enabled' and 'zuul-scheduler' in zuul3_services"

- name: Setup apache site zuul.conf
  template:
    src: zuul3-scheduler.httpd.conf.j2
    dest: /etc/httpd/conf.d/zuul3-scheduler.conf
    mode: 0444
  notify: apache reload
  when: "'zuul-scheduler' in zuul3_services"

- name: Setup apache zuul3-merger.conf
  template:
    src: zuul3-merger.httpd.conf.j2
    dest: /etc/httpd/conf.d/zuul3-merger.conf
    mode: 0444
  notify: apache reload
  when: "'zuul-merger' in zuul3_services"

- block:
    - name: Create /var/www/zuul3
      file:
        path: /var/www/zuul3
        state: directory

    - name: Symlink zuul image
      file:
        src: "{{ zuul3_share_dir }}/images/"
        dest: /var/www/zuul3/images
        state: link

    - name: Symlink zuul static assets
      file:
        src: "{{ zuul3_share_dir }}/"
        dest: /var/www/static/zuul
        state: link

    - name: Install index.html for zuul
      copy:
        src: zuul.index.html
        dest: /var/www/zuul3/index.html
        mode: 0444
  when: "'zuul-scheduler' in zuul3_services"

- block:
    - name: Ensure known_hosts file exists
      file:
        path: "{{ zuul3_lib_dir }}/.ssh/known_hosts"
        owner: zuul
        group: zuul
        mode: 0600
        state: touch

    - name: Check if the zuul sources are already defined
      command: "ssh-keygen -f {{ zuul3_lib_dir }}/.ssh/known_hosts -F {{ item.host_packed }}"
      with_items: "{{ zuul3_ssh_known_hosts }}"
      register: zuul_known_hosts_results
      ignore_errors: "yes"

    # This is a bit tricky since ssh-keyscan doesn't output the correct host format when port != 22
    - name: Scan the missing zuul sources
      shell: >
        ssh-keyscan -T 10 -p {{ item.item.port }} {{ item.item.host }} |
        grep '^{{ item.item.host }}' |
        awk '{ print "{{ item.item.host_packed }} " $2 " " $3 }' >>
        {{ zuul3_lib_dir }}/.ssh/known_hosts
      with_items: "{{ zuul_known_hosts_results.results }}"
      when: item.stdout == ""
  when: "'zuul-scheduler' in zuul3_services or 'zuul-merger' in zuul3_services"

- block:
    - name: "Setup ssh-keys directory"
      file:
        path: "{{ zuul3_conf_dir }}/ssh_keys"
        state: directory
        owner: zuul
        group: zuul
        mode: 0500

    - name: "Copy logserver ssh key"
      copy:
        content: "{{ zuul_logserver_rsa }}"
        dest: "{{ zuul3_conf_dir }}/ssh_keys/logserver_rsa"
        mode: 0400
        owner: zuul
        group: zuul
  when: "'zuul-executor' in zuul3_services"

- name: "Setup configuration"
  template:
    src: "{{ item }}.j2"
    dest: "{{ zuul3_conf_dir }}/{{ item }}"
  with_items:
    - gearman-logging.conf
    - scheduler-logging.conf
    - merger-logging.conf
    - executor-logging.conf
    - web-logging.conf
  notify: restart zuul3 if already started

- name: "Setup sysconfig"
  template:
    src: sysconfig.j2
    dest: "{{ zuul3_sysconfig }}"
  notify: restart zuul3 if already started

- name: "Setup configuration"
  template:
    src: zuul.conf.j2
    dest: "{{ zuul3_conf_dir }}/zuul.conf"
    mode: 0440
    group: zuul
  notify: restart zuul3 if already started
