---
- file:
    path: /var/lib/software-factory/state/zuul3_config
    state: touch

- name: Check local config
  command: cat /var/lib/software-factory/state/zuul3_config
  register: localconfig

- name: Check upstream config
  command: git log -n 3 --oneline zuulV3/
  args:
    chdir: /root/config
  register: upstreamconfig

- block:
    - name: Update zuul main.yaml
      command: /usr/share/sf-config/scripts/zuul3-conf-merger.py zuulV3/ "{{ zuul3_conf_dir }}/main.yaml"
      args:
        chdir: /root/config

    - name: Copy all python scripts
      synchronize:
         src: /root/config/zuulV3/
         dest: "{{ zuul3_conf_dir }}"
      rsync_opts:
         - "--exclude=*"
         - "--include=*.py"

    - name: Check if zuul-scheduler is running
      command: systemctl -q is-active rh-python35-zuul-scheduler
      register: _zuul3_scheduler
      failed_when: _zuul3_scheduler.rc not in [0, 3]
      when: "'zuul-scheduler' in zuul3_services"

    - name: Reload zuul-scheduler service
      service:
        name: rh-python35-zuul-scheduler
        state: reloaded
      when:
        - "'zuul-scheduler' in zuul3_services"
        - _zuul3_scheduler.rc == 0
  when: localconfig.stdout != upstreamconfig.stdout

- name: Ensure service are started and enabled
  service:
    name: "rh-python35-{{ item }}"
    state: started
    enabled: "yes"
  with_items: "{{ zuul3_services }}"

- name: Write config repo sha1 matching current configuration
  copy:
    content: "{{ upstreamconfig.stdout }}"
    dest: /var/lib/software-factory/state/zuul3_config
  when: localconfig.stdout != upstreamconfig.stdout
