Listen {{ zuul3_port }}
NameVirtualHost *:{{ zuul3_port }}

<VirtualHost *:{{ zuul3_port }}>
  DocumentRoot /var/www/zuul3

  LogLevel warn

  <Directory /var/www/zuul3/>
    Options FollowSymLinks
  </Directory>

  RewriteEngine on
  RewriteRule ^/status.json$ http://127.0.0.1:{{ zuul3_webapp_port }}/status.json [P]
  RewriteRule ^/status/(.*) http://127.0.0.1:{{ zuul3_webapp_port }}/status/$1 [P]
  RewriteRule ^/keys/(.*) http://127.0.0.1:{{ zuul3_webapp_port }}/fake/keys/$1 [P]

  AddOutputFilterByType DEFLATE application/json
</VirtualHost>
