SetEnv GIT_PROJECT_ROOT {{ zuul3_lib_dir }}/git/
SetEnv GIT_HTTP_EXPORT_ALL

<Directory /usr/libexec/git-core/>
  require all granted
</Directory>

AliasMatch ^/p3/(.*/objects/[0-9a-f]{2}/[0-9a-f]{38})$ {{ zuul3_lib_dir }}/git/$1
AliasMatch ^/p3/(.*/objects/pack/pack-[0-9a-f]{40}.(pack|idx))$ {{ zuul3_lib_dir }}/git/$1
ScriptAlias /p3/ /usr/libexec/git-core/git-http-backend/
