[gearman]
server={{ zuul3_scheduler_host }}
port={{ zuul3_gearman_port }}

[zookeeper]
hosts={{ zookeeper_host }}:2181

[gearman_server]
start=true
log_config={{ zuul3_conf_dir }}/gearman-server-logging.yaml
port={{ zuul3_gearman_port }}

[scheduler]
state_dir={{ zuul3_lib_dir }}
tenant_config={{ zuul3_conf_dir }}/main.yaml
log_config={{ zuul3_conf_dir }}/scheduler-logging.yaml

[merger]
state_dir={{ zuul3_lib_dir }}
git_dir={{ zuul3_lib_dir }}/git/
git_user_email=zuul@{{ fqdn }}
git_user_name=zuul
zuul_url={{ host_public_url }}/p
log_config={{ zuul3_conf_dir }}/merger-logging.yaml

[executor]
state_dir={{ zuul3_lib_dir }}
git_dir={{ zuul3_lib_dir }}/executor/
private_key_file={{ zuul3_lib_dir }}/.ssh/id_rsa
finger_port=7979
trusted_ro_paths=/opt/:/etc/opt/rh/rh-python35/zuul/ssh_keys
untrusted_ro_paths=/opt/
log_config={{ zuul3_conf_dir }}/executor-logging.yaml

[web]
listen_address=0.0.0.0
port={{ zuul3_web_port }}
log_config={{ zuul3_conf_dir }}/web-logging.yaml

[webapp]
listen_address=127.0.0.1
port={{ zuul3_webapp_port }}
status_url={{ zuul3_pub_url }}

[connection sqlreporter]
driver=sql
dburi=mysql+pymysql://{{ zuul3_mysql_user }}:{{ zuul3_mysql_password}}@{{ zuul3_mysql_host }}/{{ zuul3_mysql_db }}

{% for conn in zuul3_gerrit_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=gerrit
port={{ conn['port']|default('29418') }}
server={{ conn['hostname'] }}
baseurl={{ conn['puburl'] }}
user={{ conn['username'] }}
sshkey={{ zuul3_lib_dir }}/.ssh/id_rsa

{% endfor %}

{% for conn in zuul3_github_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=github
git_host={{ conn['hostname']|default('github.com') }}
port={{ conn['port']|default('22') }}
api_token={{ conn['api_token'] }}
webhook_token={{ conn['webhook_token'] }}
sshkey={{ zuul3_lib_dir }}/.ssh/id_rsa

{% endfor %}

[connection smtp]
driver=smtp
server=localhost
port=25
default_from=zuul@{{ fqdn }}
default_to=admin@{{ fqdn }}
