---
role_actions:
  - setup
  - upgrade
  - fetch_config_repo

repos_upstream_paths:
  - playbooks/python
  - playbooks/tox
  - playbooks/unittests
  - roles/add-build-sshkey
  - roles/add-fileserver
  - roles/bindep
  - roles/emit-ara-html
  - roles/ensure-tox
  - roles/fetch-tox-output
  - roles/prepare-workspace
  - roles/revoke-sudo
  - roles/test-setup
  - roles/tox
  - roles/upload-logs
  - roles/validate-host
