---
- name: Create libexec directory
  file:
    path: /usr/local/libexec/software-factory
    state: directory
    mode: 0755

- name: Install useful packages
  yum:
    name: '{{ item }}'
    state: present
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'
  with_items:
    - cloud-init
    - cloud-utils-growpart
    - git
    - monit
    - ntp
    - patch
    - postfix
    - sf-release
    - tmux
    - vim-enhanced

- name: Set permissive selinux
  lineinfile:
    dest: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=permissive'

- name: Enable selinux autorelabel
  file:
    path: /.autorelabel
    state: touch
