---
- name: Create libexec directory
  file:
    path: /usr/local/libexec/software-factory
    state: directory
    mode: 0755

- name: Check for sf-release
  stat:
    path: /etc/yum.repos.d/sf-release.repo
  register: sf_release_installed

- name: Install sf-release if needed
  yum:
    name: "{{ sf_release_url }}"
    state: present
  when: not sf_release_installed.stat.exists

- name: Remove old repos
  yum:
    name: '{{ item }}'
    state: absent
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'
  with_items:
    - centos-release-openstack-pike
    - centos-release-ceph-jewel
  when: ansible_distribution == "CentOS"

- name: Add repo packages
  yum:
    name: '{{ item }}'
    state: present
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'
  with_items:
    - centos-release-openstack-queens
    - centos-release-opstools
    - centos-release-scl-rh
  when: ansible_distribution == "CentOS"

- name: Install useful packages
  yum:
    name: '{{ item }}'
    state: present
    disablerepo: '{{ yum_disable_repo|default(omit) }}'
    enablerepo: '{{ yum_enable_repo|default(omit) }}'
  with_items:
    - haveged
    - git
    - monit
    - ntp
    - patch
    - postfix
    - rsyslog
    - tmux
    - vim-enhanced
    - sf-config
    # Needed by ansible selinux module
    - libsemanage-python
    - policycoreutils-python
    # Needed for wait4 scripts
    - nmap-ncat

- name: Set permissive selinux
  lineinfile:
    dest: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=permissive'

- name: Remove selinux autorelabel
  file:
    path: /.autorelabel
    state: absent
