---
- block:
    - name: "Remove old configuration"
      file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /var/lib/edeploy
        - /var/lib/software-factory/dashboards_config
        - /var/lib/software-factory/gerrit_config
        - /var/lib/software-factory/jenkins_config
        - /var/lib/software-factory/nodepool_config
        - /var/lib/software-factory/repoxplorer_config
        - /var/lib/software-factory/zuul_config
  when: sf_previous_version < 2.6

- block:
    - name: "Remove old configuration"
      file:
        path: /etc/ssh/ssh_known_hosts
        state: absent
  when: sf_previous_version < 2.7
