---
- block:
    - name: Remove old repos
      yum:
        name: '{{ item }}'
        state: absent
      loop:
        - centos-release-ceph-jewel
        - centos-release-openstack-pike
        - centos-release-opstools
      when: ansible_distribution == "CentOS"

    - name: Fix /usr/libexec mode
      file:
        path: /usr/libexec/software-factory
        owner: root
        group: root
        mode: 0755
        state: directory
  when: sf_previous_version < 3.1

- block:
    # sf-3.2
    - name: Remove renamed files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /usr/libexec/wait4port
        - /usr/libexec/wait4mariadb
        - /usr/libexec/wait4gerrit
        - /usr/local/bin/zuul-changes.py

    # sf-3.3
    - name: Remove unused openstack repos
      yum:
        name: '{{ item }}'
        state: absent
      loop:
        - centos-release-ceph-luminous
        - centos-release-openstack-queens
        - centos-release-qemu-ev
      when: ansible_distribution == "CentOS"

    # sf-3.3
    - name: Ensure invalid zuul public key are removed
      lineinfile:
        path: /var/lib/zuul/.ssh/known_hosts
        regexp: ".* (ecdsa-sha.*|ssh-ed25519) .*"
        state: absent
  when: sf_previous_version < 3.4

- block:
    # sf-3.6
    - name: Force packages reinstall (topmenu patches leftover removal)
      shell: rpm -q {{ item }} && yum reinstall -y {{ item }} || true
      loop:
        - etherpad
        - grafana
        - kibana
        - repoxplorer

  when: sf_previous_version < 3.6

- name: Remove conflicting packages
  yum:
    name: '{{ item }}'
    state: absent
  loop:
    - python-nose
  when: ansible_distribution == "CentOS"
