[scheduler]
tenant_config=main.yaml

[connection sqlreporter]
driver=sql
dburi=sqlite://

{% for conn in zuul_gerrit_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=gerrit
server=localhost
user=zuul

{% endfor %}

{% for conn in zuul_github_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=github
git_host={{ conn['hostname']|default('github.com') }}
port={{ conn['port']|default('22') }}

{% endfor %}

{% for conn in zuul_git_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=git
baseurl={{ conn['baseurl'] }}
poll_delay={{ conn['poll_delay']|default('7200') }}

{% endfor %}

[connection smtp]
driver=smtp
server=localhost
