version: 1
formatters:
  console:
    class: 'zuul.lib.logutil.MultiLineFormatter'
    format: '%(levelname)7s %(name)s: %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: console
    level: DEBUG
    stream: ext://sys.stdout
loggers:
  alembic:
    handlers:
      - console
    level: WARN
    propagate: 0
  cachecontrol:
    handlers:
      - console
    level: INFO
    propagate: 0
  gear:
    handlers:
      - console
    level: WARN
    propagate: 0
  gerrit:
    handlers:
      - console
    level: INFO
    propagate: 0
  zuul.GerritConnection.ssh:
    handlers:
      - console
    level: INFO
    propagate: 0
  zuul.GerritConnection.io:
    handlers:
      - console
    level: INFO
    propagate: 0
  sqlalchemy.engine:
    handlers:
      - console
    level: WARN
    propagate: 0
  connection:
    handlers:
      - console
    level: WARN
    propagate: 0
  zuul:
    handlers:
      - console
    level: {{ zuul_loglevel }}
    propagate: 0
root:
  handlers:
    - console
  level: {{ zuul_root_loglevel }}
