version: 1
formatters:
  normal:
    format: '%(asctime)s %(levelname)s %(name)s: %(message)s'
  console:
    format: '%(levelname)7s %(name)s: %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: console
    level: INFO
    stream: ext://sys.stdout
  normal:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: normal
    level: DEBUG
    filename: '{{ zuul_log_dir }}/{{ _logfile }}.log'
    when: 'midnight'
    interval: 1
    backupCount: 30
loggers:
  alembic:
    handlers:
      - console
      - normal
    level: WARN
    propagate: 0
  cachecontrol:
    handlers:
      - console
      - normal
    level: INFO
    propagate: 0
  gear:
    handlers:
      - console
      - normal
    level: WARN
    propagate: 0
  gerrit:
    handlers:
      - console
      - normal
    level: INFO
    propagate: 0
  sqlalchemy.engine:
    handlers:
      - console
      - normal
    level: WARN
    propagate: 0
  connection:
    handlers:
      - console
      - normal
    level: WARN
    propagate: 0
  zuul:
    handlers:
      - console
      - normal
    level: {{ zuul_loglevel }}
    propagate: 0
root:
  handlers:
    - normal
  level: {{ zuul_root_loglevel }}
