SetEnv GIT_PROJECT_ROOT {{ zuul_lib_dir }}/git/
SetEnv GIT_HTTP_EXPORT_ALL

<Directory /usr/libexec/git-core/>
  require all granted
</Directory>

AliasMatch ^/p/(.*/objects/[0-9a-f]{2}/[0-9a-f]{38})$ {{ zuul_lib_dir }}/git/$1
AliasMatch ^/p/(.*/objects/pack/pack-[0-9a-f]{40}.(pack|idx))$ {{ zuul_lib_dir }}/git/$1
ScriptAlias /p/ /usr/libexec/git-core/git-http-backend/
