[gearman]
server={{ zuul_scheduler_host }}
port={{ zuul_gearman_port }}

{% if 'influxdb' in roles %}
[statsd]
server={{ influxdb_host }}
{% endif %}

[zookeeper]
hosts={{ zookeeper_host }}:2181

[gearman_server]
start=true
log_config={{ zuul_conf_dir }}/gearman-server-logging.yaml
port={{ zuul_gearman_port }}

[scheduler]
state_dir={{ zuul_lib_dir }}
command_socket={{ zuul_lib_dir }}/scheduler.socket
tenant_config={{ zuul_conf_dir }}/main.yaml
log_config={{ zuul_conf_dir }}/scheduler-logging.yaml

[merger]
state_dir={{ zuul_lib_dir }}
command_socket={{ zuul_lib_dir }}/merger.socket
git_dir={{ zuul_lib_dir }}/git/
git_user_email=zuul@{{ fqdn }}
git_user_name=zuul
zuul_url={{ host_public_url }}/p
log_config={{ zuul_conf_dir }}/merger-logging.yaml

[executor]
state_dir={{ zuul_lib_dir }}
command_socket={{ zuul_lib_dir }}/executor.socket
git_dir={{ zuul_lib_dir }}/executor/
private_key_file={{ zuul_lib_dir }}/.ssh/id_rsa
finger_port=7979
trusted_rw_paths=/var/lib/log-classify
trusted_ro_paths=/opt/:/etc/ld.so.cache:/etc/pki
untrusted_ro_paths=/opt/:/etc/ld.so.cache:/etc/pki
log_config={{ zuul_conf_dir }}/executor-logging.yaml
log_stream_file=/var/tmp/zuul-console/{log_uuid}.log

[fingergw]
state_dir={{ zuul_lib_dir }}
command_socket={{ zuul_lib_dir }}/fingergw.socket
listen_address=0.0.0.0

[web]
listen_address=0.0.0.0
command_socket={{ zuul_lib_dir }}/web.socket
port={{ zuul_web_port }}
log_config={{ zuul_conf_dir }}/web-logging.yaml

[connection sqlreporter]
driver=sql
dburi=mysql+pymysql://{{ zuul_mysql_user }}:{{ zuul_mysql_password}}@{{ zuul_mysql_host }}/{{ zuul_mysql_db }}

{% for conn in zuul_gerrit_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=gerrit
# Bogus port
port=29419
server={{ conn['hostname'] }}
baseurl={{ conn['puburl'] }}
user={{ conn['username'] }}
sshkey={{ zuul_lib_dir }}/.ssh/id_rsa

{% endfor %}

{% for conn in zuul_github_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=github
{% if conn.get('app_key') %}
# Github App
app_id={{ conn.get('app_id') }}
app_key={{ zuul_lib_dir }}/.ssh/github_{{ conn['name'] }}_rsa
{% else %}
# Github Webhook
sshkey={{ zuul_lib_dir }}/.ssh/id_rsa
api_token={{ conn['api_token'] }}
{% endif %}
webhook_token={{ conn['webhook_token'] }}
server={{ conn['hostname']|default('github.com') }}
# canonical_hostname=?
verify_ssl={{ conn['verify_ssl']|default(True) }}
git_host={{ conn['hostname']|default('github.com') }}
port={{ conn['port']|default('22') }}

{% endfor %}

[connection smtp]
driver=smtp
server=localhost
port=25
default_from=zuul@{{ fqdn }}
default_to=admin@{{ fqdn }}
