[gearman]
server={{ zuul_server_host }}
check_job_registration=false

[gearman_server]
start=true
log_config=/etc/zuul/gearman-logging.conf

[zuul]
layout_config=/etc/zuul/layout.yaml
log_config=/etc/zuul/server-logging.conf
pidfile=/var/run/zuul/zuul.pid
state_dir=/var/lib/zuul
status_url={{ zuul_pub_url }}
job_name_in_report=true
report_times=true
url_pattern={{ zuul_log_url }}

[merger]
git_dir=/var/lib/zuul/git
git_user_email=zuul@{{ fqdn }}
git_user_name=zuul
zuul_url={{ host_public_url }}/p
log_config=/etc/zuul/merger-logging.conf
append_hostname=true

[launcher]
log_config=/etc/zuul/launcher-logging.conf
jenkins_jobs=/etc/zuul/jobs/
workspace_root=/var/lib/zuul/jobs/
private_key_file=/var/lib/zuul/.ssh/id_rsa
username=zuul
{% if 'jenkins' in roles or zuul_jenkins_credencials %}
jenkins_secrets=/var/lib/zuul/jenkins/
{% endif %}

{% for logserver in logservers|default([]) %}
[site "{{ logserver["name"] }}"]
host={{ logserver["host"] }}
user={{ logserver["user"] }}
root={{ logserver["path"] }}

{% endfor %}

{% if pages is defined %}
[site "pages"]
host={{ pages["host"] }}
user={{ pages["user"] }}
root={{ pages["path"] }}

[node "pages"]
host={{ pages["host"] }}
description=The pages node for rendering and publishing pages
labels=pages
{% endif %}

{% for node in zuul_static_nodes|default([]) %}
[node "{{ node['name'] }}"]
host={{ node['hostname'] }}
description={{ node['description'] }}
labels={{ node['labels'] }}

{% endfor %}
[node "master"]
host=localhost
description=The master node allowed to trigger config-update
labels=master

[connection sqlreporter]
driver=sql
dburi=mysql+pymysql://{{ zuul_mysql_user }}:{{ zuul_mysql_password}}@{{ zuul_mysql_host }}/{{ zuul_mysql_db }}

[connection gerrit]
driver=gerrit
server=gerrit.{{ fqdn }}
# baseurl is only use to fetch git refs on diff url than server.
# Using baseurl we cannot modify url zuul report to user
baseurl={{ gerrit_pub_url }}
user=jenkins
sshkey=/var/lib/zuul/.ssh/id_rsa
strip_branch_ref=1

{% for conn in zuul_extra_gerrits|default([]) %}
[connection {{ conn['name'] }}]
driver=gerrit
server={{ conn['hostname'] }}
port={{ conn['port']|default(29418) }}
baseurl={{ conn['puburl'] }}
user={{ conn['username'] }}
sshkey=/var/lib/zuul/.ssh/id_rsa
strip_branch_ref=1

{% endfor %}

[connection smtp]
driver=smtp
server=localhost
port=25
default_from=zuul@{{ fqdn }}
default_to=admin@{{ fqdn }}
