Listen {{ zuul_port }}
NameVirtualHost *:{{ zuul_port }}

<VirtualHost *:{{ zuul_port }}>
  DocumentRoot /var/www/zuul

  LogLevel warn

  RewriteEngine on
  RewriteRule ^/status.json$ http://127.0.0.1:8001/status.json [P]
  RewriteRule ^/status/(.*) http://127.0.0.1:8001/status/$1 [P]

  AddOutputFilterByType DEFLATE application/json
</VirtualHost>
