---
- name: Cleanup influxdb if fqdn is updated
  block:
    - name: Stop influxdb service
      systemd:
        name: influxdb
        state: stopped

    - name: Delete old crt and key if fqdn is updated
      file:
        path: '{{ item }}'
        state: absent
      with_items:
        - /etc/influxdb/influxdb.crt
        - /etc/influxdb/influxdb.key
  when: base_update_fqdn

- name: Add crt and key files if needed
  copy:
    content: "{{ item.content }}"
    dest: "/etc/influxdb/{{ item.dest }}"
    mode: "{{ item.mode|default(0444) }}"
    owner: influxdb
    setype: cert_t
    seuser: system_u
    serole: object_r
  with_items:
    - {content: "{{ influxdb_crt}}", dest: "influxdb.crt"}
    - {content: "{{ influxdb_key }}", dest: "influxdb.key", mode: '0400'}
  no_log: true

- name: Configure influxdb to use tls
  ini_file:
    dest: /etc/influxdb/influxdb.conf
    section: '{{ item.section }}'
    option: '{{ item.option }}'
    value: '{{ item.value }}'
  with_items:
    - {section: http, option: auth-enabled, value: 'true'}
    - {section: http, option: https-enabled, value: 'true'}
    - {section: http, option: https-certificate, value: '"/etc/influxdb/influxdb.crt"'}
    - {section: http, option: https-private-key, value: '"/etc/influxdb/influxdb.key"'}
  notify: restart influxdb

- name: Start service
  systemd:
    name: influxdb
    state: started
    enabled: "yes"

- include_tasks: influxdb_configuration.yml
