---
role_actions:
  - stop
  - install
  - setup
  - backup
  - restore
  - update
  - upgrade
  - get_logs
  - disable
  - postconf

zuul_services:
  - rh-python35-zuul-scheduler
  - rh-python35-zuul-merger
  - rh-python35-zuul-executor
  - rh-python35-zuul-web

zuul_scheduler_packages:
  - wait4service
  - rh-python35-zuul
  - rh-python35-zuul-scheduler

zuul_merger_packages:
  - rh-python35-zuul
  - rh-python35-zuul-merger
  - httpd

zuul_executor_packages:
  - rh-python35-zuul
  - rh-python35-zuul-executor
  - rh-python35-ara
  # sfauth (part of sfmanager) is required for tenant config-check
  - python2-sfmanager

zuul_web_packages:
  - rh-python35-zuul
  - rh-python35-zuul-web

zuul_conf_dir: "/etc/opt/rh/rh-python35/zuul"
zuul_lib_dir: "/var/opt/rh/rh-python35/lib/zuul"
zuul_log_dir: "/var/opt/rh/rh-python35/log/zuul"
zuul_share_dir: "/opt/rh/rh-python35/root/usr/share/javascript/zuul"
zuul_sysconfig: "/etc/opt/rh/rh-python35/sysconfig/zuul"

zuul_web_port: 9000
zuul_gearman_port: 4730

zuul_executor_disk_limit: 1024
zuul_executor_load_multiplier: 2.5
zuul_executor_min_avail_hdd: 5.0
zuul_executor_min_avail_mem: 5.0

zuul_mysql_host: "mysql.example.com"
zuul_mysql_port: 3306
zuul_mysql_db: "zuul"
zuul_mysql_user: "zuul"
zuul_mysql_password: "CHANGE_ME"

gerrit_pub_url: "https://example.com/r/"
zuul_pub_url: "https://example.com/zuul/"

zuul_web_url: "http://localhost:{{ zuul_web_port }}"
zuul_ws_url: "ws://localhost:{{ zuul_web_port }}"

zuul_loglevel: INFO
zuul_root_loglevel: WARNING

# We need those variables to generate config-check nodepool.yaml file
nodepool_conf_dir: "/etc/opt/rh/rh-python35/nodepool"
nodepool_lib_dir: "/var/opt/rh/rh-python35/lib/nodepool"
nodepool_webapp_port: 8006

zuul_periodic_pipeline_mail_rcpt: root@localhost

# Prevent zuul update task to run concurently in master/tenant mode
lock_path: /var/lib/software-factory/state/.zuul_config
