---
role_actions:
  - stop
  - install
  - setup
  - backup
  - restore
  - update
  - get_logs
  - disable
  - postconf

role_package: zuul

zuul_services:
  - zuul-scheduler
  - zuul-merger
  - zuul-executor
  - zuul-web

zuul_scheduler_packages:
  - wait4service
  - managesf
  - zuul
  - zuul-scheduler

zuul_merger_packages:
  - zuul
  - zuul-merger
  - httpd

zuul_executor_packages:
  - zuul
  - zuul-executor
  - ara
  # sfauth (part of sfmanager) is required for tenant config-check
  - python3-sfmanager

zuul_web_packages:
  - zuul
  - zuul-web

zuul_conf_dir: "/etc/zuul"
zuul_lib_dir: "/var/lib/zuul"
zuul_log_dir: "/var/log/zuul"
zuul_share_dir: "/usr/share/javascript/zuul"
zuul_sysconfig: "/etc/sysconfig/zuul"

zuul_web_port: 9000
zuul_gearman_port: 4730

zuul_executor_disk_limit: 1024
zuul_executor_load_multiplier: 2.5
zuul_executor_min_avail_hdd: 5.0
zuul_executor_min_avail_mem: 5.0

zuul_mysql_host: "mysql.example.com"
zuul_mysql_port: 3306
zuul_mysql_db: "zuul"
zuul_mysql_user: "zuul"
zuul_mysql_password: "CHANGE_ME"
zuul_hs256_secret: "CHANGE_ME"

gerrit_pub_url: "https://example.com/r/"
zuul_pub_url: "https://example.com/zuul/"

zuul_web_url: "http://localhost:{{ zuul_web_port }}"
zuul_ws_url: "ws://localhost:{{ zuul_web_port }}"

zuul_loglevel: INFO
zuul_root_loglevel: WARNING

# We need those variables to generate config-check nodepool.yaml file
nodepool_conf_dir: "/etc/nodepool"
nodepool_lib_dir: "/var/lib/nodepool"
nodepool_webapp_port: 8006

zuul_periodic_pipeline_mail_rcpt: root@localhost
