---
role_actions:
  - stop
  - install
  - setup
  - update
  - get_logs
  - disable
  - upgrade

zuul_services:
  - zuul-server
  - zuul-merger
  - zuul-launcher

zuul_packages:
  - zuul
  - zuul-webui
  - zuul-server
  - zuul-merger
  - zuul-launcher

zuul_port: 8084

zuul_mysql_host: "mysql.example.com"
zuul_mysql_port: 3306
zuul_mysql_db: "zuul"
zuul_mysql_user: "zuul"
zuul_mysql_password: "CHANGE_ME"

zuul_server_host: "zuul.example.com"

gerrit_pub_url: "https://example.com/r/"
zuul_pub_url: "https://example.com/zuul/"
zuul_internal_url: "http://localhost:{{ zuul_port }}/"

zuul_offline_node_when_complete: true

zuul_loglevel: INFO
zuul_gear_loglevel: WARNING
zuul_root_loglevel: WARNING

zuul_log_url: "{{ gateway_url }}/logs/{build.parameters[LOG_PATH]}"

# Enable zuul jenkins credencials support
zuul_jenkins_credencials: true

zuul_periodic_pipeline_mail_rcpt: root@localhost
