---
- include_tasks: "{{ sf_tasks_dir }}/create_user.yml user_name=etherpad"

- name: Apply selinux port labelling
  seport:
    ports: 9001
    proto: tcp
    setype: http_port_t
    state: present
  when: ansible_selinux.status == "enabled"

- name: Setup sysconfig for mariadb wait lock
  copy:
    content: "ETHERPAD_SQL_SERVER=\"{{ etherpad_mysql_host }} {{ etherpad_mysql_port }}\""
    dest: /etc/sysconfig/etherpad

- name: "Adds top-menu"
  patch:
    src: etherpad-top-menu.patch
    basedir: /usr/libexec/etherpad
    strip: 1

- name: "Copy custom pad.css"
  copy:
    src: pad.css
    dest: /usr/libexec/etherpad/src/static/custom/pad.css

- name: "Setup settings.json"
  template:
    src: settings.json.j2
    dest: /var/lib/etherpad/settings.json
  notify: [restart etherpad]

- name: Start service
  systemd:
    name: etherpad
    state: started
    daemon_reload: "yes"
    enabled: "yes"
