---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"

- include_tasks: "{{ sf_tasks_dir }}/create_user.yml"
  vars:
    user_name: etherpad

- name: Apply selinux port labelling
  seport:
    ports: 9001
    proto: tcp
    setype: http_port_t
    state: present
  when:
    - ansible_virtualization_type not in ["podman", "systemd-nspawn"]
    - ansible_selinux.status == "enabled"

- name: Setup sysconfig for mariadb wait lock
  copy:
    content: "ETHERPAD_SQL_SERVER=\"{{ etherpad_mysql_host }} {{ etherpad_mysql_port }}\""
    dest: /etc/sysconfig/etherpad

- name: "Check for version 1.6"
  stat:
    path: /usr/libexec/etherpad/src/static/custom
  register: _etherpad_v16

- name: "Adds top-menu (v1.6)"
  when: _etherpad_v16.stat.exists
  block:
    - name: "Adds top-menu"
      patch:
        src: etherpad-top-menu.patch
        basedir: /usr/libexec/etherpad
        strip: 1

    - name: "Copy custom pad.css"
      copy:
        src: pad.css
        dest: /usr/libexec/etherpad/src/static/custom/pad.css

- name: "Adds top-menu (v1.7)"
  when: not _etherpad_v16.stat.exists
  patch:
    src: etherpad-1.7-top-menu.patch
    basedir: /usr/libexec/etherpad/src/templates
    strip: 1

- name: "Setup settings.json"
  template:
    src: settings.json.j2
    dest: /var/lib/etherpad/settings.json
  notify: [restart etherpad]

- name: Start service
  systemd:
    name: etherpad
    state: started
    daemon_reload: "yes"
    enabled: "yes"
