---
role_actions:
  - install
  - setup
  - configure_mirror
  - disable
  - get_logs

role_package: logstash

elk_stack_version: 7
elk_sub_version: 8

elastic_repo_name: elastic
elastic_repo_desc: Elastic repository
elastic_repo_url: 'https://artifacts.elastic.co/packages/{{ elk_stack_version }}.x/yum'
elastic_repo_gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
elastic_repo_gpgcheck: 1

elasticsearch_http_port: 9200
elasticsearch_host: elasticsearch.example.com
elasticsearch_internal_url: "https://{{ elasticsearch_host }}:{{ elasticsearch_http_port }}"

elasticsearch:
  logstash_password: logstash

logstash_host: logstash.example.com
logstash_input_port: 9999

logstash_retention_days: 60
logstash_maximum_heap_size: 128m
logstash_minimum_heap_size: 128m
