---
role_actions:
  - install
  - setup
  - get_logs
  - disable

role_package: "log-processing"

owner: logscraper
group: logscraper
container_gid: 1000
container_uid: 1000

opensearch_http_port: 9200
opensearch_host: opensearch.example.com

opensearch_logstash_password: "CHANGE_ME"

zuul_api_url: https://{{ fqdn }}/zuul/api/tenant/{{ tenant_name }}
insecure: false
download: true
logscraper_dir: /var/lib/logscraper
download_dir: /var/lib/logscraper/{{ tenant_name }}
checkpoint_file: "{{ logscraper_dir }}/checkpoint"
file_list: "{{ logscraper_dir }}/download-list.yaml"
max_skipped: 1000
debug: false
logscraper_wait_time: 120
logscraper_workers: 2
# logsender
es_host: ""
es_port: ""
es_logstash_username: "logstash"
es_logstash_password: "{{ opensearch_logstash_password }}"
es_index_prefix: "logstash-"
es_insecure: false
logsender_workers: 2
logsender_wait_time: 60
logscraper_custom_ca_crt: ""
logsender_custom_ca_crt: "/etc/opensearch/certs/opensearch/localCA.pem"

# NOTE(dpawlik): The openstack/ci-log-processing project does not have
# release process yet. This image is pointing to latest patch set done
# in that project: https://review.opendev.org/c/openstack/ci-log-processing/+/864400
# Alternative url for newest container images:
# https://hub.docker.com/r/cilogprocessing/logscraper
logscraper_tag: "ce7aba2"
log_processing_components:
  - service: "logscraper"
    image: "quay.io/software-factory/logscraper:{{ logscraper_tag }}"
    skip-auto-update: true
    params: >-
      --net host
      --user {{ container_uid }}:{{ container_gid }}
      --uidmap 0:4000:999
      --gidmap 0:4000:999
      --uidmap {{ container_uid }}:{{ logscraper_uid | default(1000) }}:1
      --gidmap {{ container_gid }}:{{ logscraper_gid | default(1000) }}:1
      --volume {{ logscraper_dir | default(logscraper_dir) }}:{{ logscraper_dir }}:z
      --volume {{ download_dir }}:{{ download_dir }}:z
      --volume {{ checkpoint_file }}:{{ checkpoint_file }}:z
      {% if logscraper_custom_ca_crt != '' %}
      --volume {{ logscraper_custom_ca_crt }}:{{ logscraper_custom_ca_crt }}:z
      {% endif %}
      {% if sf_logscraper_additional_params is defined %}
      {{ sf_logscraper_additional_params }}
      {% endif %}
    run: >-
      /usr/local/bin/logscraper
      --config {{ logscraper_dir }}/logscraper.yaml
  - service: "logsender"
    image: "quay.io/software-factory/logscraper:{{ logscraper_tag }}"
    skip-auto-update: true
    params: >-
      --net host
      --user {{ container_uid }}:{{ container_gid }}
      --uidmap 0:4000:999
      --gidmap 0:4000:999
      --uidmap {{ container_uid }}:{{ logscraper_uid | default(1000) }}:1
      --gidmap {{ container_gid }}:{{ logscraper_gid | default(1000) }}:1
      --volume {{ download_dir }}:{{ download_dir }}:z
      --volume {{ logscraper_dir }}:{{ logscraper_dir }}:z
      {% if external_opensearch_cacert and external_opensearch_cacert != '' %}
      --volume {{ external_opensearch_cacert }}:{{ external_opensearch_cacert }}:z
      {% elif logsender_custom_ca_crt != '' %}
      --volume {{ logsender_custom_ca_crt }}:{{ logsender_custom_ca_crt }}:z
      {% endif %}
      {% if sf_logsender_additional_params is defined %}
      {{ sf_logsender_additional_params }}
      {% endif %}
    run: >-
      /usr/local/bin/logsender
      --config {{ logscraper_dir }}/logsender.yaml
