---
# fqdn of the deployment used by authentication and in notification
fqdn: sftests.com

# Enable services debug mode
debug: false

# Default landing web page
welcome_page_path: "sf/welcome.html"

network:
  use_letsencrypt: false
  smtp_relay:
  # NTP main reference server
  ntp_main_server: pool.ntp.org

  # Set mail forward to your personal address to receive notification
  # Default to root mailbox on managesf node
  admin_mail_forward: root@localhost

  static_hostnames: []
  # Define static hostnames
  # - "8.8.8.8 google-dns.com"

  # Define a koji host to be accessible through fqdn/koji
  koji_host: ""

  # Disable gerrit replication and nodepool providers
  disable_external_resources: false

config-locations:
  # When not set, the config repositories are hosted locally
  config-repo:
  jobs-repo:

authentication:
  admin_password: CHANGE_ME
  # timeout of sessions in seconds
  sso_cookie_timeout: 43200

  # Enforce authentication for all services (such as etherpad and pastebin that doesn't require authentication by default)
  authenticated_only: false

  ldap:
    disabled: true
    ldap_url: ldap://sftests.com
    ldap_account_base: ou=Users,dc=sftests,dc=com
    ldap_account_username_attribute: cn
    ldap_account_mail_attribute: mail
    ldap_account_surname_attribute: sn

  active_directory:
    disabled: true
    ldap_url: ldap://pdc.sftests.com
    ldap_account_domain: domain.sftests.com
    ldap_account_base: ou=people,dc=domain,dc=sftests,dc=com
    ldap_account_username_attribute: sAMAccountName
    ldap_account_mail_attribute: mail
    ldap_account_surname_attribute: name

  oauth2:
    # Currently supported OAuth2 providers are github, google, bitbucket
    # While it is technically possible to have as many of these providers used
    # at the same time, this might cause problems along the way with users
    # and/or email collisions between several providers.
    # Enable more than one at your own risk.
    github:
      disabled: false
      client_id:
      client_secret:
      # the github provider also lets you filter users logging in depending
      # on the organizations they belong to. Leave blank if not necessary
      github_allowed_organizations:
    google:
      disabled: false
      client_id:
      client_secret:
    bitbucket:
      disabled: true
      client_id:
      client_secret:

  openid:
    # Provider discovery is not supported by the OpenID auth plugin (see also
    # problems with multiple oauth providers as explained above). You must
    # therefore specify the openID server you wish to use.
    # Use the launchpad server by default
    disabled: false
    server: https://login.launchpad.net/+openid
    # what to display on the login button
    login_button_text: "Log in with Launchpad"

  openid_connect:
    disabled: true
    issuer_url:
    login_button_text: "Log in with OpenID Connect"
    client_id:
    client_secret:
    mapping:
      login: email
      email: email
      name: name
      uid: sub

theme:
  loginpage_custom_footer: ""
  # Right topmenu entry, next to the login/logout button
  topmenu_custom_entry: '<li><a href="/docs/" target="_top">Documentation</a></li>'

# add httpd directories
gateway_directories: ""
#  - name: dir_name
#    path: dir_path
#    options:
#        - "option 1"
#        - "option 2"

mirrors:
  # Set periodic update using time format, e.g. daily = '0 0 * * *'
  periodic_update: false
  swift_mirror_url: http://swift:8080/v1/AUTH_uuid/repomirror/
  swift_mirror_tempurl_key: container_tempurl_key
  swift_mirror_ttl: 15811200  # 6 months ttl

nodepool:
  providers:
    - name: default
      auth_url:
      project_name: tenantname
      username: username
      password: secret
      region_name: regionOne
      regions: []
      # These must be set when using a keystone v3 auth endpoint
      # user_domain_name: Default
      # project_domain_name: Default

elasticsearch:
  heap_size: 512m
  replicas: 0

logstash:
  retention_days: 60

logs:
  # 2 months log expiry
  expiry: 60

zuul:
  default_nodeset_name: container
  default_nodeset_label: centos-oci
  default_retry_attempts: 3
  # Mail address to contact when post or periodic pipeline job failed
  periodic_pipeline_mail_rcpt: "root@localhost"
  # Set custom zuul log url, the url will be expaned using the build parameters
  #  Default is: https://fqdn/logs/{build.uuid}/
  success_log_url: ""

  # Set custom zuul log url, the url will be expaned using the build parameters
  #  Default is: https://fqdn/logs/{build.uuid}/
  failure_log_url: ""

  # Set external gerrit connections to act as third party CI
  gerrit_connections: []
  #  - name: "external_gerrit"
  #    hostname: external-gerrit-hostname
  #    port: 29418
  #    puburl: https://external-gerrit-host-name/r/
  #    username: external-gerrit-user-name

  github_connections: []
  #    - name: "github.com"
  #      hostname: github.com
  #      webhook_token: XXX # see https://developer.github.com/webhooks/securing/>
  #      # GitHub App settings
  #      app_id: XXX # See https://softwarefactory-project.io/docs/operator/zuul_operator.html#zuul-github-app-operator
  #      app_name: XXX # Set app-name to enable gate configuration
  #      label_name: XXX # Set to enforce a label presence for gate pipeline
  #      app_key: | # In Github this is known as Private key and it must be collected when generated
  #        Key content here
  #      # Github Webhook settings
  #      api_token: XXX # See https://help.github.com/articles/creating-an-access-token-for-command-line-use/

  git_connections: []
  #    - name: "git.openstack.org"
  #      # project name will be appended to it.
  #      baseurl: "https://git.openstack.org/"
  #      # refresh rate in second
  #      poll_delay: 7200

  # To use openstack-infra/zuul-jobs, review.openstack.org needs to be added to gerrit_connections list too
  upstream_zuul_jobs: false

gerritbot:
  disabled: true
  ircserver: irc.freenode.net
  ircport: 6667
  botname: sfbot
  password: null

mumble:
  password: false
