---
role_actions:
  - install
  - setup
  - get_logs
  - disable

role_package: hydrant

elasticsearch_http_port: 9200
elasticsearch_host: elasticsearch.example.com
elasticsearch_internal_url: "https://{{ elasticsearch_host }}:{{ elasticsearch_http_port }}"
