Alias "/dlrn-worker/{{ item.project }}" "{{ dlrn_base_dir }}/{{ item.project }}/data/repos"
<Directory "{{ dlrn_base_dir }}/{{ item.project }}/data/repos">
    Options Indexes MultiViews FollowSymlinks
    Require all granted
</Directory>

WSGIDaemonProcess dlrn-{{ item.project }} user=dlrn group=dlrn threads=1
WSGIScriptAlias /dlrn-worker-api/{{ item.project }} /var/www/dlrn/dlrn-api-{{ item.project }}.wsgi
WSGIProcessGroup dlrn-{{ item.project }}
WSGIScriptReloading On
WSGIPassAuthorization On

<Directory /var/www/dlrn>
    Order deny,allow
    Allow from all
</Directory>
