---
role_actions:
  - install
  - setup
  - disable
  - get_logs

role_package: logserver

container_uid: 1000
container_gid: 1000
owner: "loguser"
group: "loguser"

logserver_authorized_keys: []

# 2 months log expiry
logs_expiry: 60

logs_directory_prefix: logs/

logserver_version: 4.9.3
logserver_container_version: "{{ logserver_version }}-2"

purgelogs_version: 0.2.0
purgelogs_container_version: "{{ purgelogs_version }}-1"
purgelogs_debug: false

logserver_http_port: 31215

logserver_config_dir: /etc/logserver
logserver_httpd_cont_conf_file: "logserver.conf"

logserver_components:
  - service: "purgelogs"
    image: "quay.io/software-factory/purgelogs:{{ purgelogs_container_version }}"
    params: >-
      --volume /var/www/:/var/www/
      --uidmap 0:4000:100
      --gidmap 0:4000:100
      --uidmap {{ container_uid}}:{{ logserver_uid | default(1000) }}:1
      --gidmap {{ container_gid }}:{{ logserver_gid | default(1000) }}:1
      {% if sf_purgelogs_additional_params is defined %}
      {{ sf_purgelogs_additional_params }}
      {% endif %}
    run: >-
      bash -c "/usr/local/bin/purgelogs --retention-days '{{ logs_expiry }}' --loop 3600 --log-path-dir /var/www/logs {% if purgelogs_debug %}--debug{% endif %}"

  - service: "{{ role_package }}"
    image: "quay.io/software-factory/{{ role_package }}:{{ logserver_container_version }}"
    params: >-
      --network host
      --tty
      --uidmap 0:4000:1000
      --gidmap 0:4000:1000
      --uidmap {{ container_uid}}:{{ logserver_uid | default(1000) }}:1
      --gidmap {{ container_gid }}:{{ logserver_gid | default(1000) }}:1
      --volume {{ logserver_config_dir }}/{{ logserver_httpd_cont_conf_file }}:/etc/httpd/conf.d/{{ logserver_httpd_cont_conf_file }}:Z
      --volume /var/www/:/var/www/:Z
      {% if sf_logserver_additional_params is defined %}
      {{ sf_logserver_additional_params }}
      {% endif %}
