---
- name: Set character_set_server to utf8
  lineinfile:
    dest: /etc/my.cnf
    line: "character_set_server = utf8"

- name: Set wait_timeout to 2 weeks
  ini_file:
    dest: /etc/my.cnf.d/mariadb-server.cnf
    section: server
    option: wait_timeout
    value: 1209600

- name: Start mariadb
  service:
    name: mariadb
    enabled: "yes"
    state: started

- name: Check mysql root password
  shell: "/usr/bin/mysqladmin -u root -p{{ mysql_root_password }} status"
  register: mysql_root_password_set
  ignore_errors: true
  changed_when: false

- name: Set mysql root password
  shell: "/usr/bin/mysqladmin -u root password {{ mysql_root_password }}"
  register: result
  until: result.rc == 0
  retries: 5
  delay: 1
  when: mysql_root_password_set is failed

- name: Setup create_database sql query
  template:
    src: create_databases.sql.j2
    dest: /var/lib/software-factory/sql/databases.sql

- name: Setup root user client.cnf
  template:
    src: "client.cnf.j2"
    dest: "/root/.my.cnf"
    mode: "0400"

- name: ensure anonymous users are not in the database
  mysql_user:
    name: ''
    host: "{{ item }}"
    state: absent
  with_items:
    - localhost
    - "{{ ansible_hostname }}"

- name: remove useless databases if present
  mysql_db:
    name: "{{ item }}"
    state: absent
  with_items:
    - test

- name: Create databases
  shell: "mysql < /var/lib/software-factory/sql/databases.sql"
