---
- name: "Create container creation script for {{ item.service }}"
  template:
    src: creation.j2
    dest: "/usr/local/bin/container-{{ item.service }}.sh"
    mode: '0755'
    owner: root
  register: _container_script_changed

- name: "Check if {{ item.service }} container exists"
  command: "podman container exists {{ item.service }}"
  ignore_errors: yes
  register: _container_exists
  changed_when: false
  failed_when: _container_exists.rc not in [0, 1]

- name: Delete containers
  include_role:
    name: sf-container
    tasks_from: delete.yaml
  loop:
    - service: "{{ item.service }}"
  when:
    - _container_script_changed.changed
    - _container_exists.rc == 0
    - item.service not in ((zuul_services | default([])) + (nodepool_services | default([])))

# Zuul and Nodepool containers will be re-created / re-started with (zuul|nodepool)_restart.yml
- name: "Touch updated file for {{ item.service }}"
  file:
    path: "/var/lib/software-factory/versions/{{ item.service }}-updated"
    state: touch
  when:
    - _container_script_changed.changed
    - _container_exists.rc == 0
    - item.service in ((zuul_services | default([])) + (nodepool_services | default([])))

- name: "Check again if {{ item.service }} container exists after ask for deletion"
  command: "podman container exists {{ item.service }}"
  ignore_errors: yes
  register: _container_exists
  changed_when: false
  failed_when: _container_exists.rc not in [0, 1]

- name: "Create container for {{ item.service }}"
  block:
    - name: "Create {{ item.service }} container"
      shell: "/usr/local/bin/container-{{ item.service }}.sh > /var/log/software-factory/container-{{ item.service }}.log"
  rescue:
    - name: "Dump {{ item.service }} service state for debug"
      vars:
        debug_log: "/var/log/software-factory/container-{{ item.service }}-debug.log"
      shell: |
        echo "<<< podman container status >>>" >> {{ debug_log }}
        podman ps -a >> {{ debug_log }}
        echo "<<< service status >>>" >> {{ debug_log }}
        systemctl status {{ item.service }} >> {{ debug_log }}
        echo "<<< service listening >>>" >> {{ debug_log }}
        netstat -nltpu >> {{ debug_log }}
        echo "<<< trying to get container logs >>>" >> {{ debug_log }}
        podman logs {{ item.service }} >> {{ debug_log }}
        echo "<<< end debug logs >>>" >> {{ debug_log }}
      ignore_errors: true
  when: _container_exists.rc != 0

- name: "Install {{ item.service }} service file"
  template:
    src: service.j2
    dest: "/etc/systemd/system/{{ item.service }}.service"
  register: _container_service

- name: "Enable {{ item.service }} service"
  systemd:
    name: "{{ item.service }}"
    state: reloaded
    enabled: true
    daemon_reload: true
  when: "_container_service is changed"

- name: Write installed container version
  copy:
    content: "{{ item.image }}"
    dest: "/var/lib/software-factory/versions/{{ item.service }}"
