---
role_actions:
  - install
  - setup
  - config_update
  - get_logs
  - backup
  - restore
  - stop
  - disable

owner: keycloak
group: keycloak
container_uid: 10003
container_gid: 10003

role_package: keycloak

keycloak_http_port: 38080
keycloak_host: keycloak.example.com
keycloak_internal_url: "http://{{ keycloak_host }}:{{ keycloak_http_port }}"
# TODO we should map SF tenants to keycloak realms
keycloak_default_realm: SF

keycloak_mysql_password: "CHANGE_ME"
keycloak_container_version: 19.0.1
keycloak_container_release: 4
gsku_container_version: 0.0.4
gsku_container_release: 1

events_listener_config: "{% if 'firehose' in roles %} --spi-events-listener-mqtt-server-uri=\"tcp://{{ firehose_host }}:1883\" --spi-events-listener-mqtt-username=SF_SERVICE_USER --spi-events-listener-mqtt-password={{ sf_service_user_password }} --spi-events-listener-mqtt-topic=keycloak {% else %} {% endif %}"

keycloak_components:
  - service: "keycloak"
    image: "quay.io/software-factory/keycloak:{{ keycloak_container_version }}-{{ keycloak_container_release }}"
    run: >-
      start
      --http-port={{ keycloak_http_port }}
      --http-relative-path=/auth
      --proxy=edge
      --log-level=info
      --db=mariadb
      --db-url-database=keycloak
      --db-url-host={{ mysql_host }}
      --db-username=keycloak
      --db-password={{ keycloak_mysql_password }}
      --health-enabled=true
      --metrics-enabled=true
      --hostname={{ fqdn }}
      {{ events_listener_config }}
    params: >-
      --network host
      --volume /var/log/keycloak:{{ keycloak_dir }}/standalone/log:Z
      --volume {{ keycloak_certs_dir }}:/etc/x509/https:Z
      -p {{ keycloak_http_port }}:{{ keycloak_http_port }}
      --env KEYCLOAK_ADMIN=admin
      --env KEYCLOAK_ADMIN_PASSWORD={{ authentication.admin_password }}
    dependencies_fulfilled: true
  - service: "github-ssh-key-updater"
    image: "quay.io/software-factory/github-ssh-key-updater:{{ gsku_container_version }}-{{ gsku_container_release }}"
    params: >-
      --network host
      --uidmap 0:4000:999
      --uidmap 1001:{{ keycloak_uid | default(1000)}}:1
      --volume {{ keycloak_dir }}/github-ssh-key-updater:/etc/github-ssh-key-updater:Z
    dependencies_fulfilled: "{% if 'gerrit' in roles and 'firehose' in roles %}yes{% else %}no{% endif %}"

kcadm_options: |
    --no-config
    --password {{ authentication.admin_password }}
    --realm master
    --server http://localhost:{{ keycloak_http_port }}/auth
    --user admin

# TODO is there a way to have this in the components themselves?
keycloak_gerrit_client_secret: "CHANGE_ME"
keycloak_zuul_client_secret: "CHANGE_ME"
keycloak_grafana_client_secret: "CHANGE_ME"
keycloak_managesf_client_secret: "CHANGE_ME"
keycloak_opensearch_client_secret: "CHANGE_ME"

sf_service_user_password: "CHANGE_ME"

sf_cert_path: /var/lib/software-factory/bootstrap-data/certs

keycloak_dir: /opt/keycloak
keycloak_certs_dir: "{{ keycloak_dir }}/certs"
