---
_meta:
  config_version: 2
  type: config
config:
  dynamic:
    kibana:
      multitenancy_enabled: false
    http:
      anonymous_auth_enabled: false
      xff:
        enabled: false
    authc:
      basic_internal_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 1
        authentication_backend:
          type: intern
        http_authenticator:
          type: basic
          challenge: {% if 'keycloak' in roles %}false{% else %}true{% endif %}

{% if 'keycloak' in roles %}
      openid_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 0
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: preferred_username
            roles_key: roles
            openid_connect_url: https://{{ fqdn }}/auth/realms/{{ keycloak_default_realm }}/.well-known/openid-configuration
            client_id: elasticsearch
            client_secret: {{ keycloak_elasticsearch_client_secret }}
            openid_connect_idp.enable_ssl: true
            openid_connect_idp.pemtrustedcas_filepath: "{{ elk_stack_certs }}/localCA.pem"
            skip_users:
              - kibanaserver
        authentication_backend:
          type: noop
{% endif %}
