---
_meta:
  config_version: 2
  type: config
config:
  dynamic:
    # FIXME: do we want multitenancy?
    kibana:
      multitenancy_enabled: false
      server_username: "kibanaserver"
      index: ".kibana"
    http:
      anonymous_auth_enabled: false
      xff:
        enabled: false
    authc:
      basic_internal_auth_domain:
        authentication_backend:
          type: intern
        description: Authenticate via HTTP Basic against internal users database
        http_authenticator:
          challenge: true
          type: basic
        http_enabled: true
        order: 4
        transport_enabled: true
      openid_auth_domain:
        http_enabled: false
        transport_enabled: true
        order: 0
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: preferred_username
            roles_key: roles
            openid_connect_url: https://keycloak.example.com:8080/auth/realms/master/.well-known/openid-configuration
        authentication_backend:
          type: noop
