---
_meta:
  type: internalusers
  config_version: 2
admin:
  hash: {{ _elk_admin_hash.stdout }}
  reserved: true
  backend_roles:
    - admin
  description: Admin user
  hidden: true
kibanaserver:
  hash: {{ _elk_kibana_hash.stdout }}
  reserved: true
  backend_roles:
    - kibanauser
  description: Kibanaserver user
  hidden: true
logstash:
  hash: {{ _elk_logstash_hash.stdout }}
  reserved: false
  backend_roles:
    - logstash
  description: Logstash user
  hidden: true
repoxplorer:
  hash: {{ _elk_repoxplorer_hash.stdout }}
  reserved: false
  backend_roles:
    - admin
  description: RepoXplorer user
  hidden: true
curator:
  hash: {{ _elk_curator_hash.stdout }}
  reserved: true
  backend_roles:
    - admin
  description: Curator user
  hidden: true
# NOTE: The predefined roles kibana_read_only + kibana_user was raising an
# exception in Elasticsearch (https://opendistro.github.io/for-elasticsearch-docs/docs/security/access-control/users-roles/#predefined-roles)
# FIXME: switch to the official roles when bug is fixed.
{{ elasticsearch_readonly_user | default('kibana') }}:
  hash: {{ _elk_readall_hash.stdout }}
  reserved: true
  backend_roles:
    - kibana_viewer
  description: Kibana viewer user
