---
{% if external_opensearch_host %}
host: {{ external_opensearch_host | default('managesf.' + fqdn) }}
port: {{ external_opensearch_port | default(9200) }}
ca_file: "{{ external_opensearch_cacert }}"
{% for user, user_creds in external_opensearch_users.items() %}
{% if  external_opensearch_users[user]['role'] == 'logstash' %}
username: "{{ user }}"
password: "{{ external_opensearch_users[user]['password'] }}"
index_prefix: logstash-{{ external_opensearch_users[user]['tenant'] | default(fqdn) | replace('.', '_') | replace('-','_') }}-
{% endif %}
{% endfor %}
{% elif es_logstash_password %}
host: {{ opensearch_host | default('managesf.' + fqdn) }}
port: {{ opensearch_http_port | default(9200) }}
username: "logstash"
password: "{{ es_logstash_password }}"
index_prefix: {{ es_index_prefix | default('logstash-') }}
ca_file: {{ custom_ca_crt }}
{% endif %}
index: {{ es_index | default('') }}
doc_type: {{ doc_type | default('_doc') }}
chunk_size: {{ chunk_size | default(1500) }}
skip_debug: {{ skip_debug | default(true) }}
keep: {{ keep | default(false) }}
debug: {{ debug | default(false) }}
wait_time: {{ logsender_wait_time | default(120) }}
insecure: {{ es_insecure | default(false) }}
follow: {{ follow | default(true) }}
workers: {{ logsender_workers | default(1) }}
ignore_es_status: {{ ignore_es_status | default(false) }}
directory: {{ download_dir | default('/tmp/logscraper') }}
file_list: {{ logscraper_dir }}/download-list.yaml
