---
{% if external_elasticsearch_host %}
{% for user, user_creds in external_elasticsearch_users.items() %}
{% if  external_elasticsearch_users[user]['role'] == 'logstash' %}
username: '{{ user }}'
password: "{{ external_elasticsearch_users[user]['password'] }}"
{% endif %}
{% endfor %}
{% elif elasticsearch_logstash_password %}
host: {{ es_host | default('managesf.' + fqdn) }}
username: 'logstash'
password: "{{ elasticsearch_logstash_password }}"
{% endif %}
port: {{ es_port | default(9200) }}
index: {{ es_index | default('') }}
index_prefix: {{ es_index_prefix | default('logstash-') }}
doc_type: {{ doc_type | default('_doc') }}
chunk_size: {{ chunk_size | default(1500) }}
skip_debug: {{ skip_debug | default(true) }}
keep: {{ keep | default(false) }}
debug: {{ debug | default(false) }}
wait_time: {{ logsender_wait_time | default(120) }}
insecure: {{ es_insecure | default(false) }}
ca_file: {{ custom_ca_crt | default('') }}
follow: {{ follow | default(true) }}
workers: {{ logsender_workers | default(1) }}
ignore_es_status: {{ ignore_es_status | default(false) }}
directory: {{ download_dir | default('/tmp/logscraper') }}
file_list: {{ logscraper_dir }}/download-list.yaml
