---
role_actions:
  - install
  - setup
  - update
  - upgrade
  - get_logs
  - disable
  - postconf

role_package: nodepool

nodepool_services:
  - nodepool-launcher
  - nodepool-builder

nodepool_launcher_packages:
  - nodepool
  - nodepool-launcher
  - managesf

nodepool_builder_packages:
  - httpd
  - libguestfs-tools
  - libvirt-daemon
  - nodepool
  - nodepool-builder
  - sf-elements
  - managesf

nodepool_cache_ttl: 5
nodepool_providers:
  - name: default
    api_timeout: 60
    auth_url: http://localhost:35357/v2.0
    project_name: tenantname
    username: username
    password: secret
    region_name: regionOne

nodepool_conf_dir: "/etc/nodepool"
nodepool_lib_dir: "/var/lib/nodepool"
nodepool_log_dir: "/var/log/nodepool"
nodepool_sysconfig: "/etc/sysconfig/nodepool"
nodepool_exception_log_dir: "/var/www/nodepool-launcher"

nodepool_webapp_port: 8006

nodepool_loglevel: INFO
nodepool_root_loglevel: WARNING

nodepool_build_log_retention: 7

nodepool_openshift_providers: []
nodepool_kube_file: ""
