---
role_actions:
  - install
  - setup
  - update
  - upgrade
  - get_logs
  - disable

nodepool_services:
  - rh-python35-nodepool-launcher
  - rh-python35-nodepool-builder

nodepool_launcher_packages:
  - rh-python35-nodepool
  - rh-python35-nodepool-launcher

nodepool_builder_packages:
  - rh-python35-nodepool
  - rh-python35-nodepool-builder
  - sf-elements
  - httpd

nodepool_cache_ttl: 5
nodepool_providers:
  - name: default
    api_timeout: 60
    auth_url: http://localhost:35357/v2.0
    project_name: tenantname
    username: username
    password: secret
    region_name: regionOne

nodepool_conf_dir: "/etc/opt/rh/rh-python35/nodepool"
nodepool_lib_dir: "/var/opt/rh/rh-python35/lib/nodepool"
nodepool_log_dir: "/var/opt/rh/rh-python35/log/nodepool"
nodepool_sysconfig: "/etc/opt/rh/rh-python35/sysconfig/nodepool"

nodepool_webapp_port: 8006

nodepool_loglevel: INFO
nodepool_root_loglevel: WARNING

nodepool_build_log_retention: 7
