---
role_actions:
  - install
  - setup
  - update
  - get_logs
  - disable
  - upgrade

jenkins_password: "CHANGE_ME"

jenkins_host: "example.com"
jenkins_api_url: "http://{{ jenkins_host }}:8080/jenkins/"

nodepool_services:
  - nodepool-launcher
  - nodepool-builder

nodepool_packages:
  - nodepool
  - nodepool-launcher
  - nodepool-builder
  - sf-elements

nodepool_providers:
  - name: default
    api_timeout: 60
    auth_url: http://localhost:35357/v2.0
    project_name: tenantname
    username: username
    password: secret
    region_name: regionOne

nodepool_loglevel: INFO
nodepool_root_loglevel: WARNING

nodepool_mysql_host: "mysql.example.com"
nodepool_mysql_port: 3306
nodepool_mysql_db: "nodepool"
nodepool_mysql_user: "nodepool"
nodepool_mysql_password: "CHANGE_ME"

nodepool_webapp_port: 8005

nodepool_disable_providers: false
