- name: Disable services
  service:
    name: mosquitto
    state: stopped
    enabled: no
  ignore_errors: yes

- block:
    - name: Remove files
      file:
        path: "{{ item }}"
        state: absent
      with_items: []

    - name: Remove packages
      yum:
        name: "{{ item }}"
        state: absent
      with_items:
        - mosquitto
  when: erase == True
