---
role_actions:
  - install
  - setup
  - config_update
  - get_logs
  - backup
  - restore
  - stop
  - disable

owner: gerrit
group: gerrit
container_uid: 10002
container_gid: 10002

gerrit_conf_dir: "/etc/gerrit"
gerrit_lib_dir: "/var/lib/gerrit"
gerrit_log_dir: "/var/log/gerrit"

gerrit_version: 3.4.3
gerrit_container_version: "{{ gerrit_version }}-0"

gerrit_components:
  - service: "gerrit"
    post_start: "/usr/libexec/software-factory/wait4gerrit"
    image: "quay.io/software-factory/gerrit:{{ gerrit_container_version }}"
    skip-auto-update: True
    params: >-
      --network host
      --user {{ container_uid }}:{{ container_gid }}
      --uidmap 0:4000:999
      --uidmap {{ container_uid }}:{{ gerrit_uid | default(1000) }}:1
      --entrypoint /entrypoint.sh
      --volume /etc/sysconfig/gerrit:/etc/sysconfig/gerrit:z
      --volume /etc/gerrit/:/var/gerrit/etc/:z
      --volume /var/lib/gerrit/.gitconfig:/var/gerrit/.gitconfig:z
      --volume /var/lib/gerrit/data/:/var/gerrit/data/:z
      --volume /var/lib/gerrit/cache/:/var/gerrit/cache/:z
      --volume /var/lib/gerrit/db/:/var/gerrit/db/:z
      --volume /var/lib/gerrit/entrypoint.sh:/entrypoint.sh:z
      --volume /var/lib/gerrit/git/:/var/gerrit/git/:z
      --volume /var/lib/gerrit/hooks/:/var/gerrit/hooks/:z
      --volume /var/lib/gerrit/index/:/var/gerrit/index/:z
      --volume /var/lib/gerrit/plugins/:/var/gerrit/plugins/:z
      --volume /var/lib/gerrit/.ssh/:/var/gerrit/.ssh/:z
      --volume /var/log/gerrit/:/var/gerrit/logs/:z

role_package: gerrit

gerrit_port: 8000

gerrit_pub_url: "https://example.com/r/"
gerrit_internal_url: "http://localhost:{{ gerrit_port }}/r/"

managesf_internal_url: "http://localhost:20001"

local_admin_mail: "admin@{{ fqdn }}"
gerrit_email: "gerrit@example.com"

gerrit_replication: true

# Define service and admin user ssh keys to manage them
gerrit_service_rsa: ""
gerrit_service_rsa_pub: ""
gerrit_admin_rsa: ""
gerrit_admin_rsa_pub: ""

gerrit_email_pk: "CHANGE_ME"
gerrit_token_pk: "CHANGE_ME"
gerrit_admin_password: "CHANGE_ME"
gerrit_zuul_password: "CHANGE_ME"
gerrit_server_id: "CHANGE_ME"
gerrit_keystore_password: "CHANGE_ME"

gitweb_cgi: "/var/www/git/gitweb.cgi"

gerrit_heap_limit: "512m"

gerrit_max_ssh_connection_per_user: 64

# Already defined in sf-keycloak but needs to be here?
keycloak_default_realm: "SF"
keycloak_http_port: 38080
