[zuul]

[connection gerrit]
driver=gerrit
server=localhost
user=jenkins

{% for conn in zuul_extra_gerrits %}
[connection {{ conn.name }}]
driver=gerrit
server=localhost
user=jenkins

{% endfor %}

[connection sqlreporter]
driver=sql
dburi=sqlite://

[connection smtp]
driver=smtp
server=localhost
