#!/bin/env python
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

import argparse
import json
from six.moves import urllib

parser = argparse.ArgumentParser()
parser.add_argument("--poll-frequency", default=(12*60*60), type=int,
                    help="Refresh time in seconds")
parser.add_argument("dest")
args = parser.parse_args()
privates = set()

config = {
   "max-concurrent-indexers": 2,
   "dbpath": "/var/lib/hound/data",
   "repos": {},
}

req = urllib.request.urlopen("{{ managesf_internal_url }}/v2/resources")
data = json.loads(req.read().decode('utf-8'))

projects = data.get("resources", {}).get("projects", {}).items()
repos = data.get("resources", {}).get("repos", {}).items()
connections = dict(data.get("resources", {}).get("connections", {}).items())
repo_urls = {}

for project, attr in projects:
    for sr in attr.get('source-repositories', []):
        repo_name = list(sr.keys())[0]
        if sr[repo_name].get('private') is True:
            privates.add(repo_name)
        if (sr[repo_name].get('hound/skip') is True or
                'hound/skip' in attr.get('options', [])):
            privates.add(repo_name)
        if 'connection' in attr:
            conn = connections.get(attr['connection'])
        else:
            conn = connections.get('gerrit')
        repo_urls[repo_name] = conn['base-url']

for repo, attr in repos:
    if repo in privates:
        continue
    if not repo in repo_urls:
        conn = connections.get('gerrit')
        repo_urls[repo] = conn['base-url']
    if repo_urls[repo] == 'https://review.gerrithub.io':
        base_url = 'https://github.com/' + repo
    else:
        base_url = "%s/gitweb?p=%s.git;a=blob;f={path}{anchor}" % (repo_urls[repo], repo)
    config["repos"][repo] = {
        "url": "%s/%s.git" % (repo_urls[repo], repo),
        "ms-between-poll": int(args.poll_frequency * 1000),
        "vcs-config": {
            "ref": attr.get('default-branch', 'master')
        },
        "url-pattern": {
            "base-url": base_url,
            "anchor": "#l{line}",
        }
    }

orig = open(args.dest, "r").read()
new = json.dumps(config, indent=True, sort_keys=True)

if orig != new:
    with open(args.dest, "w") as of:
        of.write(new)
    exit(4)
