---
- name: Check if CentOS system
  set_fact:
    extra_repos: "base,updates"
  when: ansible_distribution == "CentOS"

- name: Check if RedHat system
  set_fact:
    extra_repos: "rhel-7-server-rpms"
  when: ansible_distribution == "RedHat"

- name: Install package
  yum:
    # FIXME: grafyaml doesn't work with grafana 8.0, force 7.5 version until we
    # fix the project.
    # name: grafana
    name: https://dl.grafana.com/oss/release/grafana-7.5.7-1.x86_64.rpm
    state: present
    allow_downgrade: yes
    # disablerepo: "*"
    # enablerepo: "{{ grafana_repo_name }},{{ extra_repos }}"
    enablerepo: "{{ extra_repos }}"

- name: Install grafyaml for config-update and config-check
  yum:
    name: grafyaml
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"
  delegate_to: "{{ item }}"
  loop: "{{ executor_hosts | union( groups['install-server'] ) }}"
