---
- name: Ensure zuul-web is available
  uri:
    url: "http://{{ zuul_web_host }}:9000"
    method: GET
    status_code: "200"
  retries: 6
  delay: 10
  when: "'zuul-web' in roles"

- name: Ensure grafana is available
  uri:
    url: "http://{{ grafana_host }}:3000"
    method: GET
    status_code: "200"
  retries: 6
  delay: 10

- name: Delete old dashboards
  shell: >
    podman exec -it mysql sh -c "mysql -u{{ grafana_mysql_user }} -p{{ grafana_mysql_password }} grafana -e 'delete from dashboard where not slug=\"general-alerting\";'"
  delegate_to: "{{ mysql_host }}"
  when:
    - sf_previous_version < 3.8

- name: Render dynamic graph
  command: update-grafana-graphs.sh
  changed_when: false
  delegate_to: localhost
