---
- name: Create (but not update) default configuration directory
  synchronize:
    src: "/usr/share/sf-config/ansible/roles/sf-repos/files/config/{{ item }}/"
    dest: "{{ config_clone_dir }}/{{ item }}/"
    times: no
    rsync_opts:
      # Ignore existing because users may update those files
      - "--ignore-existing"
      - "--exclude=*.py[co]"
  loop: "{{ repo_dir_names }}"
