---
- stat:
    path: /root/zuul-jobs
  register: zuul_jobs_done

- block:
    - name: Check if repository exists
      command: python -c "import requests; print('zuul-jobs' in requests.get('{{ managesf_internal_url }}/v2/resources').json().get('resources', {}).get('repos', {}))"
      register: jobs_resource

    - name: Create empty resources file
      shell: "echo 'resources: {}' > /root/empty_resources.yaml"
      when: jobs_resource.stdout == 'False'

    - name: Create repository
      command: "{{ item }}"
      args:
        chdir: /root/config
      with_items:
        - git fetch --all
        - git reset --hard origin/master --
        - git clean -f -x -d
        - /usr/share/sf-config/scripts/create_project_resources.py --repo zuul-jobs --core admin@{{ fqdn }} resources/_zuul-jobs.yaml
        - /usr/local/bin/resources.sh direct_apply /root/empty_resources.yaml resources/_zuul-jobs.yaml
        - git add resources/_zuul-jobs.yaml
        - git commit -m 'Create zuul-jobs repository'
        - git push git+ssh://gerrit/config master
      when: jobs_resource.stdout == 'False'
  when:
    - zuul_jobs_done.stat.exists != True
    - "'gerrit' in roles"

- include_tasks: create_local_repo.yml repo_name=zuul-jobs
  when:
    - zuul_jobs_done.stat.exists != True
    - "'gerrit' not in roles"

- block:
    - name: Create a temporary clone directory
      command: mktemp -d
      register: jobs_tmp

    - name: Set correct temporary mode to prevent change from rsync
      file:
        path: "{{ jobs_tmp.stdout }}"
        mode: 0755
        state: directory

    - set_fact:
        zuul_jobs_clone_dir: "{{ jobs_tmp.stdout }}"

    - name: Clone the zuul-jobs repository
      git:
        repo: "{{ zuul_jobs_location }}"
        dest: "{{ zuul_jobs_clone_dir }}"

    - include_tasks: sync_zuul_jobs_content.yml

    - name: Push zuul jobs repo
      command: "git {{ item }}"
      args:
        chdir: "{{ zuul_jobs_clone_dir }}"
      with_items:
        - "add -A"
        - "commit -m 'Initialize zuul-jobs repository'"
        - "push {{ zuul_jobs_location }} master"
      when: zuul_conf_updated

    - name: Save zuul jobs repo
      command: "mv {{ zuul_jobs_clone_dir }} /root/zuul-jobs"
  when: zuul_jobs_done.stat.exists != True
