---
################################################################################
# First we create the default content, without over-writting user modification #
################################################################################
- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names:
      - policies

- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names: [dashboards, gerrit]
  when: "'gerrit' in roles"

- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names: [gerritbot]
  when: "'gerritbot' in roles"

- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names: [nodepool]
  when: "'nodepool' in roles"

- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names: [mirrors]
  when: "'mirror' in roles"

- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names: [metrics]
  when: "'grafana' in roles"

#################################################################################
# Then we synchronize the provided files, erasing user/previous state if needed #
#################################################################################
- include_tasks: config_create_dir.yml
  vars:
    repo_dir_names: [dlrn]
  when: "'dlrn' in roles"

- name: Ensure role directory exists
  file:
    path: "{{ config_clone_dir }}/roles"
    state: directory

- include_tasks: config_sync_dir.yml
  vars:
    repo_dir_names:
      - playbooks
      - resources
      - zuul
      - zuul.d
      - roles/wait-for-changes-ahead

- include_tasks: config_sync_dir.yml
  vars:
    repo_dir_names:
      - roles/log-classify
      - roles/upload-log-classify-model
  when: "'log-classify' in roles"

# Repoxplorer provided files is just a README we want to keep up to date
- include_tasks: config_sync_dir.yml
  vars:
    repo_dir_names: [repoxplorer]
  when: "'repoxplorer' in roles"

# Apply mandatory templates
- name: Update config templates
  template:
    src: "config/{{ item }}.j2"
    dest: "{{ config_clone_dir }}/{{ item }}"
  with_items:
    - resources/_internal.yaml
    - playbooks/base/pre.yaml
    - playbooks/openshift/pre.yaml
    - playbooks/openshift/unprivileged-machine.yaml
    - playbooks/base/post.yaml
    - playbooks/config/update.yaml
    - zuul.d/_jobs-base.yaml
    - zuul.d/_jobs-pages.yaml
    - zuul.d/_jobs-openshift.yaml
    - zuul.d/_pipelines.yaml

- name: Update nodepool config templates
  template:
    src: "config/{{ item }}.j2"
    dest: "{{ config_clone_dir }}/{{ item }}"
  with_items:
    - nodepool/_local_hypervisor_runc.yaml
    - nodepool/_local_hypervisor_openshift.yaml
  when: "'nodepool' in roles"

- name: Update admin email in resources.yaml
  replace:
    path: '{{ config_clone_dir }}/resources/resources.yaml'
    regexp: 'admin@.*'
    replace: 'admin@{{ fqdn }}'
  when: update_fqdn

####################################
# Finaly we manage default secrets #
####################################
- name: Check missing _secret_managesf.yaml
  stat:
    path: '{{ config_clone_dir }}/zuul.d/_secret_managesf.yaml'
  register: _secret_managesf

- name: Delete config_key_checksum if needed
  file:
    path: /var/lib/software-factory/state/config_key_checksum
    state: absent
  when: update_fqdn or not _secret_managesf.stat.exists

- name: Verify if config repository key changed
  block:
    - name: Check config repository key
      stat:
        path: /var/lib/software-factory/bootstrap-data/certs/config.pub
      register: _config_repo_key

    - name: Ensure config_key_checksum exists
      file:
        path: /var/lib/software-factory/state/config_key_checksum
        state: touch
      changed_when: false

    - name: Read last config_key_checksum
      command: cat /var/lib/software-factory/state/config_key_checksum
      changed_when: false
      register: _localconfig

    - name: Set config_key_regenerated fact
      set_fact:
        new_config_key: "{{ config_key_exists and _localconfig.stdout != _config_repo_key.stat.checksum|default(None) }}"

- name: Default secrets
  block:
    - name: Generate sflogs ssh_private_key secret
      command: >
        /usr/share/sf-config/scripts/zuul-encrypt-secret.py \
            /var/lib/software-factory/bootstrap-data/certs/config.pub ssh_private_key \
            --infile /var/lib/software-factory/bootstrap-data/ssh_keys/zuul_logserver_rsa
      register: _sflogs_private_key_secret

    - name: Update secret_sflogs.yaml
      template:
        src: "config/zuul.d/_secret_sflogs.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_sflogs.yaml"

    - name: Generate install_server ssh_private_key secret
      command: >
        /usr/share/sf-config/scripts/zuul-encrypt-secret.py \
            /var/lib/software-factory/bootstrap-data/certs/config.pub ssh_private_key \
            --infile /var/lib/software-factory/bootstrap-data/ssh_keys/zuul_worker_rsa
      register: _install_server_private_key_secret

    - name: Update secret_install_server.yaml
      template:
        src: "config/zuul.d/_secret_install_server.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_install_server.yaml"

    - name: Generate sfpages ssh_private_key secret
      command: >
        /usr/share/sf-config/scripts/zuul-encrypt-secret.py \
            /var/lib/software-factory/bootstrap-data/certs/config.pub ssh_private_key \
            --infile /var/lib/software-factory/bootstrap-data/ssh_keys/zuul_gatewayserver_rsa
      register: _sfpages_private_key_secret

    - name: Update secret_sfpages.yaml
      template:
        src: "config/zuul.d/_secret_sfpages.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_sfpages.yaml"

    - name: Generate managesf config file secret
      command: >
        /usr/share/sf-config/scripts/zuul-encrypt-secret.py \
            /var/lib/software-factory/bootstrap-data/certs/config.pub config \
            --infile /etc/managesf/config.py
      register: _managesf_secret

    - name: Update secret_managesf.yaml
      template:
        src: "config/zuul.d/_secret_managesf.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_managesf.yaml"
  when:
    - new_config_key
    - config_key_exists

- name: install tenant update secret
  block:
    - name: Scan master_sf known hosts
      command: "ssh-keyscan -t rsa {{ master_sf_fqdn }}"
      register: _master_sf_known_hosts

    - name: Update secret_tenant_update.yaml
      template:
        src: "config/zuul.d/_secret_tenant_update.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_tenant_update.yaml"
  when:
    - tenant_deployment
    - new_config_key
    - config_key_exists

- block:
    - name: Create temporary service user secret file
      tempfile:
        state: file
      register: temp_secret_file

    - name: Add service user password to temprary file
      copy:
        content: "{{ sf_service_user_password }}"
        dest: "{{ temp_secret_file.path }}"
      no_log: true

    - name: Generate service_user secret
      command: >
        /usr/share/sf-config/scripts/zuul-encrypt-secret.py \
            /var/lib/software-factory/bootstrap-data/certs/config.pub password \
            --infile {{ temp_secret_file.path }}
      register: _service_user_secret

    - name: Remove temprary service user secret file
      file:
        path: "{{ temp_secret_file.path }}"
        state: absent

    - name: Update service_user.yaml
      template:
        src: "config/zuul.d/_secret_service_user.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_service_user.yaml"
  when:
    - new_config_key
    - config_key_exists

- name: Save config key checksum
  copy:
    content: "{{ _config_repo_key.stat.checksum|default(None) }}"
    dest: /var/lib/software-factory/state/config_key_checksum
  when: config_key_exists
