---
- stat:
    path: "{{ config_clone_dir }}/zuulV3"
  register: _zuulv3_config_dir

- name: Add default zuulV3 configuration directory
  synchronize:
    src: /usr/share/sf-config/ansible/roles/sf-repos/files/config/zuulV3/
    dest: "{{ config_clone_dir }}/zuulV3"
  when: _zuulv3_config_dir.stat.exists != True

- stat:
    path: "{{ config_clone_dir }}/nodepoolV3"
  register: _nodepoolv3_config_dir

- name: Add default nodepoolV3 configuration directory
  synchronize:
    src: /usr/share/sf-config/ansible/roles/sf-repos/files/config/nodepoolV3/
    dest: "{{ config_clone_dir }}/nodepoolV3"
  when: _nodepoolv3_config_dir.stat.exists != True

- name: Ensure config sub dir
  file:
    path: "{{ config_clone_dir }}/{{ item }}"
    state: directory
  with_items:
    - zuul.d
    - playbooks/base

- name: Sync config static files
  synchronize:
    src: "/usr/share/sf-config/ansible/roles/sf-repos/files/config/{{ item }}/"
    dest: "{{ config_clone_dir }}/{{ item }}/"
    archive: "no"
    times: "no"
    checksum: "yes"
    delete: "yes"
    perms: "yes"
    recursive: "yes"
  with_items:
    - playbooks/config
  register: _config_static_files

- name: Update config templates
  template:
    src: "config/{{ item }}.j2"
    dest: "{{ config_clone_dir }}/{{ item }}"
  with_items:
    - playbooks/base/pre.yaml
    - playbooks/base/post.yaml
    - zuul.d/_jobs-base.yaml
    - zuul.d/_jobs-pages.yaml
    - zuul.d/_pipelines.yaml
    - zuulV3/_main.yaml
    - nodepoolV3/_local_hypervisor_oci.yaml
  register: _config_template_files

- name: Check for _secret_sflogs file
  stat:
    path: "{{ config_clone_dir }}/zuul.d/_secret_sflogs.yaml"
  register: _secret_sflogs

- block:
    - name: "Generate sflogs ssh_private_key secret"
      command: >
        /usr/share/sf-config/scripts/zuul3-encrypt-secret.py \
            /var/lib/software-factory/certs/config.pub ssh_private_key \
            --infile /var/lib/software-factory/bootstrap-data/ssh_keys/zuul_logserver_rsa
      register: _sflogs_private_key_secret

    - name: Update secret_sflogs.yaml
      template:
        src: "config/zuul.d/_secret_sflogs.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_sflogs.yaml"
  when: not _secret_sflogs.stat.exists

- name: Check for _secret_install_server file
  stat:
    path: "{{ config_clone_dir }}/zuul.d/_secret_install_server.yaml"
  register: _secret_install_server

- name: install server secret
  block:
    - name: "Generate install_server ssh_private_key secret"
      command: >
        /usr/share/sf-config/scripts/zuul3-encrypt-secret.py \
            /var/lib/software-factory/certs/config.pub ssh_private_key \
            --infile /var/lib/software-factory/bootstrap-data/ssh_keys/zuul_worker_rsa
      register: _install_server_private_key_secret

    - name: Update secret_install_server.yaml
      template:
        src: "config/zuul.d/_secret_install_server.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_install_server.yaml"
  when: not _secret_install_server.stat.exists

- name: Check for _secret_pages file
  stat:
    path: "{{ config_clone_dir }}/zuul.d/_secret_sfpages.yaml"
  register: _secret_sfpages

- block:
    - name: "Generate sfpages ssh_private_key secret"
      command: >
        /usr/share/sf-config/scripts/zuul3-encrypt-secret.py \
            /var/lib/software-factory/certs/config.pub ssh_private_key \
            --infile /var/lib/software-factory/bootstrap-data/ssh_keys/zuul_gatewayserver_rsa
      register: _sfpages_private_key_secret

    - name: Update secret_sfpages.yaml
      template:
        src: "config/zuul.d/_secret_sfpages.yaml.j2"
        dest: "{{ config_clone_dir }}/zuul.d/_secret_sfpages.yaml"
  when: not _secret_sfpages.stat.exists

- name: "Indicate config repo changed"
  set_fact:
    config_repo_updated: true
  when: _config_static_files|changed or
        _config_template_files|changed or
        not _zuulv3_config_dir.stat.exists or
        not _nodepoolv3_config_dir.stat.exists or
        not _secret_sflogs.stat.exists or
        not _secret_sfpages.stat.exists or
        not _secret_install_server.stat.exists

- name: "Indicated config repo didn't changed"
  set_fact:
    config_repo_updated: false
  when:
    - not _config_static_files|changed
    - not _config_template_files|changed
    - _zuulv3_config_dir.stat.exists
    - _nodepoolv3_config_dir.stat.exists
    - _secret_sflogs.stat.exists
    - _secret_sfpages.stat.exists
    - _secret_install_server.stat.exists
