---
- set_fact:
    config_clone_dir: /root/config

- name: Sync config local copy
  command: "git {{ item }}"
  args:
    chdir: "{{ config_clone_dir }}"
  with_items:
    - "fetch --all"
    - "reset --hard origin/master --"
    - "clean -f -x -d"

- include_tasks: sync_config_repo_content.ym:l

- name: Push zuul-jobs change
  command: "git {{ item }}"
  args:
    chdir: "{{ config_clone_dir }}"
  with_items:
    - "add -A"
    - "commit -m 'Update Zuul V3 default definitions'"
    - "push git+ssh://gerrit/config master"
  when: config_repo_updated
