---
- set_fact:
    zuul_jobs_clone_dir: /root/zuul-jobs

- name: Sync zuul-jobs local copy
  command: "git {{ item }}"
  args:
    chdir: "{{ zuul_jobs_clone_dir }}"
  with_items:
    - "fetch --all"
    - "reset --hard origin/master --"
    - "clean -f -x -d"

- include_tasks: sync_zuul_jobs_content.yml

- name: Push zuul-jobs change
  command: "git {{ item }}"
  args:
    chdir: "{{ zuul_jobs_clone_dir }}"
  with_items:
    - "add -A"
    - "commit -m 'Update zuul-jobs default definitions'"
    - "push {{ zuul_jobs_location }} master"
  when: zuul_conf_updated
