---
role_actions:
  - disable
  - install
  - setup

influxdb_host: influxdb.example.com
influxdb_port: 25826
influxdb_admin_password: CHANGE_ME
telegraf_influxdb_password: CHANGE_ME

influxdb_repo_name: influxdb
influxdb_repo_desc: InfluxDB Repository
influxdb_repo_url: https://repos.influxdata.com/rhel/\$releasever/\$basearch/stable
influxdb_repo_gpgkey: https://repos.influxdata.com/influxdb.key
influxdb_repo_gpgcheck: 1

service_name: influxdb
use_letsencrypt: false
