---
- job:
    name: base
    parent: null
    description: The base job.
    pre-run: playbooks/base/pre.yaml
    post-run:
      - playbooks/base/post.yaml
    roles:
      - zuul: sf-jobs
{% if zuul_upstream_zuul_jobs %}
      - zuul: openstack-infra/zuul-jobs
{% else %}
      - zuul: zuul-jobs
{% endif %}
    timeout: 1800
    # Set attempts to 1 until it's working well
    attempts: {{ zuul_default_retry_attempts }}
    secrets:
      - site_sflogs
    nodeset:
      nodes:
        - name: {{ zuul['default_nodeset_name'] }}
          label: {{ zuul['default_nodeset_label'] }}

- semaphore:
    name: semaphore-config-update
    max: 1

{% if zuul_gerrit_connections or zuul_github_connections %}
- job:
    name: config-check
    parent: base
    description: Validate the config repo.
    run: playbooks/config/check.yaml
    nodeset:
      nodes: []

- job:
    name: config-update
    parent: base
    description: Deploy config repo update.
    run: playbooks/config/update.yaml
    secrets:
      - site_install_server
    semaphore: semaphore-config-update
    nodeset:
      nodes: []

- project:
    name: config
    check:
      jobs:
        - config-check
    gate:
      jobs:
        - config-check
    post:
      jobs:
        - config-update

{% if not zuul_upstream_zuul_jobs %}
- project:
    name: zuul-jobs
    check:
      jobs:
        - linters
    gate:
      jobs:
        - linters

{% endif %}
- project:
    name: sf-jobs
    check:
      jobs:
        - linters
    gate:
      jobs:
        - linters

{% endif %}
