---
- pipeline:
    name: check
    description: |
      Newly uploaded patchsets enter this pipeline to receive an
      initial +/-1 Verified vote.
    manager: independent
    trigger:
{% if 'gerrit' in roles %}
      gerrit:
        - event: patchset-created
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(recheck|reverify)
{% endif %}
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        - event: pull_request
          action:
            - opened
            - changed
            - reopened
        - event: pull_request
          action: comment
          comment: (?i)^\s*recheck\s*$
{% endfor %}
    start:
{% if zuul_github_connections %}
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        status: 'pending'
        status-url: "{{ gateway_url }}/zuul/t/local/status.html"
        comment: false
{% endfor %}
{% endif %}
{% if 'gerrit' in roles %}
      gerrit:
        verified: 0
{% endif %}
    success:
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        status: 'success'
{% endfor %}
{% if 'gerrit' in roles %}
      gerrit:
        verified: 1
{% endif %}
      sqlreporter:
    failure:
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        status: 'failure'
{% endfor %}
{% if 'gerrit' in roles %}
      gerrit:
        verified: -1
{% endif %}
      sqlreporter:

- pipeline:
    name: gate
    description: |
      Changes that have been approved by core developers are enqueued
      in order in this pipeline, and if they pass tests, will be
      merged.
    success-message: Build succeeded (gate pipeline).
    failure-message: |
      Build failed (gate pipeline).  For information on how to proceed, see
      http://docs.openstack.org/infra/manual/developers.html#automated-testing
    manager: dependent
    precedence: high
    require:
{% if 'gerrit' in roles %}
      gerrit:
        open: True
        current-patchset: True
        approval:
          - Verified: [1, 2]
            username: zuul
          - Workflow: 1
{% endif %}
{% for github_connection in zuul_github_connections %}{% if github_connection.app_name|default(False) %}
      {{ github_connection.name }}:
        review:
          # Require an approval from user with write access (e.g. core-reviewer)
          - permission: write
            type: approved
{% if github_connection.label_name|default(False) %}
        # Require label
        label: {{ github_connection.label_name }}
{% endif %}
        status: "{{ github_connection.app_name }}[bot]:local/check:success"
        open: True
        current-patchset: True
{% endif %}{% endfor %}
    trigger:
{% if 'gerrit' in roles %}
      gerrit:
        - event: comment-added
          approval:
            - Workflow: 1
        - event: comment-added
          approval:
            - Verified: 1
          username: zuul
{% endif %}
{% for github_connection in zuul_github_connections %}{% if github_connection.app_name|default(False) %}
      {{ github_connection.name }}:
        - event: pull_request_review
          action: submitted
          state: approved
        - event: pull_request
          action: comment
          comment: (?i)^\s*regate\s*$
        - event: pull_request_review
          action: submitted
          state: approved
        - event: pull_request_review
          action: dismissed
          state: request_changes
        - event: pull_request
          action: status
          status: "{{ github_connection.app_name }}[bot]:local/check:success"
{% if github_connection.label_name|default(False) %}
        - event: pull_request
          action: labeled
          label:
            - {{ github_connection.label_name }}
{% endif %}
{% endif %}{% endfor %}
    start:
{% if 'gerrit' in roles %}
      gerrit:
        Verified: 0
{% endif %}
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        status: 'pending'
        status-url: "{{ gateway_url }}/zuul/t/local/status.html"
        comment: false
{% endfor %}
    success:
{% if 'gerrit' in roles %}
      gerrit:
        Verified: 2
        submit: true
{% endif %}
{% for github_connection in zuul_github_connections %}{% if github_connection.app_name|default(False) %}
      {{ github_connection.name }}:
        status: 'success'
        merge: true
        comment: true
{% endif %}{% endfor %}
      sqlreporter:
    failure:
{% if 'gerrit' in roles %}
      gerrit:
        Verified: -2
{% endif %}
{% for github_connection in zuul_github_connections %}{% if github_connection.app_name|default(False) %}
      {{ github_connection.name }}:
        status: 'failure'
        comment: true
{% endif %}{% endfor %}
      sqlreporter:
    window-floor: 20
    window-increase-factor: 2

- pipeline:
    name: post
    post-review: true
    description: This pipeline runs jobs that operate after each change is merged.
    manager: independent
    precedence: low
    trigger:
{% if 'gerrit' in roles %}
      gerrit:
        - event: ref-updated
          ref: ^refs/heads/.*$
{% endif %}
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        - event: push
          ref: ^refs/heads/.*$
{% endfor %}
    success:
      sqlreporter:
    failure:
      smtp:
        from: "zuul@{{ fqdn }}"
        to: "{{ zuul_periodic_pipeline_mail_rcpt }}"
        subject: '[Zuul] Job failed in post pipeline: {change.project}'
      sqlreporter:

- pipeline:
    name: release
    post-review: true
    description: When a commit is tagged as a release, this pipeline runs jobs that publish archives and documentation.
    manager: independent
    precedence: high
    trigger:
{% if 'gerrit' in roles %}
      gerrit:
        - event: ref-updated
          ref: ^refs/tags/[0-9]+(\.[0-9]+)*$
{% endif %}
{% for github_connection in zuul_github_connections %}
      {{ github_connection.name }}:
        - event: push
          ref: ^refs/tags/[0-9]+(\.[0-9]+)*$
{% endfor %}
    success:
      sqlreporter:
    failure:
      smtp:
        from: "zuul@{{ fqdn }}"
        to: "{{ zuul_periodic_pipeline_mail_rcpt }}"
        subject: '[Zuul] Job failed in release pipeline: {change.project}'
      sqlreporter:

- pipeline:
    name: periodic
    post-review: true
    description: Jobs in this queue are triggered daily.
    manager: independent
    precedence: low
    trigger:
      timer:
        - time: '0 0 * * *'
    success:
      sqlreporter:
    failure:
      smtp:
        from: "zuul@{{ fqdn }}"
        to: "{{ zuul_periodic_pipeline_mail_rcpt }}"
        subject: '[Zuul] Job failed in periodic pipeline: {change.project}'
      sqlreporter:
