- secret:
    name: site_pages
    data:
      fqdn: {{ gateway_host }}
      path: /var/www/pages
      ssh_known_hosts: {{ gateway_host }} ssh-rsa {{ hostvars[gateway_host].ansible_ssh_host_key_rsa_public }}
      ssh_username: pagesuser
      {{ _sfpages_private_key_secret.stdout }}
