{% for secret in _github_secrets %}
- secret:
    name: app_{{ zuul.github_connections[loop.index0].name }}
    data:
      app_id: {{ zuul.github_connections[loop.index0].app_id }}
      app_name: {{ zuul.github_connections[loop.index0].app_name }}
      {{ secret.stdout }}

{% endfor %}
