- secret:
    name: site_install_server
    data:
      fqdn: {{ install_server_host }}
      ssh_known_hosts: {{ install_server_host }} ssh-rsa {{ hostvars[install_server_host].ansible_ssh_host_key_rsa_public }}
      ssh_username: root
      {{ _install_server_private_key_secret.stdout }}
