---
- name: Set influxdb host
  replace:
    dest: /etc/telegraf/telegraf.conf
    regexp: '  urls = \["http://.*:8086"\].*'
    replace: '  urls = ["https://{{ influxdb_host }}:8086"]'
  notify: Restart telegraf

- name: Configure telegraf for self-signed crt
  replace:
    dest: /etc/telegraf/telegraf.conf
    regexp: '  #? ?insecure_skip_verify =.*'
    replace: '  insecure_skip_verify = true'
  when: use_letsencrypt == False
  notify: Restart telegraf

- name: Configure credential
  replace:
    dest: /etc/telegraf/telegraf.conf
    regexp: '  #? ?{{ item.name }} =.*'
    replace: '  {{ item.name }} = "{{ item.value }}"'
  with_items:
    - {name: username, value: '{{ telegraf_influxdb_user }}'}
    - {name: password, value: '{{ telegraf_influxdb_password }}'}
  notify: Restart telegraf

- name: Configure hostname
  replace:
    dest: /etc/telegraf/telegraf.conf
    regexp: '  hostname = ""'
    replace: '  hostname = "{{ ansible_fqdn }}"'

- name: Configure inputs plugins
  replace:
    dest: /etc/telegraf/telegraf.conf
    regexp: '^#? ?\[\[inputs.net\]\]'
    replace: '[[inputs.net]]'
  notify: Restart telegraf

- name: Setup statsd server
  copy:
    src: statsd.conf
    dest: /etc/telegraf/telegraf.d/statsd.conf
  when: ansible_fqdn == influxdb_host
  notify: Restart telegraf

- name: Start service
  service:
    name: telegraf
    state: started
    enabled: "yes"
