---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"

- include_tasks: "{{ sf_tasks_dir }}/create_user.yml"
  vars:
    user_name: zookeeper

- name: Setup TLS file
  copy:
    content: "{{ zk_keys[ansible_fqdn] }}"
    dest: /etc/zookeeper/server.pem
    mode: 0400
  notify: restart zookeeper

- name: Setup zoo.cfg
  template:
    src: zoo.cfg.j2
    dest: /etc/zookeeper/zoo.cfg
    mode: 0644
  notify: restart zookeeper

- name: "make /var/lib/zookeeper/version-2 writable by zookeeper"
  file:
    path: "/var/lib/zookeeper/version-2"
    owner: "zookeeper"
    group: "zookeeper"
    recurse: "yes"
    state: "directory"

- name: Start and enable the service
  service:
    name: zookeeper
    state: started
    enabled: "yes"
