---
role_actions:
  - disable
  - install
  - upgrade
  - setup

influxdb_repo_name: influxdb
influxdb_repo_desc: InfluxDB Repository
influxdb_repo_url: https://repos.influxdata.com/rhel/\$releasever/\$basearch/stable
influxdb_repo_gpgkey: https://repos.influxdata.com/influxdb.key
influxdb_repo_gpgcheck: 1

influxdb_host: influxdb.example.com
influxdb_admin_password: CHANGE_ME

service_name: telegraf
telegraf_influxdb_user: telegraf
telegraf_influxdb_password: CHANGE_ME

use_letsencrypt: false
