---
client:
  hosts:
    - {{ elasticsearch_internal_url }}
  timeout: 30
  use_ssl: True
  ssl_no_validate: False
  certificate:  /etc/elasticsearch/certs/localCA.pem
  http_auth: curator:{{ elasticsearch_curator_password }}

logging:
  loglevel: INFO
  logformat: default
  blacklist: ['elasticsearch', 'urllib3']
