---
{% if external_elasticsearch_host %}
client:
  hosts:
    - {{ external_elasticsearch_host }}
  timeout: 30
  use_ssl: True
  ssl_no_validate: False
{% for user, user_creds in external_elasticsearch_users.items() %}
{% if external_elasticsearch_users[user]['role'] == 'curator' %}
  http_auth: {{ user }}:{{ external_elasticsearch_users[user]['password'] }}
{% endif %}
{% endfor %}
  certificate: {{ external_elasticsearch_cacert }}
{% elif elasticsearch_curator_password %}
client:
  hosts:
    - {{ elasticsearch_internal_url }}
  timeout: 30
  use_ssl: True
  ssl_no_validate: False
  http_auth: curator:{{ elasticsearch_curator_password }}
  certificate: '/etc/elasticsearch/certs/localCA.pem'
{% endif %}

logging:
  loglevel: INFO
  logformat: default
  blacklist: ['elasticsearch', 'urllib3']
