---
client:
  hosts:
    - {{ elasticsearch_internal_url }}
  timeout: 30
  use_ssl: True
  ssl_no_validate: True
  http_auth: {{ elasticsearch['curator_user'] }}:{{ elasticsearch['curator_password'] }}

logging:
  loglevel: INFO
  logformat: default
  blacklist: ['elasticsearch', 'urllib3']
