---
actions:
  1:
    action: delete_logstash_indices
    description: >-
      Delete indices older than {{ logstash_retention_days }} days (based on index name), for logstash-
      prefixed indices. Ignore the error if the filter does not result in an
      actionable list of indices (ignore_empty_list) and exit cleanly.
    options:
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
{% if external_elasticsearch_suffix %}
      value: logstash-{{ external_elasticsearch_suffix }}-
{% else %}
      value: logstash-
{% endif %}
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ logstash_retention_days }}
{% if 'zuul' in roles %}
  2:
    action: delete_zuul_indices
    description: >-
      Delete indices older than {{ zuul_retention_days|default(180) }} days (based on index name), for zuul.
      prefixed indices. Ignore the error if the filter does not result in an
      actionable list of indices (ignore_empty_list) and exit cleanly.
    options:
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: zuul\.
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ zuul_retention_days|default(180) }}
{% endif %}