input {
  tcp {
    host => "{{ logstash_host }}"
    port => "{{ logstash_input_port }}"
    codec => json_lines {}
    type => "zuul"
  }
}

filter {
  grok {
    match => ["message", "(?<timestamp>[-0-9]{10}\s+[0-9.:]{12})(?<ms>[0-9]{3}) (?<sep>\|)%{GREEDYDATA:message}"]
    overwrite => [ "message" ]
  }
  if [message] =~ /^\s*$/ {
      drop { }
  }
  date {
    match => ["timestamp", "yyyy-MM-dd HH:mm:ss.SSS"]
    timezone => "UTC"
  }
}

# From https://opendistro.github.io/for-elasticsearch-docs/docs/troubleshoot/#logstash
output {
  elasticsearch {
    hosts => ['{{ elasticsearch_internal_url }}']
    index => "logstash-%{+YYYY.MM.dd}"
    user => 'logstash'
    password => "{{ elasticsearch_logstash_password | default('logstash') }}"
    ssl => true
    ssl_certificate_verification => true
    ilm_enabled => false
  }
}
