input {
  tcp {
    host => "{{ logstash_host }}"
    port => "{{ logstash_input_port }}"
    codec => json_lines {}
    type => "zuul"
  }
}

filter {
  grok {
    match => ["message", "(?<timestamp>[-0-9]{10}\s+[0-9.:]{12})(?<ms>[0-9]{3}) (?<sep>\|)%{GREEDYDATA:message}"]
    overwrite => [ "message" ]
  }
  if [message] =~ /^\s*$/ {
      drop { }
  }
  date {
    match => ["timestamp", "yyyy-MM-dd HH:mm:ss.SSS"]
    timezone => "UTC"
  }
}

# From https://opendistro.github.io/for-elasticsearch-docs/docs/troubleshoot/#logstash
output {
  elasticsearch {
{% if external_elasticsearch_host %}
    hosts => ['{{ external_elasticsearch_host }}']
    index => "logstash{{ '-' + external_elasticsearch_suffix }}-%{+YYYY.MM.dd}"
{% for user, user_creds in external_elasticsearch_users.items() %}
{% if  external_elasticsearch_users[user]['role'] == 'logstash' %}
    user => '{{ user }}'
    password => "{{ external_elasticsearch_users[user]['password'] }}"
{% endif %}
{% endfor %}
    ssl => true
    ssl_certificate_verification => true
    cacert => '{{ external_elasticsearch_cacert }}'
    ilm_enabled => false
{% elif elasticsearch_logstash_password %}
    hosts => ['{{ elasticsearch_internal_url }}']
    # FIXME: do we want to change logstash index pattern to:
    # "logstash-{{ fqdn }}-%{+YYYY.MM.dd}" ?
    index => "logstash-%{+YYYY.MM.dd}"
    user => 'logstash'
    password => "{{ elasticsearch_logstash_password }}"
    ssl => true
    ssl_certificate_verification => true
    cacert => '{{ logstash_stack_certs }}/localCA.pem'
    ilm_enabled => false
{% endif %}
  }
}
