---
role_actions:
  - install
  - setup
  - configure_mirror
  - disable

role_package: elasticsearch

elk_stack_version: 5

elastic_repo_name: elastic
elastic_repo_desc: Elastic repository
elastic_repo_url: 'https://artifacts.elastic.co/packages/{{ elk_stack_version }}.x/yum'
elastic_repo_gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
elastic_repo_gpgcheck: 1

elasticsearch_maximum_heap_size: 256m
elasticsearch_minimum_heap_size: 256m
elasticsearch_replicas: 0
