elements-dir: {{ nodepool3_conf_dir }}/elements:/usr/share/sf-elements
images-dir: {{ nodepool3_lib_dir }}/dib

webapp:
  port: {{ nodepool3_webapp_port }}
  admin_port: {{ nodepool3_admin_webapp_port }}
  admin_listen_address: '0.0.0.0'

zookeeper-servers:
  - host: {{ zookeeper_host }}
    port: 2181

labels: []
providers: []
diskimages: []
