elements-dir: /etc/nodepool/elements:/usr/share/sf-elements:/usr/share/nodepool/elements
images-dir: /var/lib/nodepool/dib

zookeeper-servers:
  - host: {{ zookeeper_host }}
    port: 2181

labels: []
providers: []
diskimages: []
