elements-dir: {{ nodepool3_conf_dir }}/elements:/usr/share/sf-elements
images-dir: {{ nodepool3_lib_dir }}/dib

webapp:
  port: {{ nodepool3_webapp_port }}

zookeeper-servers:
  - host: {{ zookeeper_host }}
    port: 2181

labels: []
providers: []
diskimages: []
