elements-dir: /etc/nodepool/elements:/usr/share/sf-elements:/usr/share/nodepool/elements
images-dir: /var/lib/nodepool/dib

zmq-publishers:
{% for publisher in jobs_zmq_publishers %}
  - {{ publisher }}
{% endfor %}

gearman-servers:
  - host: {{ zuul_server_host }}

zookeeper-servers:
  - host: {{ zookeeper_host }}
    port: 2181
    chroot: /nodepool2

cron:
  cleanup: '*/30 * * * *'
  check: '*/15 * * * *'

targets:
  - name: default

labels: []
providers: []
diskimages: []
