elements-dir: /etc/nodepool/elements:/usr/share/sf-elements
images-dir: /var/lib/nodepool/dib

zmq-publishers:
{% for publisher in jobs_zmq_publishers %}
  - {{ publisher }}
{% endfor %}

gearman-servers:
  - host: {{ zuul_server_host }}

zookeeper-servers:
  - host: {{ zookeeper_host }}
    port: 2181
    chroot: /nodepool2

cron:
  cleanup: '*/30 * * * *'
  check: '*/15 * * * *'

targets:
{% if 'zuul-launcher' in roles and nodepool_zuul_launcher_target|default(True) %}
  - name: zuul
    assign-via-gearman: True
{% endif %}
{% if 'jenkins' in roles %}
  - name: default
{% endif %}

labels: []
providers: []
diskimages: []
