elements-dir: {{ nodepool_conf_dir }}/elements:/usr/share/sf-elements
images-dir: {{ nodepool_lib_dir }}/dib
build-log-dir: /var/www/nodepool-log/
build-log-retention: {{ nodepool_build_log_retention|default(7) }}

{% if 'influxdb' in roles %}
statsd-server:
  host: {{ influxdb_host }}

{% endif %}
webapp:
  port: {{ nodepool_webapp_port }}
  admin_port: {{ nodepool_admin_webapp_port }}
  admin_listen_address: '0.0.0.0'

zookeeper-servers:
  - host: {{ zookeeper_host }}
    port: 2181

labels: []
providers: []
diskimages: []
