cache:
  expiration:
    server: {{ nodepool_cache_ttl  }}
    port: {{ nodepool_cache_ttl  }}
    floating-ip: {{ nodepool_cache_ttl  }}
clouds:
{% for provider in nodepool_providers|default([]) %}
  {{ provider['name'] }}:
    api_timeout: {{ provider['api_timeout'] | default(60) }}
    auth:
      username: {{ provider['username'] }}
      password: {{ provider['password'] }}
      auth_url: {{ provider['auth_url'] }}
      project_name: {{ provider['project_name'] }}
{% if provider.get("user_domain_name") %}
      user_domain_name: {{ provider['user_domain_name'] }}
{% endif %}
{% if provider.get("project_domain_name") %}
      project_domain_name: {{ provider['project_domain_name'] }}
{% endif %}
{% if provider.get("region_name") %}
    region_name: {{ provider["region_name"] }}
{% endif %}
{% if provider.get("regions") %}
    regions:
    {% for region in provider["regions"] %}
      - {{ region }}
    {% endfor%}
{% endif %}

{% endfor %}
