export REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt
{% if 'influxdb' in roles %}
export STATSD_HOST={{ statsd_host | default(influxdb_host | default ('')) }}
export STATSD_PORT={{ statsd_port | default(8125) }}
{% endif %}