<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <style type="text/css">
         div.panel-body {background-color: #f8f8f8;}
        </style>
    </head>

    <body>
{% for nl in groups['nodepool-launcher'] %}
      <a href="http://{{ hostvars[nl]['ansible_default_ipv4']['address'] }}/nodepool-launcher/{{ nl }}">{{ nl }}</a>
{% endfor %}
    </body>
</html>
