{% if nodepool_dib_reg_passwords %}
diskimages:
{% for dib_reg_password in nodepool_dib_reg_passwords %}
  - name: {{ dib_reg_password['image_name'] }}
    env-vars:
      REG_PASSWORD: {{ dib_reg_password['reg_password'] }}
{% endfor %}
{% endif %}

# Adds a fake secure to workaround https://review.opendev.org/c/zuul/nodepool/+/922971
testy: clapiotte
