[ircbot]
nick={{ gerritbot['botname'] }}
pass={{ gerritbot['password'] }}
server={{ gerritbot['ircserver'] }}
port={{ gerritbot['ircport'] }}
channel_config=/etc/gerritbot/channels.yaml
pid=/var/run/gerritbot/gerritbot.pid

[gerrit]
user={{ gerritbot_gerrit_user }}
key=/var/lib/gerritbot/.ssh/id_rsa
host={{ gerritbot_gerrit_host }}
port={{ gerritbot_gerrit_port }}
