---
- name: Create user
  include_tasks: "{{ sf_tasks_dir }}/create_user.yml user_name=loguser shell=/bin/sh"

- name: "Restore data"
  synchronize:
    src: "{{ backup_src }}/"
    dest: /

- name: "Restore files ownership"
  file:
    path: "/var/www/logs"
    owner: "loguser"
    group: "loguser"
    recurse: "yes"
    state: "directory"
