---
- name: "Backup data"
  synchronize:
    mode: pull
    src: "{{ item }}"
    dest: "{{ backup_dest }}/"
    delete: "yes"
    rsync_opts: --relative
  loop:
    - /var/lib/gerrit/git
    - /var/lib/gerrit/.ssh
    - /etc/gerrit/keystore
