---
- name: "Fetch gerrit logs and config"
  synchronize:
    mode: pull
    src: "/var/lib/gerrit/{{ item }}/"
    dest: "{{ log_dest }}/{{ item }}/"
    rsync_opts:
       - "--exclude=mail"
       - "--exclude=ssh_host_*"
  loop: ["logs", "etc"]
  ignore_errors: true
