---
- file:
    path: /var/lib/software-factory/state/gerrit_config
    state: touch

- name: Check local config
  shell: cat /var/lib/software-factory/state/gerrit_config
  register: localconfig

- name: Check upstream config
  shell: git log -n 3 --oneline gerrit/; echo "{{ gerrit_replication }}"
  args:
    chdir: /root/config
  register: upstreamconfig

- include_vars: /root/config/gerrit/commentlinks.yaml

# TODO: remove after gerrit update
- name: "Check gerrit version"
  command: rpm -q gerrit
  register: gerrit_version

- name: Update configuration file
  when: localconfig.stdout != upstreamconfig.stdout
  template:
    src: gerrit.config.j2
    dest: /etc/gerrit/gerrit.config
    owner: gerrit
    group: gerrit
    mode: 0644

- block:
    - stat:
        path: /root/config/gerrit/replication.config
      register: rstat

    - name: Check if replication.config changed
      command: diff /root/config/gerrit/replication.config /etc/gerrit/replication.config
      register: diffstat
      no_log: true
      when: rstat.stat.exists == True
      failed_when: diffstat.rc > 1

    - name: Update Gerrit replication.config
      command: cp /root/config/gerrit/replication.config /etc/gerrit/
      when:
        - rstat.stat.exists == True
        - diffstat.rc == 1

    - name: Reload the replication plugin
      command: ssh -p 29418 admin@{{ fqdn }} gerrit plugin reload replication
      when:
        - rstat.stat.exists == True
        - diffstat.rc == 1

    - name: Restart the replication
      command: ssh -p 29418 admin@{{ fqdn }} replication start --all
      when:
        - rstat.stat.exists == True
        - diffstat.rc == 1
  when: gerrit_replication and localconfig.stdout != upstreamconfig.stdout

- block:
    - name: Copy initial replication.config
      copy:
        src: replication.config
        dest: /etc/gerrit
        mode: 0644
  when: not gerrit_replication and localconfig.stdout != upstreamconfig.stdout

- name: Reload gerrit service
  service:
    name: gerrit
    state: restarted
  when: localconfig.stdout != upstreamconfig.stdout

- name: Write config repo sha1 matching current configuration
  copy:
    content: "{{ upstreamconfig.stdout }}"
    dest: /var/lib/software-factory/state/gerrit_config
  when: localconfig.stdout != upstreamconfig.stdout
