---
- name: Stop service
  service:
    name: gerrit
    state: stopped

- block:
    - name: Install migration package
      package:
        name: gerrit-migration

    - name: Create lib dir
      file:
        path: /var/lib/gerrit/lib/
        state: directory

    - name: Setup connector
      file:
        src: /usr/share/java/mysql-connector-java.jar
        dest: /var/lib/gerrit/lib/mysql-connector-java-5.1.48.jar
        state: link

    - name: Re-install gerrit to ensure plugin are setup correctly
      command: yum reinstall -y gerrit

    - name: Upgrade db
      command: /usr/bin/java -jar /var/lib/gerrit/migration.war init -d /var/lib/gerrit --batch --no-auto-start --skip-plugins
      become: true
      become_user: gerrit

    - name: Run notedb migration
      command: /usr/bin/java -jar /var/lib/gerrit/migration.war migrate-to-note-db -d /var/lib/gerrit
      become: true
      become_user: gerrit

    - name: Run pynotedb migration
      command: pynotedb migrate --all-users /var/lib/gerrit/git/All-Users.git --all-projects /var/lib/gerrit/git/All-Projects.git
      become: true
      become_user: gerrit

  when: _previous_version.stdout.startswith('gerrit-2.')
