- stat: path=/root/config
  register: config_done

- block:
  - name: Make a first admin connexion through SF SSO (force sf_users admin id:1)
    command: sfmanager sf_user list

  # Create the config repo
  - name: Copy default resources file
    command: cp /usr/share/sf-config/config-repo/resources/resources.yaml /root/resources.yaml

  - name: Change default admin email in default resources file
    replace:
        dest: /root/resources.yaml
        regexp: '@sftests.com'
        replace: '@{{ fqdn }}'

  - name: Create empty resources file
    shell: "echo 'resources: {}' > /root/empty_resources.yaml"

  - name: Create config repository resources
    command: /usr/local/bin/resources.sh direct_apply /root/empty_resources.yaml /root/resources.yaml

  # Clone the config repo
  - command: mktemp -d
    register: conf_tmp

  - name: Clone the config repository
    git: repo=git+ssh://gerrit/config
         dest={{ conf_tmp.stdout }}

  # Prepare the config repo
  - name: Sync /usr/share/sf-config/config-repo/ in the config repo
    command: rsync -av /usr/share/sf-config/config-repo/ {{ conf_tmp.stdout }}/

  - name: Copy default JJB definitions in /usr/share/sf-config/config-repo/
    template:
      src: "{{ sf_templates_dir }}/_default_jobs.yaml.j2"
      dest: "{{ conf_tmp.stdout }}/jobs/_default_jobs.yaml"

  - name: Copy default zuul-launcher macros
    template:
      src: "{{ sf_templates_dir }}/_macros.yaml.j2"
      dest: "{{ conf_tmp.stdout }}/jobs-zuul/_macros.yaml"

  - name: Copy default resources file
    command: mv /root/resources.yaml "{{ conf_tmp.stdout }}/resources/resources.yaml"

  # Commit
  - name: Push config repo
    command: git {{ item }} chdir={{ conf_tmp.stdout }}
    with_items:
      - "add -A"
      - "commit -m 'Initialize config repository'"
      - "push origin master"

  - command: mv {{ conf_tmp.stdout }} /root/config
  when: config_done.stat.exists != True
