---
- name: Ensure /root/.ssh exists
  file:
    path: /root/.ssh
    owner: root
    group: root
    mode: 0700
    state: directory

- name: Check if ssh_known_hosts exist
  stat: path=/root/.ssh/known_hosts
  register: ssh_known_hosts

- name: Create ssh known_hosts config file
  file:
    path: /root/.ssh/known_hosts
    owner: root
    group: root
    mode: 0600
    state: touch
  when: ssh_known_hosts.stat.exists == False

- name: Get all server hostnames
  shell: grep '^[a-zA-Z0-9]' /var/lib/software-factory/ansible/hosts | awk '{ print $1 }' | sort -u
  register: servers
  changed_when: false

- name: Wait for ssh services on all servers
  wait_for:
    host: "{{ item }}"
    port: 22
  with_items: "{{ servers.stdout_lines }}"

- name: Gathering public ssh servers keys
  shell: "ssh-keyscan -p 22 {{ item }} | grep ssh-rsa"
  with_items: "{{ servers.stdout_lines }}"
  register: public_ssh_host_keys
  until: public_ssh_host_keys is success
  retries: 30
  delay: 10
  changed_when: false

- name: Populate ssh_know_hosts
  lineinfile:
    dest: /root/.ssh/known_hosts
    line: "{{ item.stdout }}"
  with_items: "{{ public_ssh_host_keys.results }}"
  no_log: true

- name: Force install-server hostname
  hostname:
    name: "{{ install_server_host }}"
  changed_when: false
  register: _install_server_hostname

- name: Refresh install-server facts
  setup: {}
  when: _install_server_hostname is changed

- name: Gather hostnames
  command: hostname -f
  with_items: "{{ servers.stdout_lines }}"
  delegate_to: "{{ item }}"
  register: _hostnames
  changed_when: false

- name: Check hostnames
  fail:
    msg: >-
      Hostnames does not match arch.yaml definition,
      manually fix using hostnamectl set-hostname ....
      Then run ansible -m setup
  when: 'item.1 != _hostnames.results[item.0].stdout'
  with_indexed_items: "{{ servers.stdout_lines }}"
