---
- name: Allow zuul to run sf-config-update
  authorized_key:
    user: root
    key: "{{ zuul_worker_rsa_pub }}"
    key_options: 'command="/usr/share/sf-config/scripts/sf-config-update.sh",no-port-forwarding,no-x11-forwarding,no-agent-forwarding,no-pty'

- name: Install sshd_config template
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0600
    validate: '/usr/sbin/sshd -T -f %s'
  register: _sshd_config

- name: Restart sshd if needed
  systemd:
    name: sshd
    state: restarted
  when: _sshd_config is changed
