---
- name: "Install service_rsa key"
  include: "{{ sf_tasks_dir }}/create_user.yml user_name=root shell=/bin/bash home_dir=/root ssh_key=service_rsa"

- name: "Allow jenkins/zuul to run sf-config-update"
  authorized_key:
    user: root
    key: "{{ item }}"
    key_options: 'command="/usr/share/sf-config/scripts/sf-config-update.sh",no-port-forwarding,no-x11-forwarding,no-agent-forwarding,no-pty'
  with_items:
      - "{{ jenkins_rsa_pub }}"
      - "{{ zuul_worker_rsa_pub }}"
