---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"

- name: "Create dlrn user"
  include_tasks: "{{ sf_tasks_dir }}/create_user.yml"
  vars:
    ssh_key: dlrn_rsa
    user_name: dlrn
    home_dir_mode: "0755"

- name: "Add dlrn user in the mock group"
  user:
    name: dlrn
    groups: mock

- name: "Create dlrn directories"
  file:
    path: "{{ item.path }}"
    mode: '0755'
    owner: "{{ item.owner }}"
    state: directory
  loop:
    - path: /etc/dlrn
      owner: root
    - path: /var/www/dlrn
      owner: apache
    - path: "{{ dlrn_base_dir }}"
      owner: dlrn

- name: "Setup default mock configuration"
  blockinfile:
    path: /etc/mock/site-defaults.cfg
    content: |
      config_opts['plugin_conf']['tmpfs_enable'] = True
      config_opts['plugin_conf']['tmpfs_opts'] = {}
      config_opts['plugin_conf']['tmpfs_opts']['required_ram_mb'] = 2048
      config_opts['plugin_conf']['tmpfs_opts']['max_fs_size'] = '4g'
      config_opts['plugin_conf']['tmpfs_opts']['mode'] = '0755'
      config_opts['plugin_conf']['tmpfs_opts']['keep_mounted'] = True

- name: "Add dlrn gerrit user"
  command: /usr/share/sf-config/scripts/gerrit-set-ci-user.sh "dlrn" "ssh-rsa {{ dlrn_rsa_pub.split()[1] }}" "dlrn@{{ fqdn }}"
  register: _dlrn_set_ci_user
  changed_when: _dlrn_set_ci_user.rc == 3
  failed_when: _dlrn_set_ci_user.rc != 3 and _dlrn_set_ci_user.rc != 0


- name: "Install dlrn .gitconfig"
  template:
    src: gitconfig.j2
    dest: "/var/lib/dlrn/.gitconfig"
    owner: dlrn

- name: Update gerrit email address when fqdn is updated
  block:
    - name: Delete all emails in gerrit
      command: ssh gerrit 'gerrit set-account --delete-email ALL dlrn'

    - name: Update email address in gerrit
      command: ssh gerrit 'gerrit set-account --add-email dlrn@{{ fqdn }} dlrn'
  when: update_fqdn
  delegate_to: "{{ install_server_host }}"
