---
- include: "{{ sf_tasks_dir }}/create_user.yml user_name=nodepool ssh_key=nodepool_rsa home_dir={{ nodepool3_lib_dir }} update_user=no"

- name: Install nodepool3 shortcut
  copy:
    src: nodepool3.sh
    dest: /usr/bin/nodepool3
    mode: 0755

- name: Ensure working directories exist
  file:
    path: "{{ item.name }}"
    mode: "{{ item.mode }}"
    owner: nodepool
    group: nodepool
    state: directory
  with_items:
    - {name: /var/lib/nodepool, mode: "0750"}
    - {name: /var/lib/nodepool/.ssh, mode: "0700"}

- name: Install jenkins/zuul public ssh key
  copy:
    content: "{{ hostvars[inventory_hostname][item+'_pub'] }}"
    dest: "{{ nodepool3_lib_dir }}/.ssh/{{ item }}.pub"
    mode: 0444
    owner: nodepool
    group: nodepool
  with_items:
    - jenkins_rsa
    - zuul_rsa

- name: Install config
  template:
    src: "{{ item }}.j2"
    dest: "{{ nodepool3_conf_dir }}/{{ item }}"
    owner: "root"
    group: "nodepool"
    mode: "0440"
  with_items:
    - _nodepool.yaml
    - secure.conf

- name: Create .config/openstack directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ nodepool3_lib_dir }}/.config/openstack"
    - /root/.config/openstack

- name: Install os-client-config
  template:
    src: clouds.yaml.j2
    dest: "{{ item }}"
    owner: nodepool
    group: nodepool
    mode: 0400
  with_items:
    - "{{ nodepool3_lib_dir }}/.config/openstack/clouds.yaml"
    - /root/.config/openstack/clouds.yaml

- name: Create nodepool image build log directory
  file:
    path: /var/www/nodepool3-log
    state: directory
    owner: nodepool
    group: apache
    mode: 0750

- name: Install httpd conf.d nodepool log
  copy:
    src: nodepool3_log.conf
    dest: /etc/httpd/conf.d/nodepool3_log.conf
  register: nodepool3_log_http_conf

- name: Reload http on the nodepool-builder node
  service:
    name: httpd
    state: reloaded
    enabled: "yes"
  when:
    - 'nodepool3_log_http_conf|changed'
    - '"nodepool-builder" in nodepool3_services'

- name: Ensure /var/www/html exists
  file:
    path: /var/www/html
    state: directory

- name: Ensure /var/www/html/nodepool3-log link to /var/www/nodepool3-log
  file:
    path: /var/www/html/nodepool3-log
    src: /var/www/nodepool3-log
    state: link

- name: Setup sysconfig
  template:
    src: sysconfig.j2
    dest: "{{ nodepool3_sysconfig }}"
  notify: restart nodepool3

- name: Setup authorized keys
  copy:
    content: "{{ zuul_rsa_pub }}"
    dest: "{{ nodepool3_conf_dir }}/scripts/authorized_keys"

- name: Setup localCA
  copy:
    content: "{{ localCA_pem }}"
    dest: "{{ nodepool3_conf_dir }}/scripts/localCA.pem"
