---
- file:
    path: /var/lib/software-factory/state/nodepool3_config
    state: touch

- name: Check last applied Nodepool config checksum
  command: cat /var/lib/software-factory/state/nodepool3_config
  register: localconfig

- name: Check new Nodepool config checksum
  shell: git log -n 3 --oneline nodepool/ && md5sum "{{ nodepool3_conf_dir }}/_nodepool.yaml"
  args:
    chdir: /root/config
  register: upstreamconfig

- name: Update nodepool configuration
  command: "{{ item }}"
  args:
    chdir: /root/config
  when: localconfig.stdout != upstreamconfig.stdout
  with_items:
    - /usr/share/sf-config/scripts/sf-nodepool-conf-merger.py nodepool/ "{{ nodepool3_conf_dir }}/nodepool.yaml"
    - rsync -avi --delete --exclude authorized_keys --exclude localCA.pem nodepool/scripts/ "{{ nodepool3_conf_dir }}/scripts/"
    - rsync -avi --delete nodepool/elements/ "{{ nodepool3_conf_dir }}/elements/"

- name: Fetch nodepool.yaml configuration
  fetch:
    flat: "yes"
    src: "{{ nodepool3_conf_dir }}/nodepool.yaml"
    dest: /var/lib/software-factory/state/nodepool.yaml

- name: Load nodepool configuration
  include_vars:
    file: /var/lib/software-factory/state/nodepool.yaml
    name: nodepool3_config

- name: Update logging.conf
  template:
    src: "{{ item }}.j2"
    dest: "{{ nodepool3_conf_dir }}/{{ item }}"
  with_items: [launcher-logging.conf, builder-logging.conf]
  notify: restart nodepool3

- name: Ensure service are started and enabled
  service:
    name: "rh-python35-{{ item }}"
    state: started
    enabled: "yes"
  with_items: "{{ nodepool3_services }}"

- name: Write config repo checksum matching current configuration
  copy:
    content: "{{ upstreamconfig.stdout }}"
    dest: /var/lib/software-factory/state/nodepool3_config
  when: localconfig.stdout != upstreamconfig.stdout
