---
- name: "Fetch managesf logs"
  synchronize:
    mode: pull
    src: /var/log/managesf/
    dest: "{{ log_dest }}/log"
  ignore_errors: true

- name: "Fetch managesf config"
  synchronize:
    mode: pull
    src: "/etc/managesf/{{ item }}"
    dest: "{{ log_dest }}/{{ item }}"
  with_items:
    - config.py
    - config2.py
    - policy.yaml
  ignore_errors: true
