WSGIScriptAlias /pagure/ /usr/share/pagure/pagure.wsgi

Alias /pagure/static /opt/pagure.git/pagure/static/
Alias /pagure/releases /var/www/releases

AliasMatch ^/pagure/(.*/objects/[0-9a-f]{2}/[0-9a-f]{38})$          /var/lib/pagure/repos/$1
AliasMatch ^/pagure/(.*/objects/pack/pack-[0-9a-f]{40}.(pack|idx))$ /var/lib/pagure/repos/$1

ProxyPass /pagure/ http://{{ pagure_host }}:5000/ nocanon retry=0
ProxyPassReverse /pagure/ http://{{ pagure_host }}:5000/
