[scheduler]
tenant_config=main.yaml

[gearman]
server=localhost

[connection sqlreporter]
driver=sql
dburi=sqlite://

{% for conn in zuul_gerrit_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=gerrit
server=localhost
user=zuul

{% endfor %}

{% for conn in zuul_github_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=github
git_host={{ conn['hostname']|default('github.com') }}
port={{ conn['port']|default('22') }}

{% endfor %}

{% for conn in zuul_git_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=git
baseurl={{ conn['baseurl'] }}
poll_delay={{ conn['poll_delay']|default('7200') }}

{% endfor %}

{% for conn in zuul_pagure_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=pagure
server={{ conn['server']|default('pagure.io') }}
baseurl={{ conn['baseurl']|default('https://pagure.io') }}

{% endfor %}

{% for conn in zuul_gitlab_connections|default([]) %}
[connection {{ conn['name'] }}]
driver=gitlab
server={{ conn['server']|default('gitlab.com') }}
baseurl={{ conn['baseurl']|default('https://gitlab.com') }}

{% endfor %}

[connection smtp]
driver=smtp
server=localhost

{% if 'firehose' in roles %}
[connection mqtt]
driver=mqtt
server=localhost

{% endif %}
