    DocumentRoot /var/www/

    Alias /icons/ "/usr/share/httpd/icons/"

    <Directory "/usr/share/httpd/icons">
        Options Indexes MultiViews FollowSymlinks
        AllowOverride None
        Require all granted
    </Directory>

    RewriteEngine On
    RewriteRule ^/$ /{{ welcome_page_path }} [R]

    RewriteMap base64helper "prg:/usr/local/sbin/base64helper"

    <If "%{HTTP:Authorization} =~ m#^Basic (.*)$# && unbase64($1) =~ m#^.*:password$#">
        RequestHeader unset Authorization
    </If>

    # Disable caching of static files
    <LocationMatch "/static">
        CacheDisable on
    </LocationMatch>
    Alias "/docs/zuul-jobs" "/opt/rh/rh-python35/root/usr/share/doc/rh-python35-zuul-jobs-doc-{{ _zuul_job_version.stdout.split('-')[5] }}/html"
    Alias "/docs/zuul" "/opt/rh/rh-python35/root/usr/share/doc/rh-python35-zuul-doc-{{ _zuul_version.stdout.split('-')[4] }}/html"
    Alias "/docs/nodepool" "/opt/rh/rh-python35/root/usr/share/doc/rh-python35-nodepool-doc-{{ _nodepool_version.stdout.split('-')[4] }}/html"
    <Directory "/opt/rh/rh-python35/root/usr/share/doc/">
        Require all granted
    </Directory>
    Alias "/docs/managesf" "/usr/share/doc/managesf/"
    Alias "/docs/sfmanager" "/usr/share/doc/python-sfmanager/"
    Alias "/docs/" "/usr/share/doc/software-factory/"
    Alias "/docs" "/usr/share/doc/software-factory/"
    <Directory "/usr/share/doc/">
        Require all granted
    </Directory>
    {% for directory in gateway_directories -%}
    Alias "/{{ directory.name }}" "{{ directory.path }}"
    <Directory {{ directory.path }}>
    {% for option in directory.options %}
    {{ option }}
    {% endfor -%}
    </Directory>
    {% endfor -%}
    <Directory /var/www>
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>
    <Directory /var/www/cauth>
        Order allow,deny
        Deny from all
    </Directory>
    <Directory /var/www/managesf>
        Order allow,deny
        Deny from all
    </Directory>

{% if 'dlrn' in roles %}
    Alias "/dlrn" "/var/lib/dlrn/data/repos"
    <Directory "/var/lib/dlrn/data/repos">
        Require all granted
    </Directory>
{% endif %}

{% if 'storyboard' in roles %}
    # Don't login to Storyboard itself, use cauth instead
    <LocationMatch "/storyboard_api/openid/">
        RewriteEngine On
        RewriteRule ^(.*)$ /auth/login [R,NC,L]
    </LocationMatch>

{% endif %}
{% if 'gerrit' in roles %}
    <LocationMatch "/r/(?!(login|logout|a))">
        RewriteEngine On

        # Logged in in SSO, but logged out from Gerrit
        RewriteCond %{HTTP_COOKIE} !^GerritAccount.*$ [NC]
        RewriteCond %{HTTP_COOKIE} ^.*auth_pubtkt.*$ [NC]
        RewriteRule ^(.*)$ /r/login/ [R,NC,L]

        # Logged in in Gerrit, but logged out from cauth
        RewriteCond %{HTTP_COOKIE} ^GerritAccount.*$ [NC]
        RewriteCond %{HTTP_COOKIE} !^.*auth_pubtkt.*$ [NC]
        RewriteRule ^(.*)$ /r/logout [R,NC,L]
    </LocationMatch>

    <LocationMatch "/r/(login|a)(/|$)">
        Order Allow,Deny
        Allow from all

        AuthType mod_auth_pubtkt
        TKTAuthFakeBasicAuth on
        TKTAuthLoginURL /auth/login
        TKTAuthDebug 1
        require valid-user
    </LocationMatch>

    # Redirect a gerrit page that give an easy access to gitweb
    # if user does not have the GerritAccount cookie in its browser
    # This prevent the 'Not Found' 404 from Gerrit if cookie not set
    <LocationMatch "/r/gitweb.*">
        RewriteEngine On
        RewriteCond %{HTTP_COOKIE} !^.*gerritaccount.*$ [NC]
        RewriteCond %{QUERY_STRING} ^p=(.*).git;a=summary$
        RewriteRule /r/gitweb.*$ /r/#/admin/projects/%1,branches [QSD,R,L,NE]
    </LocationMatch>

    # Manage http gerrit basic authentication
    <LocationMatch "^/(api|r)/.*$">
        <If "%{HTTP:Authorization} =~ m#^Basic #>
            AuthType Basic
            AuthName "Gerrit API"
            AuthUserFile /etc/httpd/managesf_htpasswd
            require valid-user

            # Helper to send a fake authorization header to Gerrit
            RewriteCond %{REMOTE_USER} (.+)
            RewriteRule .* - [E=B64:${base64helper:%{REMOTE_USER}},NE]
            RequestHeader set Authorization "Basic %{B64}e"
        </If>
    </LocationMatch>

{% endif %}
{% if 'grafana' in roles %}
    <LocationMatch "^/grafana/">
        RequestHeader unset X-Forwarded-User
        <If "%{HTTP_COOKIE} =~ /auth_pubtkt=.*/">
            AuthType mod_auth_pubtkt
            TKTAuthLoginURL /auth/login
            TKTAuthFakeBasicAuth on
            TKTAuthDebug 1
            AuthName "Grafana"
            require valid-user
            RewriteEngine On
            RewriteCond %{LA-U:REMOTE_USER} (.+)
            RewriteRule .* - [E=RU:%1,NS]
            RequestHeader set X-Forwarded-User %{RU}e
            RequestHeader unset Authorization
        </If>
    </LocationMatch>

{% endif %}
    <IfModule mod_proxy.c>
        ProxyVia On
        ProxyRequests Off

{% if 'gerrit' in roles %}
        ProxyPass /r/ {{ gerrit_internal_url }} nocanon retry=0
        ProxyPassReverse /r/ {{ gerrit_internal_url }}

        # Requires internal authentication in Gerrit (without SSO)
        ProxyPass /api/ {{ gerrit_internal_url }} nocanon
        ProxyPassReverse /api/ {{ gerrit_internal_url }}

{% endif %}
{% if 'zuul' in roles %}
        # Keep /zuul3/ retro-compatibility
        RewriteRule ^/zuul3/(.*)$ /zuul/$1 [R,L]

{% if zuul['github_connections'] %}
        # Redirect github webhook payload
        {% for gh_connection in zuul['github_connections'] %}
        # Keep legacy connection support for deprecation period
        ProxyPassMatch ^/zuul/connection/{{ gh_connection.name }}/payload$ {{ zuul_webapp_url }}/connection/{{ gh_connection.name }}/payload nocanon retry=0 disablereuse=on
        {% endfor %}

{% endif %}
        # Redirect all the static file to webui cache
        AliasMatch "^/zuul/.*/(.*)\.(html|js|png|map)$" "/opt/rh/rh-python35/root/usr/share/zuul/$1.$2"
        AliasMatch "^/zuul/(.*)\.(html|js|png|map)$" "/opt/rh/rh-python35/root/usr/share/zuul/$1.$2"
        <Directory /opt/rh/rh-python35/root/usr/share/zuul>
            Require all granted
            Order allow,deny
            Allow from all
        </Directory>

        RewriteRule ^/zuul/?$ /zuul/index.html [R]

        # Console-stream needs a special proxy-pass for websocket
        ProxyPassMatch /zuul/(.*)/console-stream ws://{{ zuul_web_url }}/$1/console-stream nocanon retry=0 disablereuse=on

        # Then only the json calls are sent to the zuul-web endpoints
        ProxyPassMatch ^/zuul/.*\.(html|js|png|map)$ !
        ProxyPassMatch ^/zuul/keys/(.*)$ http://{{ zuul_web_url }}/$1 nocanon  retry=0 disablereuse=on
        ProxyPassMatch ^/zuul/(.*)$ http://{{ zuul_web_url }}/$1 nocanon  retry=0 disablereuse=on

{% endif %}
{% if 'storyboard' in roles %}
        ProxyPass /storyboard_api/ http://storyboard:20000/v1/ nocanon retry=0
        ProxyPassReverse /storyboard_api/ http://storyboard:20000/v1/

{% endif %}
{% if 'managesf' in roles %}
        ProxyPass /manage/ http://managesf:20001/ retry=0 timeout=2400
        ProxyPassReverse /manage/ http://managesf:20001/ timeout=2400

{% endif %}
{% if 'etherpad' in roles %}
        ProxyPass /etherpad/ http://127.0.0.1:9001/ retry=0
        ProxyPassReverse /etherpad/ http://127.0.0.1:9001/

{% endif %}
{% if 'lodgeit' in roles %}
        ProxyPass /paste/ http://127.0.0.1:5000/paste/ retry=0
        ProxyPassReverse /paste/ http://127.0.0.1:5000/paste/
{% endif %}
{% if koji_host|default(False) %}

        ProxyPass /koji/ http://{{ koji_host }}/koji/ retry=0
        ProxyPassReverse /koji/ http://{{ koji_host }}/koji/

        ProxyPass /koji-static/ http://{{ koji_host }}/koji-static/ retry=0
        ProxyPassReverse /koji-static/ http://{{ koji_host }}/koji-static/

        ProxyPass /kojifiles/ http://{{ koji_host }}/kojifiles/ retry=0
        ProxyPassReverse /kojifiles/ http://{{ koji_host }}/kojifiles/

{% endif %}
{% if 'nodepool-builder' in roles and gateway_host != nodepool_builder_host %}
        ProxyPass /nodepool-log/ http://{{ nodepool_builder_host }}/nodepool-log/
        ProxyPassReverse /nodepool-log/ http://{{ nodepool_builder_host }}/nodepool-log/

{% endif %}
{% if 'logserver' in roles and gateway_host != logserver_host %}
        ProxyPass /logs/ http://{{ logserver_host }}/logs/
        ProxyPassReverse /logs/ http://{{ logserver_host }}/logs/

        ProxyPass /logs-raw/ http://{{ logserver_host }}/logs-raw/
        ProxyPassReverse /logs-raw/ http://{{ logserver_host }}/logs-raw/

{% endif %}
        ProxyPreserveHost On
        AllowEncodedSlashes NoDecode
        <Proxy *>
            Options FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Proxy>

{% if 'repoxplorer' in roles %}
        RewriteRule ^/repoxplorer/$ /repoxplorer/index.html [R]
{% endif %}

{% if 'grafana' in roles %}
        RewriteRule ^/grafana$ grafana/ [R]
        ProxyPass /grafana/ {{ grafana_internal_url }}/
        ProxyPassReverse /grafana/ {{ grafana_internal_url }}/
{% endif %}
    </IfModule>

    <Location "/dashboard">
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.*$ - [NC,L]

        RewriteRule ^(.*) /dashboard/index.html [NC,L]
    </location>

{% if 'storyboard' in roles %}
    <LocationMatch "^/storyboard_api">
        # If api requests are authenticated, check cauth cookie
        <If "%{HTTP:Authorization} =~/Bearer .*/">
            AuthType mod_auth_pubtkt
            TKTAuthLoginURL /auth/login
            TKTAuthFakeBasicAuth on
            TKTAuthDebug 1
            require valid-user
            # Enforce token name to be cauth user
            RequestHeader set Authorization "Bearer %{REMOTE_USER}e"
            Header set Cache-Control "no-cache, must-revalidate"
        </If>
    </LocationMatch>

{% endif %}
{% if 'managesf' in roles %}
    <Location "/manage">
        RequestHeader unset X-Remote-User
        <If "%{HTTP_COOKIE} =~ /auth_pubtkt=.*/">
            AuthType mod_auth_pubtkt
            TKTAuthLoginURL /auth/login
            TKTAuthFakeBasicAuth on
            TKTAuthDebug 1
            require valid-user
            RequestHeader set X-Remote-User %{REMOTE_USER}s
        </If>
    </Location>

    <Location "/manage/bind">
        Allow from All
        Satisfy Any
    </Location>

{% endif %}
{% if 'gerrit' in roles %}
    # Gerrit API fake auth requires password to set at 'password'
    # Don't give a chance to a user to change it
    <LocationMatch "^/r/accounts/.*/password.http">
      <limit PUT DELETE>
        Order Allow,Deny
        Allow from {{ fqdn }}
      </limit>
    </LocationMatch>

{% endif %}
{% if authentication["authenticated_only"] %}
    # Make sure static files, docs, git and the topmenu are accessible even if
    # anonymous access is disabled. Git itself is protected by Gerrit
    <LocationMatch "^(?!/(r/.*/(info/refs|git-upload-pack)|docs|static|auth|index.html|$))">
        Order deny,allow
        Allow from all
        AuthType mod_auth_pubtkt
        TKTAuthLoginURL /auth/login
        TKTAuthFakeBasicAuth on
        TKTAuthDebug 1
        require valid-user
    </LocationMatch>
{% endif %}
