<VirtualHost *:80>
    ServerName {{ fqdn }}
    HostnameLookups On
    RewriteEngine On

{% if gateway_force_fqdn_redirection|default(True) or gateway_force_ssl_redirection %}
    # Enforce HTTPS for non-internal requests. HostnameLookups is required,
    # otherwise REMOTE_HOST contains only the IP address
    RewriteCond %{HTTPS} off
    RewriteCond %{REMOTE_HOST} !{{ fqdn }}$
    RewriteRule (.*) https://{{ fqdn }}%{REQUEST_URI} [R=301,L]
{% endif %}

    Include conf.d/gateway.common
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ fqdn }}
    HostnameLookups On
    RewriteEngine On

    SSLEngine on
{% if network["use_letsencrypt"] %}
    SSLCertificateFile /etc/letsencrypt/pem/{{ fqdn }}.pem
    SSLCertificateChainFile /etc/letsencrypt/pem/lets-encrypt-x3-cross-signed.pem
    SSLCertificateKeyFile /etc/letsencrypt/private/{{ fqdn }}.key
{% else %}
    SSLCertificateFile /etc/pki/tls/certs/{{ fqdn }}.crt
    SSLCertificateChainFile /etc/pki/tls/certs/{{ fqdn }}-chain.crt
    SSLCertificateKeyFile  /etc/pki/tls/private/{{ fqdn }}.key
{% endif %}

    Include conf.d/gateway.common
</VirtualHost>
