<IfModule mod_proxy.c>
    <Location /analytics>
        ProxyPass http://kibana.{{ fqdn }}:5601
        ProxyPassReverse http://kibana.{{ fqdn }}:5601
    </Location>
    <Location /elasticsearch>
        ProxyPass http://elasticsearch.{{ fqdn }}:9200
        ProxyPassReverse http://elasticsearch.{{ fqdn }}:9200
    </Location>
</IfModule>
