<IfModule mod_proxy.c>
    <Location /analytics>
        ProxyPass {{ kibana_internal_url }}
        ProxyPassReverse {{ kibana_internal_url }}
    </Location>
    <Location /elasticsearch>
        ProxyPass {{ elasticsearch_internal_url }}
        ProxyPassReverse {{ elasticsearch_internal_url }}
    </Location>
</IfModule>
