<IfModule mod_proxy.c>
    # Elasticsearch doew not accept http requests
    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

{% if external_kibana_host %}
    <Location "/analytics">
        ProxyPass {{ external_kibana_host }}
        ProxyPassReverse {{ external_kibana_host }}
    </Location>
{% else %}
    <Location "/analytics">
        ProxyPass {{ kibana_internal_url }}
        ProxyPassReverse {{ kibana_internal_url }}
    </Location>
{% endif %}
{% if external_opensearch_host %}
    # FIXME: Remove elasticsearch in the future.
    <Location /elasticsearch>
        ProxyPass https://{{ external_opensearch_host }}:{{ external_opensearch_port }}
        ProxyPassReverse https://{{ external_opensearch_host }}:{{ external_opensearch_port }}
    </Location>
    <Location /opensearch>
        ProxyPass https://{{ external_opensearch_host }}:{{ external_opensearch_port }}
        ProxyPassReverse https://{{ external_opensearch_host }}:{{ external_opensearch_port }}
    </Location>
{% else %}
    # FIXME: Remove elasticsearch in the future.
    <Location /elasticsearch>
        ProxyPass {{ opensearch_internal_url }}
        ProxyPassReverse {{ opensearch_internal_url }}
    </Location>
    <Location /opensearch>
        ProxyPass {{ opensearch_internal_url }}
        ProxyPassReverse {{ opensearch_internal_url }}
    </Location>
{% endif %}
</IfModule>
