#!/usr/bin/env python3

import base64
import jwt

secret = "{{ _kibana_jwt_secret.stdout }}"
secret_encoded = base64.b64encode(bytes(str(secret), "utf-8")).decode("utf-8")
payload = {
    "iss": "https://{{ fqdn }}",
    "exp": 2300819380,
    "name": "kibana",
    "roles": ["kibana_viewer"],
    "sub": "kibana",
}
token = jwt.encode(payload, secret, algorithm="HS256")
print(token)
