{
  "realm": "{{ keycloak_default_realm }}",
  "auth-server-url": "https://{{ fqdn }}/auth/",
  "ssl-required": "external",
  "resource": "repoxplorer",
  "public-client": true,
  "confidential-port": 0
}
