<div class="navbar-header">
{% if gateway_topmenu_logo_data %}
  <a href="/{{ welcome_page_path }}"><img src="data:image/png;base64,{{ gateway_topmenu_logo_data }}" style="max-height: 50px; padding: 2px;" alt="Software Factory" title="Software Factory" /></a>
{% else %}
  <a class="navbar-brand" href="/sf/welcome.html">Software Factory</a>
{% endif %}
</div>
<ul class="nav navbar-nav">
  {% if 'gerrit' in roles %}
    <li><a href="/dashboard/" target="_top">Dashboard</a></li>
    <li><a href="/r/" target="_top">Gerrit</a></li>
  {% endif %}
  {% if tenant_deployment or 'zuul-scheduler' in roles %}
    <li><a href="/zuul/" target="_top">Zuul</a></li>
  {% endif %}
  {% if 'storyboard' in roles %}
    <li><a href="/storyboard/" target="_top">Storyboard</a></li>
  {% endif %}
  {% if 'kibana' in roles %}
    <li><a href="/app/kibana" target="_top">Kibana</a></li>
  {% endif %}
  {% if 'etherpad' in roles %}
    <li><a href="/etherpad/" target="_top">Etherpad</a></li>
  {% endif %}
  {% if 'lodgeit' in roles %}
    <li><a href="/paste/" target="_top">Paste</a></li>
  {% endif %}
  {% if 'repoxplorer' in roles %}
    <li><a href="/repoxplorer/" target="_top">RepoXplorer</a></li>
  {% endif %}
  {% if 'hound' in roles %}
    <li><a href="/codesearch/" target="_top">Code-Search</a></li>
  {% endif %}
  {% if 'cgit' in roles %}
    <li><a href="/cgit/" target="_top">Git-Browser</a></li>
  {% endif %}
  {% if 'murmur' in roles %}
    <li><a href="mumble://{{ fqdn }}/?version=1.2.0">Mumble</a></li>
  {% endif %}
</ul>
<ul class="nav navbar-nav pull-right">
  {{ theme["topmenu_custom_entry"] }}
  {% if 'cauth' in roles %}
    <li><p class="navbar-text" id="login-msg"></p></li>
    <li><a href='/sf/user_settings.html' id="login-setting" style="display: none">Settings</a></li>
  {% endif %}
  {% if 'grafana' in roles %}
    <li><a href="/grafana" target="_top">Status</a></li>
  {% endif %}
  {% if 'cauth' in roles %}
    <li><p class="navbar-btn" style="padding-right: 4px">
      {% if 'gerrit' in roles %}
        <a id="logout-btn" style="display: none" href="/r/logout" target="_top" class="btn btn-danger">Logout</a>
      {% else %}
        <a id="logout-btn" style="display: none" href="/auth/logout" target="_top" class="btn btn-danger">Logout</a>
      {% endif %}
      <a id="login-btn" class="btn btn-primary">Login</a>
    </p></li>
  {% endif %}
    <li> </li>
</ul>
