<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <base target="_parent" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      {{ topmenu_links }}
    </div>
  </body>
{% if 'cauth' in roles %}
  <script type="text/javascript" src="/static/js/menu.js"></script>
{% endif %}
</html>
