---
- hosts: slave
  tasks:
    - name: include arch.yaml
      include_vars:
        file: /opt/sf/arch.yaml
        name: arch

    - name: Create build directory
      file:
        path: "{{ zuul.project.src_dir }}/build"
        state: directory

    - name: Check gerrit replication
      command: git config -f gerrit/replication.config -l
      args:
        chdir: "{{ zuul.project.src_dir }}"

    - name: Check gerrit commentlinks
      command: python -c "import yaml; 'commentlinks' in yaml.safe_load(open('gerrit/commentlinks.yaml'))"
      args:
        chdir: "{{ zuul.project.src_dir }}"

    - name: Check dashboards
      command: /usr/local/bin/sf-update-dashboard --check --input dashboards/
      args:
        chdir: "{{ zuul.project.src_dir }}"

    - name: Check policy file
      command: python -c "import yaml; yaml.safe_load(open('policies/policy.yaml'))"
      args:
        chdir: "{{ zuul.project.src_dir }}"

    - name: Validate repoxplorer configuration
      block:
        - name: Install fake repoxplorer config.py
          copy:
            remote_src: true
            src: /opt/sf/defconf-repoxplorer.py
            dest: "{{ zuul.project.src_dir }}/build/repoxplorer.py"

        - name: Check syntax errors in repoxplorer definition files
          command: >
            repoxplorer-config-validate --config build/repoxplorer/config.py
          args:
            chdir: "{{ zuul.project.src_dir }}"
      when: '"repoxplorer" in arch.roles'

    - name: Validate nodepoolV2 configuration
      block:
        - name: Create build/nodepool directory
          file:
            path: "{{ zuul.project.src_dir }}/build/nodepool"
            state: directory

        - name: Install nodepool.yaml
          copy:
            remote_src: true
            src: /var/lib/zuul/defconf-nodepool.yaml
            dest: "{{ zuul.project.src_dir }}/build/nodepool.yaml"

        - name: Merge nodepool config repo files
          command: >
            /usr/share/sf-config/scripts/sf-nodepool-conf-merger.py nodepool/nodepool.yaml
                ../build/nodepool/nodepool.yaml
          args:
            chdir: "{{ zuul.project.src_dir }}"

        - name: Run nodepool config-validate
          command: >
            nodepool -c ../build/nodepool/nodepool.yaml config-validate
          args:
            chdir: "{{ zuul.project.src_dir }}"
      when: '"nodepool-launcher" in arch.roles'

    - name: Validate nodepoolV3 configuration
      block:
        - name: Install fake _nodepool.yaml
          copy:
            remote_src: true
            src: /opt/sf/defconf-nodepool.yaml
            dest: "{{ zuul.project.src_dir }}/build/_nodepool.yaml"

        - name: Merge nodepool config repo files
          command: >
            /usr/share/sf-config/scripts/sf-nodepool-conf-merger.py
                nodepoolV3/ build/nodepool.yaml
          args:
            chdir: "{{ zuul.project.src_dir }}"

        - name: Run nodepool config-validate
          command: >
            /opt/rh/rh-python35/root/bin/nodepool -c build/nodepool.yaml
                config-validate
          args:
            chdir: "{{ zuul.project.src_dir }}"
      when: '"nodepool3-launcher" in arch.roles'

    - name: Validate zuulV2 configuration
      block:
        - name: Create build/zuul directory
          file:
            path: "{{ zuul.project.src_dir }}/build/zuul"
            state: directory

        - name: Install zuul.conf
          copy:
            remote_src: true
            src: /var/lib/zuul/defconf/defconf-zuul.conf
            dest: "{{ zuul.project.src_dir }}/build/zuul/zuul.conf"

        - name: Prepare zuul config repo files
          shell: /usr/share/sf-config/scripts/yaml-merger.py zuul | tee build/zuul/layout.yaml
          args:
            chdir: "{{ zuul.project.src_dir }}"

        - name: Copy *.py files to build/zuul directory
          synchronize:
            src: zuul/
            dest: build/zuul/
          args:
            chdir: "{{ zuul.project.src_dir }}"

        - name: Validate zuul config syntax
          command: >
            zuul-server -c build/zuul/zuul.conf -l build/zuul/layout.yaml -t
          args:
            chdir: "{{ zuul.project.src_dir }}"
      when: '"zuul-server" in arch.roles'

    - name: Validate zuulV3 configuration
      block:
        - name: Install fake zuul.conf
          copy:
            remote_src: true
            src: /opt/sf/defconf-zuul.conf
            dest: "{{ zuul.project.src_dir }}/build/zuul.conf"

        - name: Merge zuul config repo files
          command: >
            /usr/share/sf-config/scripts/zuul3-conf-merger.py
                zuulV3/ build/zuul.yaml
          args:
            chdir: "{{ zuul.project.src_dir }}"

        - name: Validate zuul config syntax
          command: >
            /opt/rh/rh-python35/root/bin/zuul-scheduler -c build/zuul.conf -t
          args:
            chdir: "{{ zuul.project.src_dir }}"
      when: '"zuul3-scheduler" in arch.roles'

    - name: Check resources changes
      command: /usr/local/bin/resources.sh validate
      args:
        chdir: "{{ zuul.project.src_dir }}"
