#!/bin/bash -e

# The /dev/./urandom is not a typo. https://stackoverflow.com/questions/58991966/what-java-security-egd-option-is-for
JAVA_OPTIONS="-Djava.security.egd=file:/dev/./urandom"
JAVA_OPTIONS="${JAVA_OPTIONS} -Djavax.net.ssl.keyStore=/var/gerrit/etc/keystore"
JAVA_OPTIONS="${JAVA_OPTIONS} -Djavax.net.ssl.keyStorePassword={{ gerrit_keystore_password }}"
JAVA_OPTIONS="${JAVA_OPTIONS} -Djavax.net.ssl.trustStore=/var/gerrit/etc/truststore"
JAVA_OPTIONS="${JAVA_OPTIONS} -Djavax.net.ssl.trustStorePassword=changeit"

configure_keystore () {
    keytool -importkeystore -srckeystore /var/gerrit/etc/{{ fqdn }}.pkcs12 \
      -srcstoretype PKCS12 -destkeystore /var/gerrit/etc/keystore \
      -srcstorepass {{ gerrit_keystore_password }} -deststorepass {{ gerrit_keystore_password }}
    keytool -importcert -alias {{ fqdn }}-root-ca \
      -file /etc/pki/tls/certs/ca-bundle.crt \
      -keystore /var/gerrit/etc/truststore -storepass changeit -noprompt
}

if [ -f "/var/gerrit/etc/{{ fqdn }}.pkcs12" ]; then
    rm -f /var/gerrit/etc/trustore
    rm -f /var/gerrit/etc/keystore
    configure_keystore
    rm -f /var/gerrit/etc/{{ fqdn }}.pkcs12
fi

if [ -f /var/gerrit/logs/.run_init ]; then
    echo "Initializing Gerrit site ..."
    java ${JAVA_OPTIONS} -jar /var/gerrit/bin/gerrit.war init -d /var/gerrit --batch --no-auto-start --skip-plugins
    java ${JAVA_OPTIONS} -jar /var/gerrit/bin/gerrit.war reindex -d /var/gerrit
    cp -u /var/gerrit-plugins/* /var/gerrit/plugins/
    rm -f /var/gerrit/logs/.run_init
fi

echo "Running Gerrit ..."
exec java ${JAVA_OPTIONS} -jar /var/gerrit/bin/gerrit.war daemon -d /var/gerrit
