SET @pubkey="{{ gerrit_admin_rsa_pub }}";
DELETE FROM account_ssh_keys WHERE  account_id=1;
INSERT INTO account_ssh_keys SELECT @pubkey,'Y',1,1;

SET @zuulkey="{{ zuul_rsa_pub }}";
SELECT @zuul_id := `account_id` FROM accounts WHERE preferred_email = 'zuul@{{ fqdn }}';
DELETE FROM account_ssh_keys WHERE account_id = @zuul_id;
INSERT INTO account_ssh_keys SELECT @zuulkey,'Y',@zuul_id,1;
