---
- name: Backup data
  synchronize:
    mode: pull
    src: "{{ item }}"
    dest: "{{ backup_dest }}/"
    delete: "yes"
    rsync_opts: --relative
  loop:
    - "{{ zuul_lib_dir }}/keys/"
    - "{{ zuul_lib_dir }}/tenant-secrets/"
    - "{{ zuul_conf_dir }}/"
