---
- name: "Setup logging configuration"
  template:
    src: "logging.yaml.j2"
    dest: "{{ zuul_conf_dir }}/{{ _logfile }}-logging.yaml"
    owner: "{{ owner }}"
    group: "{{ group }}"
  notify: restart zuul

- name: "Create log file"
  file:
    path: "{{ zuul_log_dir }}/{{ _logfile }}.log"
    owner: "{{ owner }}"
    group: "{{ group }}"
    state: touch
  changed_when: false
  notify: restart zuul
