---
- block:
    - name: Ensure zuul service is disabled
      service:
        name: zuul
        state: stopped
        enabled: "no"
      ignore_errors: "yes"
  when: sf_previous_version < 2.6

- name: Ensure state is removed
  file:
    path: /var/lib/software-factory/state/zuul_config
    state: absent
