---
- block:
    - name: Remove /var/lib/zuul*
      file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /var/lib/zuul
        - /var/lib/zuul3

    - name: Remove zuulv2
      yum:
        name: "zuul"
        state: absent
  when: sf_previous_version < 3.0
