---
- job:
    name: base
    parent: null
    description: The base job.
    pre-run: playbooks/base/pre
    post-run:
      - playbooks/base/post
    roles:
      - zuul: zuul-jobs
    timeout: 1800
    # Set attempts to 1 until it's working well
    attempts: 1
    secrets:
      - site_sflogs
    nodeset:
      nodes:
        - name: main
          label: hypervisor-oci

- job:
    name: linters
    parent: base
    description: A bash8, pip8, yamllint linter check.
    run: playbooks/linters/run
    nodeset:
      nodes:
        - name: main
          label: hypervisor-oci

- project:
    name: zuul-jobs
    check:
      jobs:
        - linters
    gate:
      jobs:
        - linters

{% if 'zuul' not in roles %}
- semaphore:
    name: semaphore-config-update
    max: 1

- job:
    name: config-check
    parent: base
    description: Validate the config repo.
    run: playbooks/config/check
    nodeset:
      nodes: []

- job:
    name: config-update
    parent: base
    description: Deploy config repo update.
    run: playbooks/config/update
    secrets:
      - site_install_server
    semaphore: semaphore-config-update
    nodeset:
      nodes: []

- project:
    name: config
    check:
      jobs:
        - config-check
    gate:
      jobs:
        - config-check
    post:
      jobs:
        - config-update
{% endif %}
