---
- job:
    name: base
    parent: null
    pre-run: playbooks/base/pre
    post-run:
      - playbooks/base/post
    roles:
      - zuul: zuul-jobs
    # Set attempts to 1 until it's working well
    attempts: 1

- job:
    name: base-test
    parent: base
    pre-run: playbooks/base-test/pre
    post-run:
      - playbooks/base-test/post

- job:
    name: linters
    parent: base
    run: playbooks/linters/run

- project:
    name: zuul-jobs
    check:
      jobs:
        - linters
