# This file is managed by ansible, don't edit
# It's the list of host sort by roles group.
{% for role in roles %}

[{{ role }}]
{% for host in roles[role] %}{% if 'install-server' in host['roles'] %}
localhost ansible_connection=local
{% else %}
{{ host['hostname'] }}
{% endif %}
{% endfor %}

{% endfor %}
