---
# This file is managed by ansible, don't edit

- hosts: localhost
  connection: local
  tasks:
    - pause:
        prompt: "WARNING: this playbook will *DESTROY* software factory data, press ENTER to continue or CTRL-C to abort"

# Call disable tasks with erase flag on
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}
{% if role != 'sf-mysql' and role != 'sf-install-server' %}
    - name: "{{ role }}"
      action: disable
      erase: True
{% if role == "sf-nodepool" %}
      nodepool_services: {{ host["nodepool_services"] }}
{% elif role == "sf-zuul" %}
      zuul_services: {{ host["zuul_services"] }}
{% endif %}
{% endif %}{% endfor %}

{% endfor %}
# Disable mysql after services
- hosts: mysql
  roles:
    - name: sf-mysql
      action: disable
      erase: True

# Disable install-server after mysql
- hosts: install-server
  roles:
    - name: sf-install-server
      action: disable
      erase: True

# Disable base at last (removes sf-config and sf-release)
- hosts: all
  roles:
    - name: sf-base
      action: disable
      erase: True

- hosts: all
  tasks:
    - file:
        path: /var/lib/software-factory
        state: absent
