---
# This file is managed by ansible, don't edit
# This playbook calls install tasks of ansible roles.

# Install sf-base role on all hosts
- hosts: all
  roles:
    - {name: "sf-base", action: "install"}
{% if 'influxdb' in roles %}
    - {name: "sf-telegraf", action: "install"}
{% endif %}

# Install lecm if needed
- hosts: gateway
  roles:
    - name: "sf-lecm"
      action: "install"
      when: "network.use_letsencrypt"

# Install all components
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}
    - name: "{{ role }}"
      action: "install"
{% for key, value in host['params'].items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endfor %}

{% endfor %}
