---
# Recover a backup
- hosts: localhost
  tasks:
    - name: "Signal journald"
      command: "logger sf_recover.yml: started"

# Start mysql
- hosts: mysql
  tasks:
    - yum:
        name: "mariadb-server"
        state: present
        disablerepo: "{{ yum_disable_repo|default(omit) }}"
        enablerepo: "{{ yum_enable_repo|default(omit) }}"
    - service:
        name: mariadb
        state: started

# Call restore task
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}
    - role: "{{ role }}"
      action: "restore"
      backup_src: "/var/lib/software-factory/backup/{{ role|replace('sf-', '') }}"
{% endfor %}

{% endfor %}
# Call sfconfig
- hosts: localhost
  tasks:
    - name: "Signal journald"
      command: "logger sf_recover.yml: ended"
