---
# This file is managed by ansible, don't edit

# Store current installed packages list
- hosts: all
  tasks:
    - name: "Store installed packages list"
      shell: rpm -qa | sort > /var/lib/software-factory/package_installed

# First turn off all component except gerrit
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}{% if role != 'sf-mysql' and role != 'sf-gerrit' %}
    - name: "{{ role }}"
      action: "disable"
      erase: False
{% for key, value in host['params'].items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}{% endfor %}

{% endfor %}

# Push config-repo changes now
- hosts: localhost
  connection: local
  tasks:
    - name: "Ensure zuul-jobs exists"
      file:
        path: /root/config/jobs-zuul
        state: directory

    - name: "Ensure defaults files are updated (prefixed by '_')"
      template:
        src: "{{'{{'}} item.src {{'}}'}}"
        dest: "/root/config/{{'{{'}} item.dest {{'}}'}}"
      with_items:
        - { src: /usr/share/sf-config/templates/_macros.yaml.j2, dest: jobs-zuul/_macros.yaml }
        - { src: /usr/share/sf-config/config-repo/jobs-zuul/_config.yaml,  dest: jobs-zuul/_config.yaml }
        - { src: /usr/share/sf-config/templates/_default_jobs.yaml.j2, dest: jobs/_default_jobs.yaml }
        - { src: /usr/share/sf-config/config-repo/zuul/_layout.yaml, dest: zuul/_layout.yaml }
      register: config_repo_status

    - block:
      - name: "Nothing to do (yet)"
        command: /bin/true
      when: sf_previous_version == "2.5.0"

    - name: "Push config-repo updates"
      command: chdir=/root/config {{'{{'}} item {{'}}'}}
      with_items:
        - git add jobs-zuul/_macros.yaml jobs-zuul/_config.yaml
        - git commit -a -m "Update default configuration (from {{'{{'}} sf_previous_version {{'}}'}} to {{'{{'}} sf_version {{'}}'}})"
        - git push git+ssh://gerrit/config master
      when: config_repo_status|changed

# Turn off gerrit
{% if 'gerrit' in roles %}
- hosts: gerrit
  tasks:
    - service:
        name: gerrit
        state: stopped
{% endif %}

- hosts: all
  vars:
    sf_release_url: "https://softwarefactory-project.io/repos/sf-release-{{'{{'}} sf_version {{'}}'}}.rpm"
  tasks:
    - name: "Install new release repo"
      yum:
        name: "{{'{{'}} sf_release_url {{'}}'}}"
        state: present
      when: sf_version != "master"

    - name: "Update packages"
      yum:
        name: "*"
        state: latest
        disablerepo: '{{'{{'}} yum_disable_repo|default(omit) {{'}}'}}'
        enablerepo: '{{'{{'}} yum_enable_repo|default(omit) {{'}}'}}'

# Start roles upgrade
- hosts: localhost
  connection: localhost
  roles:
    - {name: 'sf-install-server', action: 'upgrade'}

- hosts: all
  roles:
    - {name: 'sf-base', action: 'upgrade'}

{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}{% if role != 'sf-mysql' and role != 'sf-gerrit' %}
    - name: "{{ role }}"
      action: "upgrade"
{% for key, value in host['params'].items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}{% endfor %}

{% endfor %}
