---
- tenant:
    # Use empty name to fix bug with default status.json
    name: ''
    source:
{% if 'gerrit' in roles %}
      gerrit:
        config-projects:
          - zuul-jobs
#      openstack.org:
#        untrusted-projects:
#          - openstack-infra/zuul-jobs:
#              include: job
#              shadow: zuul-jobs
{% endif %}
