---
- hosts: localhost
  tasks:
    - name: Add log server ssh key
      command: ssh-add /etc/opt/rh/rh-python35/zuul/ssh_keys/logserver_rsa

    - name: Add log server to inventory
      add_host:
        name: {{ logserver_host }}
        groups: zuul_logserver
        ansible_user: loguser

    - name: Add log server to known hosts
      known_hosts:
        name: {{ logserver_host }}
        key: {{ logserver_host }} ssh-rsa {{ hostvars[logserver_host].ansible_ssh_host_key_rsa_public }}

    - name: Copy inventory to logs dir
      copy:
        src: "{{'{{'}} inventory_file {{'}}'}}"
        dest: "{{'{{'}} zuul.executor.log_root {{'}}'}}"

- hosts: zuul_logserver
  roles:
    - role: upload-logs
      zuul_logserver_root: /var/www/logs

- hosts: localhost
  tasks:
    - name: Return log URL to Zuul
      zuul_return:
        data:
          zuul:
            log_url: "https://{{ fqdn }}/logs/{{ '{{' }} hostvars[groups['zuul_logserver'][0]]['log_path'] {{'}}'}}"
