---
#- name: "Install requirements"
#  yum:
#    name: "rh-python35-k1s"
#    state: present
#    disablerepo: "{{ yum_disable_repo|default(omit) }}"
#    enablerepo: "{{ yum_enable_repo|default(omit) }}"
