---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"

- name: Install certificates
  copy:
    content: "{{ item.content }}"
    dest: "/etc/k1s/{{ item.dest }}.pem"
    mode: 0400
  loop:
    - content: "{{ k1s_crt }}"
      dest: "cert"
    - content: "{{ k1s_key }}"
      dest: "key"
    - content: "{{ k1s_chain }}"
      dest: "chain"

- name: Setup configuration
  copy:
    content: |
      K1S_TOKEN={{ k1s_token }}
      K1S_TLS_PATH=/etc/k1s
    dest: /etc/sysconfig/k1s
    mode: 0400

- name: Ensure mtu for default bridge
  lineinfile:
    path: /etc/cni/net.d/87-podman-bridge.conflist
    regexp: '^\s*"mtu":.*'
    insertafter: '^\s*"bridge":.*'
    line: '        "mtu": "{{ k1s_mtu }}",'

- name: Start service
  service:
    name: k1s
    state: started
    enabled: yes
