---
- tenant:
    name: 'local'
    source:
{% if 'gerrit' in roles %}
      gerrit:
        config-projects:
          - config
{% if not zuul_upstream_zuul_jobs %}
        untrusted-projects:
          - zuul-jobs
{% endif %}
{% endif %}
{% if zuul_upstream_zuul_jobs %}
      {{ openstack_connection_name }}:
        untrusted-projects:
          - openstack-infra/zuul-jobs:
              include:
                - job
                - project-template
              shadow: zuul-jobs
{% endif %}
