tickTime={{ zookeeper_tickTime }}
minSessionTimeout={{ zookeeper_minSessionTimeout }}
maxSessionTimeout={{ zookeeper_maxSessionTimeout }}

initLimit=10
syncLimit=5
dataDir={{ zookeeper_container_lib_dir }}

autopurge.purgeInterval={{ zookeeper_purgeInterval }}
autopurge.snapRetainCount=3

# See https://issues.apache.org/jira/browse/ZOOKEEPER-3056
snapshot.trust.empty=true

maxClientCnxns=60
standaloneEnabled=true
admin.enableServer=true

server.1={{ ansible_fqdn }}:2888:3888
serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
secureClientPort={{ zookeeper_secure_client_port }}
ssl.keyStore.location=/conf/server.pem
ssl.trustStore.location=/conf/zk-ca.pem

# Whitelist commands needed by zookeeper-explorer
4lw.commands.whitelist=mntr,ruok
