tickTime={{ zookeeper_tickTime }}
minSessionTimeout={{ zookeeper_minSessionTimeout }}
maxSessionTimeout={{ zookeeper_maxSessionTimeout }}

initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181

autopurge.purgeInterval=24

# See https://issues.apache.org/jira/browse/ZOOKEEPER-3056
zookeeper.snapshot.trust.empty=true
