---
_meta:
  config_version: 2
  type: config
config:
  dynamic:
    http:
      anonymous_auth_enabled: false
      xff:
        enabled: false
{% if readonly_user_autologin is defined and readonly_user_autologin | lower == 'basic' %}
        remoteIpHeader: "x-forwarded-for"
        internalProxies: "{{ fqdn }}"
{% endif %}
    authc:
      basic_internal_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 0
        authentication_backend:
          type: intern
        http_authenticator:
          type: basic
          challenge: {% if 'keycloak' in roles %}false{% else %}true{% endif %}

{% if 'keycloak' in roles %}
      openid_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 1
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: preferred_username
            roles_key: roles
            openid_connect_url: https://{{ fqdn }}/auth/realms/{{ keycloak_default_realm }}/.well-known/openid-configuration
            openid_connect_idp.enable_ssl: true
            openid_connect_idp.pemtrustedcas_filepath: "{{ opensearch_container_certs_dir }}/localCA.pem"
            openid_connect_idp.verify_hostname: false
            skip_users:
              - kibanaserver
        authentication_backend:
          type: noop
{% endif %}
