---
_meta:
  type: "internalusers"
  config_version: 2
admin:
  hash: {{ opensearch_admin_hash }}
  reserved: true
  backend_roles:
    - admin
  description: Admin user
  hidden: true
kibanaserver:
  hash: {{ opensearch_kibanaserver_hash }}
  reserved: true
  backend_roles:
    - kibanauser
  description: Kibanaserver user
  hidden: true
logstash:
  hash: {{ opensearch_logstash_hash }}
  reserved: false
  backend_roles:
    - logstash
  description: Logstash user
  hidden: true
zuul:
  hash: {{ opensearch_zuul_hash }}
  reserved: false
  backend_roles:
    - admin
  description: Zuul user
  hidden: true
