{% if 'index_name' in item %}
{
    "policy": {
        "policy_id": "{{ item.policy_name }}",
        "description": "Delete index after {{ item.retention_time | default('14d') }} for {{ item.index_name }}",
        "default_state": "hot",
        "states": [
            {
                "name": "hot",
                "actions": [],
                "transitions": [
                    {
                        "state_name": "delete",
                        "conditions": {
                            "min_index_age": "{{ item.retention_time | default('14d') }}"
                        }
                    }
                ]
            },
            {
                "name": "delete",
                "actions": [
                    {
                        "delete": {}
                    }
                ],
                "transitions": []
            }
        ],
        "ism_template": [
            {
                "index_patterns": [
                    "{{ item.index_name }}*"
                ],
                "priority": 1
            }
        ]
    }
}
{% else %}
{
  "policy": {
    "policy_id": "{{ item.policy_name }}",
    "description": "Delete all data after {{ item.retention_time | default('14d') }}",
    "default_state": "hot",
    "states": [
      {
        "name": "hot",
        "actions": [],
        "transitions": [
          {
            "state_name": "delete",
            "conditions": {
              "min_index_age": "{{ item.retention_time | default('14d') }}"
            }
          }
        ]
      },
      {
        "name": "delete",
        "actions": [
          {
            "delete": {}
          }
        ],
        "transitions": []
      }
    ]
  }
}
{% endif %}
