---
role_actions:
  - install
  - update
  - setup
  - get_logs
  - disable
  - backup
  - restore

gateway_host: localhost
nodepool_builder_host: ""
logserver_host: ""

welcome_page_path: "sf/welcome.html"

# Base64 encoded logo data
gateway_topmenu_logo_data: ""
gateway_favicon_data: ""
gateway_splash_image_data: ""

gateway_directories: ""
#  - name: dir_name
#    path: dir_path
#    owner: apache
#    group: apache
#    options:
#        - "option 1"
#        - "option 2"
