---
role_actions:
  - install
  - update
  - setup
  - get_logs
  - disable
  - backup
  - restore
  - upgrade

gateway_host: localhost
nodepool_builder_host: ""
logserver_host: ""

welcome_page_path: "sf/welcome.html"

# Base64 encoded logo data
gateway_topmenu_logo_data: ""
gateway_favicon_data: ""
gateway_splash_image_data: ""

# Default needed to generate _nodepool.yaml defconf
nodepool_conf_dir: "/etc/opt/rh/rh-python35/nodepool"
nodepool_lib_dir: "/var/opt/rh/rh-python35/lib/nodepool"
nodepool_log_dir: "/var/opt/rh/rh-python35/log/nodepool"
nodepool_sysconfig: "/etc/opt/rh/rh-python35/sysconfig/nodepool"
nodepool_webapp_port: 8006

gateway_directories: ""
#  - name: dir_name
#    path: dir_path
#    owner: apache
#    group: apache
#    options:
#        - "option 1"
#        - "option 2"
