[defaults]
inventory = /var/lib/software-factory/ansible/hosts
roles_path = /usr/share/sf-config/ansible/roles
log_path = /var/log/software-factory/ansible.log

gathering = smart
fact_caching = jsonfile
fact_caching_connection = /var/lib/software-factory/ansible/facts
fact_caching_timeout = 86400

internal_poll_interval = 0.01

[paramiko_connection]
record_host_keys = True

[ssh_connection]
ssh_args = -o ControlMaster=no
pipelining = true

[ara]
# Quick fix for 'module' object has no attribute 'DEBUG_LOG_FORMAT'
logfile = ""
dir = /var/lib/software-factory/ansible/ara
