dashboard:
  title: Nodepool
  rows:
    - title: Nodes
      showTitle: true
      height: 150px
      panels:
        - title: Building
          span: 2
          sparkline:
            full: true
            show: true
          type: singlestat
          valueName: current
