dashboard:
  title: Zuul Status
  rows:
{% for tenant in tenants %}
    - title: {{ tenant.name }} pipelines
      height: 150px
      showTitle: true
      panels:
{% for pipeline in tenant.pipelines %}
        - title: {{ pipeline | capitalize }}
          span: 2
          datasource: 'influxdb'
          sparkline:
            full: true
            show: true
          targets:
            - groupBy:
              - params: [$__interval]
                type: time
              - params: [0]
                type: fill
              measurement: zuul.tenant.{{ tenant.name }}.pipeline.{{ pipeline }}.current_changes
              orderByTime: ASC
              resultFormat: time_series
              select:
                - - params: [value]
                    type: field
                  - params: []
                    type: count
              tags:
                - key: metric_type
                  operator: '='
                  value: gauge
          type: singlestat
          valueName: current
{% endfor %}
    - title: Executor
      height: 250px
      showTitle: true
      panels:
        - title: Executors
          span: 6
          targets:
            - alias: online
              groupBy:
              - params: [$__interval]
                type: time
              - params: [none]
                type: fill
              measurement: zuul.executors.online
              orderByTime: ASC
              resultFormat: time_series
              select:
                - - params: [value]
                    type: field
                  - params: []
                    type: count
              tags:
                - key: metric_type
                  operator: '='
                  value: gauge
            - alias: accepting
              groupBy:
              - params: [$__interval]
                type: time
              - params: [none]
                type: fill
              measurement: zuul.executors.accepting
              orderByTime: ASC
              resultFormat: time_series
              select:
                - - params: [value]
                    type: field
                  - params: []
                    type: count
              tags:
                - key: metric_type
                  operator: '='
                  value: gauge
# Depends-on: https://review.openstack.org/542135
#          yaxes:
#            - decimals:        0
#              format:  short
#              label:   null
#              logBase: 1
#              max:     null
#              min:     null
#              show:    true
#            - decimals:        0
#              format:  short
#              label:   null
#              logBase: 1
#              max:     null
#              min:     null
#              show:    true
          type: graph
        - title: Running Builds
          span: 6
          targets:
            # TODO: figure this out...
            - target: aliasByNode(stats.gauges.zuul.executor.*.running_builds, 4)
          type: graph
{% endfor %}
