mqtt:
  host: {{ firehose_host }}
  port: 1883
elasticsearch:
  host: {{ elasticsearch_host }}
  port: {{ elasticsearch_http_port }}
  http_auth: admin:{{ elasticsearch['elasticsearch_password'] | default(elasticsearch_password) }}
  use_ssl: true
  verify_certs: true
