#!/bin/bash

RETENTION_DAYS="{{ logs_expiry }}"
LOG_DIRECTORY="/var/www/logs"

[ ! -d $LOG_DIRECTORY ] && exit 0

find $LOG_DIRECTORY -type f -mtime +$RETENTION_DAYS -delete
find $LOG_DIRECTORY -type d ! -path $LOG_DIRECTORY -empty -delete
