---
- name: "Install launcher package"
  yum:
    name: "{{ item }}"
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"
  with_items: "{{ nodepool_launcher_packages }}"
  when: '"nodepool-launcher" in nodepool_services'

- name: "Install builder package"
  yum:
    name: "{{ item }}"
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"
  with_items: "{{ nodepool_builder_packages }}"
  when: '"nodepool-builder" in nodepool_services'

- name: "Install package for config-check"
  yum:
    name: "nodepool"
    state: present
    disablerepo: "{{ yum_disable_repo|default(omit) }}"
    enablerepo: "{{ yum_enable_repo|default(omit) }}"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['zuul-executor'] }}"
