---
- name: Ensure /var/lib/software-factory/state/nodepool_config exists
  file:
    path: /var/lib/software-factory/state/nodepool_config
    state: touch
  changed_when: False

- name: Check last applied Nodepool config checksum
  command: cat /var/lib/software-factory/state/nodepool_config
  changed_when: False
  register: localconfig

- name: Check new Nodepool config checksum
  shell: git log -n 3 --oneline nodepool/ && md5sum /var/lib/software-factory/conf/nodepool.yaml
  args:
    chdir: /root/config
  changed_when: False
  register: upstreamconfig

- name: Update nodepool configuration
  command: "{{ item }}"
  args:
    chdir: /root/config
  loop:
    - cp /var/lib/software-factory/conf/nodepool.yaml nodepool/_nodepool.yaml
    - env - /bin/managesf-configuration nodepool --output "{{ nodepool_conf_dir }}/nodepool.yaml"
    - rsync -avi --delete nodepool/elements/ "{{ nodepool_conf_dir }}/elements/"
    - rsync -avi --delete nodepool/virt_images/ "{{ nodepool_conf_dir }}/virt_images/"

- name: Ensure service are started and enabled
  service:
    name: "{{ item }}"
    state: started
    enabled: "yes"
  loop: "{{ nodepool_services }}"

- name: Restart service when fqdn is updated to refresh statsd client
  service:
    name: "{{ item }}"
    state: restarted
  loop: "{{ nodepool_services }}"
  when: update_fqdn

- name: Write config repo checksum matching current configuration
  copy:
    content: "{{ upstreamconfig.stdout }}"
    dest: /var/lib/software-factory/state/nodepool_config
  when: localconfig.stdout != upstreamconfig.stdout
