---
- block:
    - name: "Delete oci slave that doesn't have node id"
      shell: >
        for node in $(nodepool3 list | awk '/oci/ { print $2 }'); do
            nodepool3 delete ${node}
        done

    - name: Ensure /var/lib/nodepool/oci/host-rootfs is not mounted
      command: umount /var/lib/nodepool/oci/host-rootfs/
      ignore_errors: yes

    # Repeat that task because previous nodepool driver could double mount that directory
    - name: Ensure /var/lib/nodepool/oci/host-rootfs is not mounted
      command: umount /var/lib/nodepool/oci/host-rootfs/
      ignore_errors: yes

    - name: Remove /var/lib/nodepool*
      file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /var/lib/nodepool
        - /var/lib/nodepool3
        - /usr/bin/nodepool

    - name: Remove nodepoolv2
      yum:
        name: "nodepool"
        state: absent
  when: sf_previous_version < 3.0
