---
- block:
    - name: Ensure nodepoold package is removed
      yum:
        name: nodepoold
        state: absent

    - name: Ensure nodepool service is disabled
      service:
        name: nodepool
        state: stopped
        enabled: "no"
      ignore_errors: "yes"

    - name: Add comment column
      command: mysql nodepool -e "alter table node add column comment varchar(255)"
      delegate_to: 127.0.0.1
  when: sf_previous_version < 2.6
