---
- name: "Backup data"
  synchronize:
    mode: pull
    src: "{{ item }}"
    dest: "{{ backup_dest }}/"
    delete: "yes"
    rsync_opts: --relative
  with_items:
    - /var/lib/software-factory/bootstrap-data
    - /root/config
    - /etc/software-factory
