---
- name: Disable services
  service:
    name: rsyncd
    state: stopped
    enabled: "no"

- block:
    - name: Remove crontabs
      cron:
        name: "{{ item }}"
        state: absent
      with_items:
        - backup_gerrit
        - auto_backup
        - auto_backup_scp
        - update_status_page

    - name: Remove files
      file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /etc/auto_backup.conf
        - /root/config
        - /root/zuul-jobs
        - /root/sf-jobs
        - /root/demo-project
        - /root/demo-project-distgit
        - /root/.ssh/known_hosts
        - /var/lib/software-factory/git

    - name: Remove packages
      yum:
        name: "{{ item }}"
        state: absent
      with_items:
        - python2-sfmanager
  when: erase == True
