---
- name: Setup ~/.ansible.cfg
  copy:
    src: /usr/share/sf-config/ansible/ansible.cfg
    dest: /root/.ansible.cfg
    remote_src: true

- name: Initalize version control for yaml files
  shell: git init .; git add *; git commit -m 'init'
  args:
    chdir: /etc/software-factory/
    creates: /etc/software-factory/.git

- name: Initialize git access
  template:
    src: sshconfig.j2
    dest: /root/.ssh/config

- name: Initialize git config
  template:
    src: gitconfig.j2
    dest: /root/.gitconfig

- name: Enforce secure mode in /etc/software-factory
  file:
    path: /etc/software-factory
    mode: 0700
    owner: root
