---
- name: Setup ~/.ansible.cfg
  copy:
    src: /usr/share/sf-config/ansible/ansible.cfg
    dest: /root/.ansible.cfg
    remote_src: true

- name: Initalize version control for yaml files
  shell: git init .; git add *; git commit -m 'init'
  args:
    chdir: /etc/software-factory/
    creates: /etc/software-factory/.git

- name: Initialize git access
  template:
    src: sshconfig.j2
    dest: /root/.ssh/config

- name: Initialize git config
  template:
    src: gitconfig.j2
    dest: /root/.gitconfig

- name: Install backup trigger job
  copy:
    src: "{{ item.name }}"
    dest: "/usr/local/bin/{{ item.name }}"
    mode: 0500
  with_items:
    - {name: export_backup_swift.sh}
    - {name: export_backup_scp.sh}

- name: Install auto_backup.conf
  template:
    src: auto_backup.conf.j2
    dest: /etc/auto_backup.conf
    mode: 0440

- name: Disable backup crontab
  cron:
    name: "{{ item }}"
    state: "absent"
    user: root
  with_items:
    - backup_gerrit # old legacy sfmanager backup_start command
    - auto_backup
    - auto_backup_scp
  when: backup_disabled

- block:
    - name: Install crontab for Swift export nightly jobs
      cron:
        name: auto_backup
        job: /usr/local/bin/export_backup_swift.sh
        user: root
        hour: 5
        minute: 0
      when: backup_method == "swift"

    - name: Install crontab for scp export nightly jobs
      cron:
        name: auto_backup_scp
        job: /usr/local/bin/export_backup_scp.sh
        user: root
        hour: 5
        minute: 0
      when: backup_method == "scp"

    - name: Disable Swift export nightly job if using scp
      cron:
        name: "{{ item }}"
        state: absent
      with_items:
        - auto_backup_scp
        - backup_gerrit
      when: backup_method == "swift"

    - name: Disable scp export nightly job if using Swift
      cron:
        name: "{{ item }}"
        state: absent
      with_items:
        - auto_backup_scp
        - backup_gerrit
      when: backup_method == "scp"
  when: not backup_disabled
