---
- name: Check for ara.cfg
  stat:
    path: /var/lib/software-factory/ansible/ara.cfg
  register: _ara_cfg

- name: Setup logrotate.conf
  copy:
    src: logrotate.conf
    dest: /etc/logrotate.d/software-factory

- name: Setup ~/.ansible.cfg
  copy:
    src: /var/lib/software-factory/ansible/ara.cfg
    dest: /root/.ansible.cfg
    remote_src: true
  when: _ara_cfg.stat.exists

- name: Setup git access to remote gerrit
  blockinfile:
    path: /root/.ssh/config
    create: yes
    mode: 0644
    block: |
      Host {{ item.hostname }}
        User {{ item.username }}
        Port {{ item.port|default(29418) }}
  with_items: "{{ zuul_gerrit_connections }}"

- name: Setup default ansible.cfg
  copy:
    src: /usr/share/sf-config/ansible/ansible.cfg
    dest: /root/.ansible.cfg
    remote_src: true
  when: not _ara_cfg.stat.exists

- name: Initalize version control for yaml files
  shell: git init .; git add *; git commit -m 'init'
  args:
    chdir: /etc/software-factory/
    creates: /etc/software-factory/.git

- name: Validate remote-repository
  block:
    - name: Validate access to config repository
      command: "git ls-remote {{ config_location }}"
      register: _config_remote_ls

    - name: Force config re-creation if empty remote
      file:
        path: /root/config
        state: absent
      when: not _config_remote_ls.stdout

    - name: Validate access to jobs repository
      command: "git ls-remote {{ sf_jobs_location }}"
      register: _jobs_remote_ls

    - name: Force config re-creation if empty remote
      file:
        path: /root/sf-jobs
        state: absent
      when: not _jobs_remote_ls.stdout
  when: remote_config_repositories
