---
- name: Setup ~/.ansible.cfg
  copy:
    src: /var/lib/software-factory/ansible/ara.cfg
    dest: /root/.ansible.cfg
    remote_src: true

- name: Initalize version control for yaml files
  shell: git init .; git add *; git commit -m 'init'
  args:
    chdir: /etc/software-factory/
    creates: /etc/software-factory/.git

- name: Initialize git access
  template:
    src: sshconfig.j2
    dest: /root/.ssh/config

- name: Initialize git config
  template:
    src: gitconfig.j2
    dest: /root/.gitconfig
