---
- name: Check for ara.cfg
  stat:
    path: /var/lib/software-factory/ansible/ara.cfg
  register: _ara_cfg

- name: Setup logrotate.conf
  copy:
    src: logrotate.conf
    dest: /etc/logrotate.d/software-factory

- name: Setup ~/.ansible.cfg
  copy:
    src: /var/lib/software-factory/ansible/ara.cfg
    dest: /root/.ansible.cfg
    remote_src: true
  when: _ara_cfg.stat.exists

- name: Setup default ansible.cfg
  copy:
    src: /usr/share/sf-config/ansible/ansible.cfg
    dest: /root/.ansible.cfg
    remote_src: true
  when: not _ara_cfg.stat.exists

- name: Initalize version control for yaml files
  shell: git init .; git add *; git commit -m 'init'
  args:
    chdir: /etc/software-factory/
    creates: /etc/software-factory/.git

- name: Fetch config repo public key
  get_url:
    url: "{{ remote_zuul_url }}/keys/{{ sf_tenant_name }}/{{ config_repo_name }}.pub"
    dest: /var/lib/software-factory/bootstrap-data/certs/config.pub
  when: remote_zuul_url is defined
