---
- name: "Install configuration file"
  template:
    src: config.py.j2
    dest: /etc/repoxplorer/config.py

- name: "Remove index.yaml example definition"
  file:
    path: /etc/repoxplorer/index.yaml
    state: absent

- name: "Install top menu for repoxplorer"
  lineinfile:
    dest: /usr/share/repoxplorer/public/{{ item }}
    insertafter: '        <script src="javascript/moment.min.js"></script>'
    line: '    <script src="/static/js/topmenu.js"></script>'
  with_items:
    - project.html
    - projects.html
    - group.html
    - home.html
    - groups.html
    - contributor.html
    - contributors.html
    - index.html

- name: "Install resources2repoxplorer"
  template:
    src: resources2repoxplorer.py.j2
    dest: /usr/local/bin/resources2repoxplorer.py
    mode: 0755

- name: Create override directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - /etc/systemd/system/repoxplorer.service.d
    - /etc/systemd/system/repoxplorer-webui.service.d

- name: Set wait4service for repoxplorer
  blockinfile:
    path: /etc/systemd/system/repoxplorer.service.d/override.conf
    create: yes
    block: |
      [Service]
      ExecStartPre=/usr/bin/wait4service {{ elasticsearch_host }} 9200
  register: repoxplorer_override

- name: Set wait4service for repoxplorer-webui
  blockinfile:
    path: /etc/systemd/system/repoxplorer-webui.service.d/override.conf
    create: yes
    block: |
      [Service]
      ExecStartPre=/usr/bin/wait4service {{ elasticsearch_host }} 9200
  register: repoxplorer_webui_override

- name: Daemon reload
  command: systemctl daemon-reload
  when: repoxplorer_override is changed or repoxplorer_webui_override is changed

- name: Restart repoxplorer when fqdn is updated
  systemd:
    name: "{{ item }}"
    state: restarted
    when: update_fqdn
  with_items:
    - repoxplorer-webui
    - repoxplorer

- name: Start service
  systemd:
    name: "{{ item }}"
    state: started
    daemon_reload: "yes"
    enabled: "yes"
  with_items:
    - repoxplorer-webui
    - repoxplorer
