---
- file:
    path: /var/lib/software-factory/state/repoxplorer_config
    state: touch

- name: Check local repoxplorer config
  command: cat /var/lib/software-factory/state/repoxplorer_config
  register: localconfig
  changed_when: false

- name: Check upstream repoxplorer config
  command: git log -n 3 --oneline repoxplorer/ resources/
  args:
    chdir: /root/config
  register: upstreamconfig
  changed_when: false

- name: Update repoXplorer configuration
  block:
    - name: Update local repoxplorer configuration files
      copy:
        src: "{{ item }}"
        dest: "/etc/repoxplorer/"
      with_fileglob:
        - "/root/config/repoxplorer/*"

    - include_tasks: "{{ sf_tasks_dir }}/fetch_update_configuration.yml service_name=repoxplorer service_config_dir=/etc/repoxplorer service_config_name=default.yaml"
      when: localconfig.stdout != upstreamconfig.stdout

    - name: Write config repo sha1 matching current repoxplorer configuration
      copy:
        content: "{{ upstreamconfig.stdout }}"
        dest: /var/lib/software-factory/state/repoxplorer_config
  when: localconfig.stdout != upstreamconfig.stdout
