---
- name: Ensure services stopped
  service:
    name: "{{ item }}"
    state: stopped
  loop:
    - rh-python35-repoxplorer
    - rh-python35-repoxplorer-webui

- name: Delete old repoxplorer elasticsearch indices
  command: 'curl -X DELETE "http://elasticsearch.{{ fqdn }}:9200/{{ item }}"'
  ignore_errors: true
  args:
    warn: no
  loop:
    - repoxplorer
    - repoxplorer-users
    - repoxplorer-projects

- name: Ensure services started
  service:
    name: "{{ item }}"
    state: started
  loop:
    - rh-python35-repoxplorer
    - rh-python35-repoxplorer-webui
