---
- name: Ensure services stopped
  service:
    name: "{{ item }}"
    state: stopped
  loop:
    - repoxplorer
    - repoxplorer-webui

- name: Delete old repoxplorer elasticsearch indices
  command: 'curl -k -X DELETE "{{ elasticsearch_internal_url }}/{{ item }}"'
  ignore_errors: true
  args:
    warn: no
  loop:
    - repoxplorer
    - repoxplorer-users
    - repoxplorer-projects
