---
role_actions:
  - install
  - setup
  - config_update
  - get_logs
  - disable

role_package: managesf

container_uid: 1000
container_gid: 1000
owner: "{{ role_package }}"
group: "{{ role_package }}"

managesf_loglevel: INFO
managesf_root_loglevel: WARNING

managesf_port: 20001

managesf_mysql_host: "mysql.example.com"
managesf_mysql_port: 3306
managesf_mysql_db: "managesf"
managesf_mysql_user: "managesf"
managesf_mysql_password: "CHANGE_ME"

nodepool_conf_dir: "/etc/nodepool"
nodepool_lib_dir: "/var/lib/nodepool"
nodepool_webapp_port: 8006

managesf_version: 0.29.0
managesf_container_version: "{{ managesf_version }}-1"

managesf_config_dir: /etc/managesf
managesf_log_dir: /var/log/managesf
managesf_lib_dir: /var/lib/managesf

managesf_components:
  - service: "{{ role_package }}"
    image: "quay.io/software-factory/{{ role_package }}:{{ managesf_container_version }}"
    params: >-
      --network host
      --uidmap {{ container_uid }}:{{ managesf_uid | default(1000) }}:1
      --gidmap {{ container_gid }}:{{ managesf_gid | default(1000) }}:1
      --uidmap 0:4000:1000
      --gidmap 0:4000:1000
      --volume {{ managesf_config_dir }}/config.py:{{ managesf_config_dir }}/config.py:Z
      --volume {{ managesf_config_dir }}/policy.yaml:{{ managesf_config_dir }}/policy.yaml:Z
      --volume {{ managesf_log_dir }}:{{ managesf_log_dir }}:Z
      --volume {{ managesf_lib_dir }}:{{ managesf_lib_dir }}:Z
      --volume {{ managesf_lib_dir }}/managesf-resources:/var/lib/software-factory/managesf-resources:Z
