---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"

- name: Configure cgitrc
  lineinfile:
    dest: /etc/cgitrc
    regexp: "^{{ item.key }}=.*"
    line: "{{ item.key }}={{ item.value }}"
  loop:
    - {key: "include", value: "/etc/cgitrepos"}
    - {key: "logo", value: ""}

- name: Setup cgit config generator
  template:
    src: cgit-config-generator.py.j2
    dest: /usr/local/bin/cgit-config-generator.py
    mode: 0755

- name: Check if repo are already configured
  stat:
    path: /etc/cgitrepos
  register: _cgit_config

- name: Install a default configuration for internal repos
  copy:
    content: |
      repo.url=config
      repo.path=/var/lib/software-factory/git/config.git
      repo.url=sf-jobs
      repo.path=/var/lib/software-factory/git/sf-jobs.git
      repo.url=zuul-jobs
      repo.path=/var/lib/software-factory/git/zuul-jobs.git
    dest: /etc/cgitrepos
  when: not _cgit_config.stat.exists
