---
- name: "Fetch cauth logs"
  synchronize:
    mode: pull
    src: /var/log/cauth/
    dest: "{{ log_dest }}/log"
  ignore_errors: true

- name: "Fetch cauth config"
  synchronize:
    mode: pull
    src: "/etc/cauth/{{ item }}"
    dest: "{{ log_dest }}/{{ item }}"
  loop:
    - config.py
    - groups.yaml
  ignore_errors: true
