---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"

- include_tasks: "{{ sf_tasks_dir }}/setup_cauth_client.yml"

- name: Set cauth log labels
  file:
    path: /var/log/cauth
    setype: httpd_log_t
    owner: apache
    group: apache
    mode: "0750"

- name: Install cauth config files
  template:
      src: "{{ item.name }}.j2"
      dest: "{{ item.dest }}/{{ item.name }}"
      mode: 0444
      owner: apache
      group: apache
  notify: apache reload
  loop:
      - {name: config.py, dest: /etc/cauth}
      - {name: login.html, dest: /etc/cauth/templates}

- name: Install cauth files
  copy:
      src: "{{ item.name }}"
      dest: "{{ item.dest }}/{{ item.real_name | default(item.name) }}"
  notify: apache reload
  loop:
      - {name: cauth.site, real_name: cauth.conf, dest: /etc/httpd/conf.d/}
      - {name: app.wsgi, dest: /var/www/cauth/}

- name: Install cauth private key
  copy:
      content: "{{ cauth_privkey }}"
      dest: /var/lib/cauth/keys/privkey.pem
      owner: root
      group: apache
      mode: 0440
      setype: httpd_sys_content_t

- include_tasks: saml2.yaml
  when: not authentication.SAML2.disabled

- name: Touch groups.yaml
  file:
    path: /etc/cauth/groups.yaml
    state: touch
