---
- include_tasks: "{{ sf_tasks_dir }}/check_version.yml"
- name: Execute upgrade tasks
  include_tasks: upgrade.yml
  when: _version is changed
  notify: apache reload
- include_tasks: "{{ sf_tasks_dir }}/write_version.yml"

- include_tasks: "{{ sf_tasks_dir }}/setup_cauth_client.yml"

- name: Hash admin password
  shell: python <<<"{{hash_code}}'{{authentication.admin_password}}'{{hash_code_end}}"
  register: admin_password_hashed
  changed_when: false

- name: Hash service user password
  shell: python <<<"{{hash_code}}'{{sf_service_user_password}}'{{hash_code_end}}"
  register: service_user_password_hashed
  changed_when: false

# TODO: do not update cauth config if password didn't changed
- name: Install cauth config files
  template:
      src: "{{ item.name }}.j2"
      dest: "{{ item.dest }}/{{ item.name }}"
      mode: 0444
      owner: apache
      group: apache
  notify: apache reload
  with_items:
      - {name: config.py, dest: /etc/cauth}
      - {name: login.html, dest: /etc/cauth/templates}

- name: Install cauth files
  copy:
      src: "{{ item.name }}"
      dest: "{{ item.dest }}/{{ item.real_name | default(item.name) }}"
  notify: apache reload
  with_items:
      - {name: cauth.site, real_name: cauth.conf, dest: /etc/httpd/conf.d/}
      - {name: app.wsgi, dest: /var/www/cauth/}

- name: Install cauth private key
  copy:
      content: "{{ cauth_privkey }}"
      dest: /var/lib/cauth/keys/privkey.pem
      owner: root
      group: apache
      mode: 0440
      setype: httpd_sys_content_t

- include_tasks: saml2.yaml
  when: not authentication.SAML2.disabled
