---
- include_tasks: "{{ sf_tasks_dir }}/setup_cauth_client.yml"

# TODO: remove this once cauth package release 5 is used
- name: Fix /var/log/cauth insecure permissions
  file:
    path: /var/log/cauth
    owner: apache
    group: apache
    mode: 0750
    state: directory

- name: Hash admin password
  shell: python <<<"{{hash_code}}'{{authentication.admin_password}}'{{hash_code_end}}"
  register: admin_password_hashed
  changed_when: false

- name: Hash service user password
  shell: python <<<"{{hash_code}}'{{sf_service_user_password}}'{{hash_code_end}}"
  register: service_user_password_hashed
  changed_when: false

- name: Install cauth config files
  template:
      src: "{{ item.name }}.j2"
      dest: "{{ item.dest }}/{{ item.name }}"
      mode: 0444
      owner: apache
      group: apache
  notify: apache reload
  with_items:
      - {name: config.py, dest: /etc/cauth}
      - {name: login.html, dest: /etc/cauth/templates}

- name: Install cauth files
  copy:
      src: "{{ item.name }}"
      dest: "{{ item.dest }}/{{ item.real_name | default(item.name) }}"
  notify: apache reload
  with_items:
      - {name: cauth.site, real_name: cauth.conf, dest: /etc/httpd/conf.d/}
      - {name: app.wsgi, dest: /var/www/cauth/}

- name: Install cauth private key
  copy:
      content: "{{ cauth_privkey }}"
      dest: /var/lib/cauth/keys/privkey.pem
      owner: root
      group: apache
      mode: 0440
      setype: httpd_sys_content_t

- name: Fetch the IdP metadata
  block:
    - copy:
        src: "{{ idp_md_file }}"
        dest: /etc/httpd/saml2/idp_metadata.xml
        mode: 0444
        owner: apache
        group: apache
      when: idp_md_file is defined
    - get_url:
        url: "{{ idp_md_url }}"
        dest: /etc/httpd/saml2/idp_metadata.xml
        mode: 0444
        owner: apache
        group: apache
      when: idp_md_url is defined
  when: idp_md_url is defined or idp_md_file is defined

- name: Check for the presence of IdP metadata
  stat:
    path: /etc/httpd/saml2/idp_metadata.xml
  register: idp_metadata

- include_tasks: saml2_idp.yaml
  when: not authentication.SAML2.disabled and idp_metadata.stat.exists

- include_tasks: saml2.yaml
  when: not authentication.SAML2.disabled
